<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Jetsave Destinations: Dreams Become Reality When You Travel</title>
    <!-- Bootstrap CSS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
    <script src="/assets/js/hideshow.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/assets/css/jetsavecss.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/loader.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/mobilenav.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/seprateblog.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/mobile.css">

    <link rel="stylesheet" type="text/css" media="(max-width: 600px)" href="/assets/css/jetsave-tablet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min.js"
        integrity="sha256-BuxrUdr/4YoztQLxT6xmdO6hSQw2d6BtBUY1pteGds4=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<style>
    .link a {
        color : black;
    }

    .link a :hover {
        color : black;
    }
</style>
<body>

<div class="col-sm-12 col-lg-3 sidebar">
    <h3 class="services">Services</h3>
    <ul class="link">
                <a href=" https://jetsavetours.in/VisaRequirementsForm "><li><img src="http://pluspng.com/img-png/simple-arrow-decorative-divider-png-512.png"
                style="width: 21%;"> Visa Services</li></a>
                <a href="/our-destination/India-Sri-Lanka-Destination"><li><img src="http://pluspng.com/img-png/simple-arrow-decorative-divider-png-512.png"
                style="width: 21%;"> India</li></a>
                <a href="/our-destination/India-Sri-Lanka-Destination"><li><img src="http://pluspng.com/img-png/simple-arrow-decorative-divider-png-512.png"
                style="width: 21%;"> Srilanka</li></a>
                <a href="/our-destination/East-Europe"> <li><img src="http://pluspng.com/img-png/simple-arrow-decorative-divider-png-512.png"
                style="width: 21%;"> East Europe</li></a>
                <a href="/our-destination/austraila"><li><img src="http://pluspng.com/img-png/simple-arrow-decorative-divider-png-512.png"
                style="width: 21%;"> Austraila</li></a>
                <a href="/our-destination/africa"> <li><img src="http://pluspng.com/img-png/simple-arrow-decorative-divider-png-512.png"
                style="width: 21%;"> Africa</li></a>
                <a href="/our-destination/west-europe"><li><img src="http://pluspng.com/img-png/simple-arrow-decorative-divider-png-512.png"
                style="width: 21%;"> West Europe</li></a>
                <a href="/our-destination/South-East-Asia"><li><img src="http://pluspng.com/img-png/simple-arrow-decorative-divider-png-512.png"
                style="width: 21%;"> South East Asia</li></a>
                <a href="/our-destination/north-america"><li><img src="http://pluspng.com/img-png/simple-arrow-decorative-divider-png-512.png"
                style="width: 21%;"> North America</li></a>
    </ul>
</div>


 <!-- ajax CDN,  Popper.js CDN and Bootstrap JS -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</body>
</html>
