<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Princely Rajasthan</title>
        <link rel="shortcut icon" type="image/png" href="../../img/logo.png" />
        <!-- jquery cdn -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
            </script>
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
         <!-- Custom css -->
        <!-- maincss file  -->
        <link rel="stylesheet" type="text/css" href="../../assets/css/jetsavecss.css">
        <!-- popup css file -->
        <link rel="stylesheet" type="text/css" href="../../assets/css/popup.css">
    
        <!-- tablet view css file -->
        <link rel="stylesheet" type="text/css" media="(max-width: 600px)" href="../../assets/css/jetsave-tablet.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
            integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    
    
    </head>

<body>
  

       <!-- Loading Component -->
   <%- include('../../partials/loading') %>
    
   <!-- Header Component -->
   <%- include('../../partials/header') %>

    <!-- main container -->
    <!-- Top section with a itin img -->
    <section class="container-fluid full-width itbg iticon"
        style=" background-image: url(/CSS/img/jetsave/Rajasthan/top.jpg); height:100%; width: 100%; background-position: center center;background-size: cover;background-repeat: no-repeat;">
        <div class="row full-width white ">
            <!-- heading of itinerary -->
            <div class="col-sm-6 itibgh1">
                <h1 style="background-color: #2b252599;">
                    Tour of the Quintessential Land of Maharajas, Rajasthan</h1>
            </div>
            <div class="col-sm-5">
                <div class="row full-width">
                    <div class="col-sm-6">
                        <span id="pchoice1" class="full-width">
                            <div class="text-center">
                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="400px"
                                    height="400px" viewBox="0 0 400 400" enable-background="new 0 0 400 400"
                                    xml:space="preserve" class="svgicon">
                                    <g>
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M157.666,57.858c28.322,0,56.27,0,84.615,0c0-0.901-0.01-1.772,0.002-2.642
											c0.1-7.765-0.173-15.557,0.387-23.289c1.122-15.49,15.255-30.724,32.307-31.235c8.04-0.242,16.238-0.48,24.132,0.762
											c15.104,2.377,27.244,17.063,27.707,32.359c0.214,7.079,0.076,14.168,0.098,21.253c0.003,0.828,0,1.656,0,2.736
											c0.949,0.042,1.752,0.109,2.555,0.109c8.228,0.008,16.465,0.261,24.682-0.051c15.111-0.574,29.353,12.266,29.332,29.379
											c-0.118,94.465-0.059,188.931-0.055,283.396c0,10.166-4.226,18.233-12.196,24.374c-4.1,3.158-8.873,4.609-14.011,4.896
											c-1.216,0.068-2.437,0.072-3.655,0.072c-102.465,0.003-204.929-0.014-307.394,0.023c-12.685,0.005-21.56-5.848-27.192-16.974
											c-1.897-3.75-2.447-7.828-2.448-11.978c-0.009-94.617-0.022-189.235,0.009-283.854c0.004-13.777,8.841-25.536,21.307-28.451
											c2.564-0.6,5.274-0.761,7.921-0.792c8.15-0.099,16.303-0.036,24.454-0.036c0.827,0,1.654,0,2.812,0c0-0.979,0-1.786,0-2.593
											c0.007-6.704-0.084-13.41,0.041-20.111c0.313-16.729,12.402-31.396,28.88-34.047c9.459-1.522,19.211-1.699,28.647,0.359
											c15.412,3.362,26.688,17.648,27.021,33.55c0.14,6.701,0.036,13.407,0.043,20.111C157.666,56.006,157.666,56.827,157.666,57.858z
											 M355.112,143.648c-103.558,0-206.892,0-310.2,0c0,76.098,0,152.021,0,227.976c103.473,0,206.805,0,310.2,0
											C355.112,295.563,355.112,219.691,355.112,143.648z M129.393,69.028c0-10.667,0.029-21.333-0.014-32
											c-0.018-4.57-2.382-7.204-6.684-7.317c-4.873-0.128-9.753-0.129-14.626-0.003c-4.134,0.107-6.4,2.406-6.788,6.532
											c-0.071,0.756-0.078,1.521-0.078,2.282c-0.004,20.19-0.004,40.38,0,60.57c0,0.761,0.01,1.526,0.082,2.282
											c0.397,4.188,2.604,6.367,6.784,6.468c4.341,0.104,8.685,0.061,13.027,0.046c6.099-0.021,8.292-2.199,8.298-8.232
											C129.404,89.446,129.396,79.237,129.393,69.028z M270.555,68.922c0,10.59-0.034,21.181,0.017,31.771
											c0.022,4.61,2.446,7.069,7.03,7.164c4.493,0.093,8.991,0.079,13.485,0.021c5.377-0.07,7.63-2.402,7.646-7.994
											c0.039-13.486,0.014-26.971,0.014-40.457c0-7.314,0.049-14.628-0.021-21.942c-0.052-5.458-2.462-7.79-7.874-7.815
											c-4.037-0.02-8.075-0.013-12.113-0.002c-5.847,0.015-8.177,2.33-8.185,8.17C270.54,48.198,270.55,58.561,270.555,68.922z" />
                                    </g>
                                </svg>
                                <h3 class="pc nomar nopad">
                                    13 Nights
                                </h3>
                                <p class="psmall subhead">TOUR
                                </p>
                            </div>

                        </span>

                    </div>
                    <!-- itineary price -->
                    <div class="col-sm-6 text-center">
                        <!-- <h3 style="background-color: #2b252599;">Starting at Rs 47,900</h3> -->
                        <input type="submit" id="contact" value="Book This Trip" class="formbuttoniti">

                    </div>
                </div>
            </div>
            <!--popup-->
            <div id="contactForm">

                <h1 style="color: red;">Get a Quote</h1>
                <small>I'll get back to you as quickly as possible</small>

                <form action="/insert" method="POST">
                    <input placeholder="Name" name="name" class="form-control col-md 4" type="text" required />
                    <input placeholder="Email" name="email" class="form-control" type="text" required />
                    <input placeholder="Subject" name="subject" class="form-control" type="text" required />
                    <textarea placeholder="Comment" name="comment" class="form-control"></textarea><br>
                    <input class="formBtn btn btn-danger" type="submit" />
                    <input class="formBtn btn btn-danger" type="reset" />
                </form>
            </div>
            <!--popup end -->
            <div class="col-sm-1 itisvg">
                <span id="askQ" class="rightsvg">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 400 400">
                        <g>
                            <path d="M155.401,358.788c-0.11,23.872,17.021,41.139,40.894,41.212
							c22.578,0.061,39.759-17.181,39.93-40.063c0.171-23.579-16.533-40.833-39.832-41.126
							C173.046,318.518,155.512,335.625,155.401,358.788z" />
                            <path
                                d="M218.531,0c21.76,3.858,43.152,8.425,62.507,20.147
							c57.72,34.935,66.964,105.794,19.83,154.039c-14.335,14.689-29.855,28.084-45.351,41.492
							c-16.582,14.335-27.022,32.09-30.832,53.813c-3.261,18.572-13.823,27.571-31.517,27.584c-17.155,0.024-29.392-9.671-32.212-27.23
							c-5.006-31.247,4.848-57.939,27.34-79.796c15.605-15.166,31.968-29.526,47.757-44.496c23.688-22.456,27.242-38.684,13.884-61.469
							c-12.846-21.881-38.904-31.394-64.974-23.481c-16.509,5.019-29.05,14.934-36.169,30.966c-3.821,8.646-7.754,17.278-10.953,26.155
							c-5.702,15.85-15.189,27.23-33.14,27.743c-17.388,0.5-29.232-8.242-35.729-24.299c0-8.829,0-17.669,0-26.51
							c11.82-44.252,40.687-71.897,83.473-86.33C165.377,3.969,178.748,2.344,192.021,0C200.862,0,209.703,0,218.531,0z" />
                            <path d="M155.401,358.788c0.11-23.163,17.645-40.271,40.991-39.978
							c23.299,0.293,40.003,17.547,39.832,41.126c-0.171,22.883-17.352,40.124-39.93,40.063
							C172.423,399.927,155.291,382.66,155.401,358.788z" />
                        </g>
                    </svg>
                </span>
                <span id="edititi" class="rightsvg">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 400 400">
                        <g>
                            <path d="M55.67,379.051c2.429-30.725,4.321-61.511,7.617-92.149
							c1.123-10.474,3.723-21.851,9.155-30.64c47.509-76.848,95.762-153.244,143.93-229.689c13.989-22.216,33.166-32.214,57.471-23.364
							c19.896,7.257,39.659,18.981,55.064,33.434c19.824,18.591,19.519,41.76,4.895,65.075
							c-48.339,77.049-96.824,154.007-145.346,230.947c-2.576,4.077-5.14,9.069-9.033,11.267c-32.397,18.298-64.843,36.56-97.851,53.722
							c-14.465,7.52-20.336-4.54-25.902-14.94C55.67,381.492,55.67,380.271,55.67,379.051z M92.986,353.855
							c16.662-9.094,32.226-16.125,46.104-25.634c11.108-7.605,22.461-16.699,29.699-27.759c32.739-49.975,64.074-100.877,95.836-151.486
							c3.394-5.396,6.299-11.096,9.851-17.413c-21.581-12.939-41.21-24.694-61.51-36.865c-32.323,51.367-61.229,102.495-95.372,149.833
							C93.267,278.246,94.609,314.317,92.986,353.855z M292.03,103.183c23.9-32.037,22.827-42.675-4.943-59.99
							c-27.075-16.882-36.621-12.97-55.114,23.62C251.613,78.708,271.353,90.665,292.03,103.183z" />
                        </g>
                    </svg>
                </span>
                <span id="bokmak" class="rightsvg">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 400 400">
                        <path d="M377.135,60.354c-10.596-38.94-37.805-60.107-78.43-60.205
						c-64.94-0.22-129.894-0.171-194.847-0.024c-50.512,0.098-78.954,27.026-82.36,77.441c-0.158,2.295-1.623,4.517-2.478,6.763
						c0,99.852,0,199.705,0,299.557C32.924,404.247,43.215,405.175,61,387.45c22.058-21.973,44.641-43.432,65.808-66.234
						c10.767-11.597,17.089-9.937,27.124,0.928c20.739,22.51,42.992,43.603,64.672,65.233c7.873,7.837,16.003,15.479,28.527,10.767
						c13-4.883,12.707-16.138,12.695-27.295c-0.037-56.566-0.037-113.133,0-169.7c0.012-19.751,0.77-20.532,19.873-20.581
						c23.352-0.073,46.703-0.415,70.031,0.146c13.415,0.292,24.133-3.394,31.249-15.259c0-31.201,0-62.402,0-93.603
						C379.686,68.02,378.196,64.26,377.135,60.354z M221.46,325.513c-1.758,0.684-3.516,1.367-5.273,2.051
						c-13.538-13.818-27.307-27.417-40.552-41.504c-33.227-35.375-35.302-35.497-69.542-1.245
						c-14.124,14.111-28.235,28.198-45.129,45.068c-0.439-8.936-0.83-13.354-0.83-17.798c-0.037-72.777-0.073-145.58-0.024-218.382
						c0.037-38.647,14.257-53.002,52.441-53.051c36.841-0.049,73.705,0,108.91,0C221.46,136.818,221.46,231.178,221.46,325.513z
						 M339.342,129.738c-0.098,3.516-6.213,9.155-10.144,9.741c-9.644,1.416-19.616,0.464-29.456,0.464
						c-40.404,1.123-42.955,7.764-39.904-40.039c0.66-10.254,0.306-20.874,2.894-30.688c4.772-18.066,22.058-29.614,39.685-28.466
						c17.847,1.172,33.666,14.501,35.705,33.203C340.135,92.409,339.939,111.159,339.342,129.738z" />
                    </svg>
                </span>
            </div>
        </div>
    </section>
    <!-- Sticky Itinerary Menu -->
    <section class="container-fluid full-width">
        <div class="leftmenufix">
            <div class="row itimenuinner">

                <div class="row full-width itimenuinneritem">
                    <div class="col-sm-9 full-width leftmenufixitem">
                        <a href="#overvw">
                            <h3 class="jetsavered">Overview</h3>
                        </a>
                    </div>
                    <div class="col-sm-3 faicon">
                        <a href="#overvw"><i class="fab fa-ravelry"></i></a>
                    </div>
                </div>

                <div class="row full-width itimenuinneritem">
                    <div class="col-sm-9 full-width leftmenufixitem">
                        <a href="#itinmap">
                            <h3 class="jetsavered">Itinerary Map</h3>
                        </a>
                    </div>
                    <div class="col-sm-3 faicon">
                        <a href="#itinmap"><i class="fas fa-map-signs"></i></a>
                    </div>
                </div>


                <div class="row full-width itimenuinneritem">
                    <div class="col-sm-9 full-width leftmenufixitem">
                        <a href="#highiti">
                            <h3 class="jetsavered">Highlights</h3>
                        </a>
                    </div>
                    <div class="col-sm-3 faicon">
                        <a href="#highiti"><i class="fas fa-calendar-day"></i></a>
                    </div>
                </div>

                <div class="row full-width itimenuinneritem">
                    <div class="col-sm-9 full-width leftmenufixitem">
                        <a href="#tourinc">
                            <h3 class="jetsavered">Inclusions</h3>
                        </a>
                    </div>
                    <div class="col-sm-3 faicon">
                        <a href="#tourinc"><i class="fas fa-tags"></i></a>
                    </div>
                </div>

                <div class="row full-width itimenuinneritem">
                    <div class="col-sm-9 full-width leftmenufixitem">
                        <a href="#mainitin">
                            <h3 class="jetsavered">Itinerary</h3>
                        </a>
                    </div>
                    <div class="col-sm-3 faicon">
                        <a href="#mainitin"><i class="fas fa-clipboard-list"></i></a>
                    </div>
                </div>

                <div class="row full-width itimenuinneritem">
                    <div class="col-sm-9 full-width leftmenufixitem">
                        <a href="#tttips">
                            <h3 class="jetsavered">Travel Tips</h3>
                        </a>
                    </div>
                    <div class="col-sm-3 faicon">
                        <a href="#tttips"><i class="fas fa-info"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="">
        <div class="row">
            <div class="col-sm-12 jtopanime">
                <div class="jframe">
                    <div class="jplane-container">
                        <a href="http://customer.io/" target="_blank">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="1131.53px"
                                height="379.304px" viewBox="0 0 1131.53 379.304"
                                enable-background="new 0 0 1131.53 379.304" xml:space="preserve" class="plane">
                                <polygon fill="#D8D8D8"
                                    points="72.008,0 274.113,140.173 274.113,301.804 390.796,221.102 601.682,367.302 1131.53,0.223  " />
                                <polygon fill="#C4C4C3"
                                    points="1131.53,0.223 274.113,140.173 274.113,301.804 390.796,221.102   " />
                            </svg></a>

                    </div>
                </div>
                <div class="jclouds">

                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        x="0px" y="0px" width="762px" height="331px" viewBox="0 0 762 331"
                        enable-background="new 0 0 762 331" xml:space="preserve" class="jcloud big front slowest">
                        <path d="M715.394,228h-16.595c0.79-5.219,1.201-10.562,1.201-16c0-58.542-47.458-106-106-106
							c-8.198,0-16.178,0.932-23.841,2.693C548.279,45.434,488.199,0,417.5,0c-84.827,0-154.374,65.401-160.98,148.529
							C245.15,143.684,232.639,141,219.5,141c-49.667,0-90.381,38.315-94.204,87H46.607C20.866,228,0,251.058,0,279.5
							S20.866,331,46.607,331h668.787C741.133,331,762,307.942,762,279.5S741.133,228,715.394,228z" />
                    </svg>
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        x="0px" y="0px" width="762px" height="331px" viewBox="0 0 762 331"
                        enable-background="new 0 0 762 331" xml:space="preserve" class="jcloud distant smaller">
                        <path d="M715.394,228h-16.595c0.79-5.219,1.201-10.562,1.201-16c0-58.542-47.458-106-106-106
							c-8.198,0-16.178,0.932-23.841,2.693C548.279,45.434,488.199,0,417.5,0c-84.827,0-154.374,65.401-160.98,148.529
							C245.15,143.684,232.639,141,219.5,141c-49.667,0-90.381,38.315-94.204,87H46.607C20.866,228,0,251.058,0,279.5
							S20.866,331,46.607,331h668.787C741.133,331,762,307.942,762,279.5S741.133,228,715.394,228z" />
                    </svg>

                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        x="0px" y="0px" width="762px" height="331px" viewBox="0 0 762 331"
                        enable-background="new 0 0 762 331" xml:space="preserve" class="jcloud small slow">
                        <path d="M715.394,228h-16.595c0.79-5.219,1.201-10.562,1.201-16c0-58.542-47.458-106-106-106
							c-8.198,0-16.178,0.932-23.841,2.693C548.279,45.434,488.199,0,417.5,0c-84.827,0-154.374,65.401-160.98,148.529
							C245.15,143.684,232.639,141,219.5,141c-49.667,0-90.381,38.315-94.204,87H46.607C20.866,228,0,251.058,0,279.5
							S20.866,331,46.607,331h668.787C741.133,331,762,307.942,762,279.5S741.133,228,715.394,228z" />
                    </svg>

                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        x="0px" y="0px" width="762px" height="331px" viewBox="0 0 762 331"
                        enable-background="new 0 0 762 331" xml:space="preserve"
                        class="jcloud distant super-slow massive">
                        <path d="M715.394,228h-16.595c0.79-5.219,1.201-10.562,1.201-16c0-58.542-47.458-106-106-106
							c-8.198,0-16.178,0.932-23.841,2.693C548.279,45.434,488.199,0,417.5,0c-84.827,0-154.374,65.401-160.98,148.529
							C245.15,143.684,232.639,141,219.5,141c-49.667,0-90.381,38.315-94.204,87H46.607C20.866,228,0,251.058,0,279.5
							S20.866,331,46.607,331h668.787C741.133,331,762,307.942,762,279.5S741.133,228,715.394,228z" />
                    </svg>

                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        x="0px" y="0px" width="762px" height="331px" viewBox="0 0 762 331"
                        enable-background="new 0 0 762 331" xml:space="preserve" class="jcloud slower">
                        <path d="M715.394,228h-16.595c0.79-5.219,1.201-10.562,1.201-16c0-58.542-47.458-106-106-106
							c-8.198,0-16.178,0.932-23.841,2.693C548.279,45.434,488.199,0,417.5,0c-84.827,0-154.374,65.401-160.98,148.529
							C245.15,143.684,232.639,141,219.5,141c-49.667,0-90.381,38.315-94.204,87H46.607C20.866,228,0,251.058,0,279.5
							S20.866,331,46.607,331h668.787C741.133,331,762,307.942,762,279.5S741.133,228,715.394,228z" />
                    </svg>
                </div>
            </div>
        </div>
    </section>

    <!-- itinerary container -->
    <section class="iticon">
        <!-- Overview section -->
        <div id="overvw" class="container-fluid">
            <div class="row">
                <div class="col-sm-7 itinovercont">
                    <!-- Overview Container -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="itinovercontinner">
                                <h2>Overview of the Tour</h2>
                                <p>This Rajasthan Tour will surely help you explore the princely state that is
                                    full of palatial splendour, ancient forts and zestful culture. Every city in
                                    Rajasthan has its own charm that is sure to spellbound you. With a fortnight to
                                    spare, you can forget triangles and go all out for a multi faceted loop taking in
                                    Rajasthan’s most spectacular cities, erstwhile capitals of former princely
                                    states, boasting fairy-tale palaces and formidable fortresses. This trip encompasses
                                    all the elements of India that makes it unique in persona, to any other country.
                                    Visit the spellbinding lakes and palaces of Udaipur and traverses through amazing
                                    intricate temples and bucolic villages of Jaipur, the deserts and forts of Jodhpur;
                                    the city of love Taj Mahal, and ends at Delhi with the
                                    Aravalli range of mountains in the backdrop throughout the tour.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="row sidebarbox">
                        <div class="col-sm-8">
                            <h3>Quick Facts</h3>
                            <h4>Destinations en-route</h4>
                            <ul>
                                <li>Delhi</li>
                                <li>Mandawa</li>
                                <li>Bikaner</li>
                                <li>Jaislamer</li>
                                <li>Jodhpur</li>
                                <li>Ranakpur</li>
                                <li>Udaipur</li>
                                <li>Pushkar</li>
                                <li>Jaipur</li>
                                <li>Fatehpur Sikri</li>
                                <li>Agra</li>

                            </ul>
                        </div>
                        <div class="col-sm-4" style="padding-left: 0px;">
                            <i class="fas fa-search-location"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- the complete Itinerary map section -->
        <div id="itinmap" class="container-fluid itinovercontinner">
            <div class="row">
                <div class="col-sm-6 itinovercontinnerimg">
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/CSS/img/jetsave/Rajasthan/img.jpg" class="d-block w-100" alt="..." width="50"
                                    height="50">
                            </div>
                            <div class="carousel-item">
                                <img src="/CSS/img/jetsave/Rajasthan/img1.jpg" class="d-block w-100" alt="..."
                                    width="50" height="50">
                            </div>
                            <div class="carousel-item">
                                <img src="/CSS/img/jetsave/Rajasthan/img3.jpg" class="d-block w-100" alt="..."
                                    width="50" height="50">
                            </div>
                            <div class="carousel-item">
                                <img src="/CSS/img/jetsave/Rajasthan/img4.jpg" class="d-block w-100" alt="..."
                                    width="50" height="50">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 itinovercontinnertxt">
                    <h2>Itinerary Map</h2>
                    <ul>
                        <li>
                            <strong>Day 1: </strong> Arrival in Delhi
                        </li>
                        <li>
                            <strong>Day 2: </strong> Delhi - Mandawa
                        </li>
                        <li>
                            <strong>Day 3: </strong> Mandawa - Bikaner
                        </li>
                        <li>
                            <strong>Day 4: </strong> Bikaner - Jaislamer
                        </li>
                        <li>
                            <strong>Day 5: </strong> Jaisalmer
                        </li>
                        <li>
                            <strong>Day 6: </strong> Jaisalmer - Jodhpur
                        </li>
                        <li>
                            <strong>Day 7: </strong> Jodhpur
                        </li>
                        <li>
                            <strong>Day 8: </strong> Jodhpur - Ranakpur - Udaipur
                        </li>
                        <li>
                            <strong>Day 9: </strong> Udaipur
                        </li>
                        <li>
                            <strong>Day 10: </strong> Udaipur - Pushkar - Jaipur
                        </li>
                        <li>
                            <strong>Day 11: </strong> Jaipur
                        </li>
                        <li>
                            <strong>Day 12: </strong> Jaipur - Fatehpur Sikri - Agra
                        </li>
                        <li>
                            <strong>Day 13: </strong> Agra - Sikandra - Delhi
                        </li>
                        <li>
                            <strong>Day 14: </strong> Depart Delhi
                        </li>

                    </ul>
                </div>
            </div>
        </div>


        <!-- Tour Highlight row section -->
        <div id="highiti" class="container-fluid">
            <div class="row">
                <div class="col-sm-7 itinovercont">
                    <!-- Highlihts Container -->
                    <div class="col-sm-12 tourmailhigh itinovercontinner">
                        <h2>The Highlights of the Tour</h2>
                        <ul>
                            <li>Tour the historic city of Delhi </li>
                            <li>Visit the city that lies in Shekhwati region of Rajasthan, Mandawa</li>
                            <li>Explore the city of Rao Bika and the Jats, Bikaner</li>
                            <li>Get starry eyed at the Golden City of India, Jaisalmer </li>
                            <li>Explore the charms of the “Pink City” Jaipur </li>
                            <li>Get lost in the city of love, Agra</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="row sidebarbox">
                        <div class="col-sm-8">
                            <h3>NOTE:</h3>
                            <h4>Emergency No :</h4>
                            <ul>
                                <li>Police: 100</li>
                                <li>Ambulance: 102</li>
                            </ul>
                            <h4>Currency: Rupees</h4>
                        </div>
                        <div class="col-sm-4" style="padding-left: 0px;">
                            <i class="fas fa-ambulance" style="font-size: 95px; margin-top: 30%;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!-- Tour Inclusions section -->

        <div id="tourinc" class="container-fluid tourinclubg">
            <div class="row tourinclusec">
                <h2 class="white full-width text-center">Tour Inclusions</h2>
                <div class="row">
                    <div class="col-sm-3">
                        <i class="fas fa-door-open"></i>
                        <h3> Hotel </h3>
                        <p>Get the best, comfortable, world-class hotels in the region, which match all the hallmarks.
                        </p>
                    </div>
                    <div class="col-sm-3">
                        <i class="fas fa-glass-martini-alt"></i>
                        <h3> Food </h3>
                        <p>Let your taste buds feel the best in class culinary delights.</p>
                    </div>
                    <div class="col-sm-3">
                        <i class="fas fa-bus"></i>
                        <h3> Transport </h3>
                        <p>We will help you get transported from one place to another, in a hassle free manner. Be it
                            domestic/international flight tickets or internal city transfers, we have it all sorted.</p>
                    </div>
                    <div class="col-sm-3">
                        <i class="fas fa-route"></i>
                        <h3> Sightseeing </h3>
                        <p>No more standing in ques for entrance tickets and other activities.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Itinerary Container -->
        <div id="mainitin" class="row jtimelineco">
            <div class="col-sm-12">
                <h1 class=""> Your Leisure Detailed</h1>
            </div>

            <div class="" style="padding-left: 7%;">
                <div class="row">
                    <div class="col-sm-7 jtimeline-item" date-is='Day 1'>
                        <div class="col-sm-12 nopad">
                            <h1 class="nopad">Arrival in Delhi</h1>
                            <p>
                                We welcome you to India! On your arrival at Delhi Airport, you will be greeted by our
                                representative who will escort you to the hotel and will help you in the
                                check-in process. Once you have relaxed a bit and grabbed a snack, embark on a
                                sightseeing tour of Delhi. Delhi is, history at one place! The capital
                                city is the perfect blend of modern with traditional. You can start with
                                exploring the lanes of Old Delhi, where Mughal art and architecture still breathes in
                                the narrow lanes which are lined up with havelis, mosques and food stalls serving
                                authentic Mughlai food. When in Old Delhi, visit, the Red Fort, Jama Masjid,
                                Chandni Chowk, Raj Ghat, and Mahatma Gandhi's cremation site. Carry on with your
                                tour by visiting, Humayun’s Tomb, a UNESCO World Heritage Site and the first
                                garden-tomb in India. Later, get going and discover the imperial metropolis of New Delhi
                                showcasing spacious, tree-lined boulevards and noteworthy buildings. Keep your evening
                                free to stroll around, Connaught Place, the Presidential Palace and India Gate. Return
                                back to your hotel for an overnight stay in Delhi.
                            </p>
                        </div>
                        <div class="row inclicons">
                            <span class="inclwidth d-inline-flex"><i class="fas fa-coffee jetsavered"></i>
                                <h4>Breakfast</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-cheese jetsavered"></i>
                                <h4>Dinner</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-bed jetsavered"></i>
                                <h4>Accomodation</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-bus jetsavered"></i>
                                <h4>Transport</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-route jetsavered"></i>
                                <h4>Sightseeing</h4>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-5 hightext">
                        <div class="row hightextinner">
                            <div class="col-sm-12">
                                <h4>Hightlights of the Day</h4>
                            </div>
                            <ul>
                                <li>
                                    Arrival in Delhi
                                </li>
                                <li>
                                    Get starry eyed at the chaotic streets of Old Delhi
                                </li>
                                <li>
                                    Visit the Red Fort, Jama Masjid, Chandni Chowk, Raj Ghat, and Mahatma Gandhi's
                                    cremation site
                                </li>
                                <li>
                                    Tour around the UNESCO heritage site of Humayun’s tomb
                                </li>
                                <li>
                                    Stroll around Connaught Place, Presidents House and India Gate
                                </li>

                            </ul>
                        </div>
                        <div class="row hightextinner">
                            <div class="col-sm-12">
                                <!-- <h4>More at your service</h4> -->
                            </div>
                            <ul>
                                <!-- <li>
                                    Additional inclusions specific for the day
                                </li>
                                <li>
                                    Additional inclusions specific for the day
                                </li> -->
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-7 jtimeline-item" date-is='Day 2'>
                        <div class="col-sm-12 nopad">
                            <h1 class="nopad">Delhi – Mandawa</h1>
                            <p>
                                This morning, after breakfast, pack your bags and start your journey for your next
                                destination. Start your road journey and drive to Mandawa which is around 250 km from
                                Delhi. Your drive to the city of Mandawa will take approximately 5 long hours. On your
                                arrival, check in to your hotel in Mandawa. The city of Mandawa lies in the Shekhwati
                                region of Rajasthan, it is also said that it dates back to 18th century. The city is also
                                kown as the “Open Art Gallery” of Rajasthan as it is adorned with magnificent
                                havelis that boasts intricate frescos and paintings. Spend some time at leisure and later
                                explore your surroundings by strolling around the nearby markets. For dinner be
                                sure to relish on some Shekhawati dishes of Rajasthani cuisine. Do not forget to have
                                kair – sangrikisubzi for main course. If you have a sweet tooth, have ghevar for
                                dessert. Overnight stay at the hotel in Mandawa.
                            </p>
                        </div>
                        <div class="row inclicons">
                            <span class="inclwidth d-inline-flex"><i class="fas fa-coffee jetsavered"></i>
                                <h4>Breakfast</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-cheese jetsavered"></i>
                                <h4>Dinner</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-bed jetsavered"></i>
                                <h4>Accomodation</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-bus jetsavered"></i>
                                <h4>Transport</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-route jetsavered"></i>
                                <h4>Sightseeing</h4>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-5 hightext">
                        <div class="row hightextinner">
                            <div class="col-sm-12">
                                <h4>Hightlights of the Day</h4>
                            </div>
                            <ul>
                                <li>
                                    Road journey to Mandawa
                                </li>
                                <li>
                                    See the magnificent havelis that boasts intricate frescos and paintings
                                </li>
                            </ul>
                        </div>
                        <div class="row hightextinner">
                            <div class="col-sm-12">
                                <!-- <h4>More at your service</h4> -->
                            </div>
                            <ul>
                                <!-- <li>
                                    Additional inclusions specific for the day
                                </li>
                                <li>
                                    Additional inclusions specific for the day
                                </li> -->
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-7 jtimeline-item" date-is='Day 3'>
                        <div class="col-sm-12 nopad">
                            <h1 class="nopad">Mandawa – Bikaner</h1>
                            <p>
                                This morning, post breakfast, start your tour by exploring some of the famous havelis of
                                Mandawa that are known for their fresco paintings. A few of these famous havelis are
                                Jhunjhunwala Haveli, Murmuia Haveli and Goenka Double Haveli. Later
                                in morning, visit Thakur Ji Temple and Mandawa Fort. After exploring Mandwa, have some
                                lunch and start a drive to Bikaner. Bikaner is a place
                                that was established by Rao Bika and the Jats in the 15th century. The place became
                                popular for its snacks and sweets around the world. This colourful city of Rajasthan has
                                successfully retained its old-world charm and reflects the chivalry, courage and bravery
                                of royal Rajputs. On your arrival at Bikaner, check-in to your pre-booked hotel. Rest of
                                the day at leisure. In the evening explore the surrounding markets of Bikaner.
                                The markets are true shopper’s paradise for leather products, embroidered mojri, cotton
                                and wool products. Return back to the hotel for an overnight stay at Bikaner.

                            </p>
                        </div>
                        <div class="row inclicons">
                            <span class="inclwidth d-inline-flex"><i class="fas fa-coffee jetsavered"></i>
                                <h4>Breakfast</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-cheese jetsavered"></i>
                                <h4>Dinner</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-bed jetsavered"></i>
                                <h4>Accomodation</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-bus jetsavered"></i>
                                <h4>Transport</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-route jetsavered"></i>
                                <h4>Sightseeing</h4>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-5 hightext">
                        <div class="row hightextinner">
                            <div class="col-sm-12">
                                <h4>Hightlights of the Day</h4>
                            </div>
                            <ul>
                                <li>
                                    Visit the magnificent havelis like that of Jhunjhunwala Haveli, Murmuia Haveli and
                                    Goenka Double Haveli
                                </li>
                                <li>
                                    Visit Thakur Ji Temple and Mandawa Fort
                                </li>
                                <li>
                                    Drive to Bikaner

                                </li>
                                <li>
                                    Explore the shoppers paradise in Bikaner- Markets

                                </li>
                            </ul>
                        </div>
                        <div class="row hightextinner">
                            <div class="col-sm-12">
                                <!-- <h4>More at your service</h4> -->
                            </div>
                            <ul>
                                <!-- <li>
                                    Additional inclusions specific for the day
                                </li>
                                <li>
                                    Additional inclusions specific for the day
                                </li> -->
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-7 jtimeline-item" date-is='Day 4'>
                        <div class="col-sm-12 nopad">
                            <h1 class="nopad">Bikaner – Jaisalmer</h1>
                            <p>
                                This morning, after breakfast start your Bikaner city tour by visiting Junagarh Fort.
                                The fort provides a true insight into the lavish lifestyle of the erstwhile Maharanas of
                                Rajasthan. The fort complex also has a lot of temples, palaces and a museum. Visit 
                                the Laxmi Niwas Palace, which is the former royal abode of the king of
                                Bikaner, Maharaja Ganga Singh. The Palace is designed in the Indo-Saracenic style; having
                                made using the magnificent red sandstone that blends with its beautiful surroundings.
                                Later discover the Karni Mata Temple which is popularly known as the “Temple of
                                Rats”. The temple is home to around 20,000 rats. After completing your exploration of
                                Bikaner, start a road drive towards Jaisalmer which is around 330 km. Jaisalmer is
                                considered to be the heart and soul of the Great Indian Desert – Thar Desert, and is
                                often referred to as the “Golden City” of India. On your arrival at Jaisalmer, check-in
                                to your hotel for an overnight stay.
                            </p>
                        </div>
                        <div class="row inclicons">
                            <span class="inclwidth d-inline-flex"><i class="fas fa-coffee jetsavered"></i>
                                <h4>Breakfast</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-cheese jetsavered"></i>
                                <h4>Dinner</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-bed jetsavered"></i>
                                <h4>Accomodation</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-bus jetsavered"></i>
                                <h4>Transport</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-route jetsavered"></i>
                                <h4>Sightseeing</h4>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-5 hightext">
                        <div class="row hightextinner">
                            <div class="col-sm-12">
                                <h4>Hightlights of the Day</h4>
                            </div>
                            <ul>
                                <li>
                                    Tour the famous Junagarh Fort
                                </li>
                                <li>
                                    Visit former royal abode of the king of Bikaner- Laxmi Niwas Palace
                                </li>
                                <li>
                                    Discover the Karni Mata Temple
                                </li>
                                <li>
                                    Road drive towards the “Golden City of India”- Jaisalmer
                                </li>
                            </ul>
                        </div>
                        <div class="row hightextinner">
                            <div class="col-sm-12">
                                <!-- <h4>More at your service</h4> -->
                            </div>
                            <ul>
                                <!-- <li>
                                    Additional inclusions specific for the day
                                </li>
                                <li>
                                    Additional inclusions specific for the day
                                </li> -->
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-7 jtimeline-item" date-is='Day 5'>
                        <div class="col-sm-12 nopad">
                            <h1 class="nopad">Jaisalmer </h1>
                            <p>
                                The city of Jaisalmer owes its title of being the “Golden City of India” as it has the
                                yellowish-golden tinge present in most of the city’s architecture. This yellow colour
                                comes from the yellow sand and yellow sandstone which is used prominently in
                                constructions in the place. The land is famous for warm hearted people giving the best
                                hospitality in the country. On your arrival at Jaisalmer, check-in to your hotel and
                                rest a bit. Later of your day is dedicated to discovering the living fort of Jaisalmer,
                                where still, a quarter of the city’s population resides. You can also visit the Raj
                                Mahal Palace, Laxminath temple and Jain temples. When in Jaisalmer you cannot miss on
                                visiting the spectacular havelis that the city is home to. Keep your evening free to
                                enjoy a sun downer around the Sam Sand Dunes. If you wish to you can also enjoy a dinner
                                at the dunes while enjoying traditional live music, songs and folk dance performances.
                                Overnight stay at hotel in Jaisalmer.
                            </p>
                        </div>
                        <div class="row inclicons">
                            <span class="inclwidth d-inline-flex"><i class="fas fa-coffee jetsavered"></i>
                                <h4>Breakfast</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-cheese jetsavered"></i>
                                <h4>Dinner</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-bed jetsavered"></i>
                                <h4>Accomodation</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-bus jetsavered"></i>
                                <h4>Transport</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-route jetsavered"></i>
                                <h4>Sightseeing</h4>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-5 hightext">
                        <div class="row hightextinner">
                            <div class="col-sm-12">
                                <h4>Hightlights of the Day</h4>
                            </div>
                            <ul>
                                <li>
                                    Welcome to the land of warm hearted people- Jaisalmer 
                                </li>
                                <li>
                                    Visit the Raj Mahal Palace, Laxminath temple and Jain temples
                                </li>
                                <li>
                                    In the evening enjoy a sun downer at the Sam Sand Dunes
                                </li>
                            </ul>
                        </div>
                        <div class="row hightextinner">
                            <div class="col-sm-12">
                                <!-- <h4>More at your service</h4> -->
                            </div>
                            <ul>
                                <!-- <li>
                                    Additional inclusions specific for the day
                                </li>
                                <li>
                                    Additional inclusions specific for the day
                                </li> -->
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-7 jtimeline-item" date-is='Day 6'>
                        <div class="col-sm-12 nopad">
                            <h1 class="nopad">Jaisalmer – Jodhpur </h1>
                            <p>
                                In the morning, after having a relaxed breakfast continue your journey and drive to the
                                “Blue City”, Jodhpur, which is around 300 km from Jaisalmer. The princely city of
                                Jodhpur is also known as the “Sun City” just because it has sunny weather all year
                                round. On your arrival in Jodhpur, check-in to your hotel. Later, post getting fresh,
                                start by explore the famous Jodhpur markets, namely the Tripola Bazaar, Sardar
                                Market and Clock Market. They are considered to be the best markets to buy the famous
                                tie-dye textiles (bandhani), footwears, and traditional Indian handicrafts. You’re your
                                evening free to taste some of the popular snacks such as, pyaaz ki kachori, badaa,
                                gathiya and sev, relish the traditional Indian ice-cream called malai kulfi, and don’t
                                forget the world famous Motichurladdu. Overnight stay at hotel in Jodhpur.
                            </p>
                        </div>
                        <div class="row inclicons">
                            <span class="inclwidth d-inline-flex"><i class="fas fa-coffee jetsavered"></i>
                                <h4>Breakfast</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-cheese jetsavered"></i>
                                <h4>Dinner</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-bed jetsavered"></i>
                                <h4>Accomodation</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-bus jetsavered"></i>
                                <h4>Transport</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-route jetsavered"></i>
                                <h4>Sightseeing</h4>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-5 hightext">
                        <div class="row hightextinner">
                            <div class="col-sm-12">
                                <h4>Hightlights of the Day</h4>
                            </div>
                            <ul>
                                <li>
                                    Drive to the “Blue-city”- Jodhpur
                                </li>
                                <li>
                                    Explore the famous Jodhpur markets: Tripola Bazaar, Sardar Market and Clock Market
                                </li>
                                <li>
                                    In the evening taste some of the popular snacks
                                </li>
                                <li>
                                    Relish the traditional Indian ice-cream called malai kulfi
                                </li>
                            </ul>
                        </div>
                        <div class="row hightextinner">
                            <div class="col-sm-12">
                                <!-- <h4>More at your service</h4> -->
                            </div>
                            <ul>
                                <!-- <li>
                                    Additional inclusions specific for the day
                                </li>
                                <li>
                                    Additional inclusions specific for the day
                                </li> -->
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-7 jtimeline-item" date-is='Day 7'>
                        <div class="col-sm-12 nopad">
                            <h1 class="nopad">Jodhpur </h1>
                            <p>
                                Today, is the day which you can spend on discovering the Blue City. You can start your
                                tour by visiting at the mighty Mehrangarh Fort which is one of the largest forts in
                                India. The fort has Moti Mahal which is known as Pearl Palace, Sheesha Mahal which is
                                the Mirror Palace, Daulat Khana which is known as the treasure house, Armoury Gallery,
                                Palanquins Gallery, Turban Gallery, Loha Pol and Dedh Kemgra Pol which are the two gates
                                as the major attractions. The fort is nested on a rocky hill and provides a
                                breath-taking panoramic view of the blue city. Later, stop at the elegant
                                Jaswant Thada, the cenotaphs of Maharaja Jaswant Singh II and other maharajas. Take a 
                                jeep drive through Bishnoi village in the afternoon. Return back to your hotel
                                for an overnight stay.
                            </p>
                        </div>
                        <div class="row inclicons">
                            <span class="inclwidth d-inline-flex"><i class="fas fa-coffee jetsavered"></i>
                                <h4>Breakfast</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-cheese jetsavered"></i>
                                <h4>Dinner</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-bed jetsavered"></i>
                                <h4>Accomodation</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-bus jetsavered"></i>
                                <h4>Transport</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-route jetsavered"></i>
                                <h4>Sightseeing</h4>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-5 hightext">
                        <div class="row hightextinner">
                            <div class="col-sm-12">
                                <h4>Hightlights of the Day</h4>
                            </div>
                            <ul>
                                <li>
                                    Visit the mighty Mehrangarh Fort
                                </li>
                                <li>
                                    Visit the elegant Jaswant Thada
                                </li>
                                <li>
                                    Take a jeep drive through Bishnoi village
                                </li>
                            </ul>
                        </div>
                        <div class="row hightextinner">
                            <div class="col-sm-12">
                                <!-- <h4>More at your service</h4> -->
                            </div>
                            <ul>
                                <!-- <li>
                                    Additional inclusions specific for the day
                                </li>
                                <li>
                                    Additional inclusions specific for the day
                                </li> -->
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-7 jtimeline-item" date-is='Day 8'>
                        <div class="col-sm-12 nopad">
                            <h1 class="nopad">Jodhpur – Ranakpur – Udaipur </h1>
                            <p>
                                This morning, post breakfast, start your journey and drive to Udaipur which is around
                                260 km from Jodhpur. En-route, visit the Aravali Hills which are the older
                                mountain range in the world. The hills will give you an amazingly superb view of the
                                vignettes of Rajasthani rural life. Your first stop in the morning will be the white
                                marble temples of Ranakpur. It is an architectural gem of the area. The temples in the
                                area are profusely and intricately carved and belong to the Jain religion. On your
                                arrival at Udaipur, check-in to your hotel. In the evening, unwind yourself and fresh
                                your mind and soul in a boat ride at Lake Pichola. Overnight stay at hotel in Udaipur.
                            </p>
                        </div>
                        <div class="row inclicons">
                            <span class="inclwidth d-inline-flex"><i class="fas fa-coffee jetsavered"></i>
                                <h4>Breakfast</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-cheese jetsavered"></i>
                                <h4>Dinner</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-bed jetsavered"></i>
                                <h4>Accomodation</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-bus jetsavered"></i>
                                <h4>Transport</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-route jetsavered"></i>
                                <h4>Sightseeing</h4>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-5 hightext">
                        <div class="row hightextinner">
                            <div class="col-sm-12">
                                <h4>Hightlights of the Day</h4>
                            </div>
                            <ul>
                                <li>
                                    Drive to Udaipur
                                </li>
                                <li>
                                    Visit the Aravali Hills
                                </li>
                                <li>
                                    Visit the white marble temples of Ranakpur
                                </li>
                                <li>
                                    Boat ride at Lake Pichola
                                </li>
                            </ul>
                        </div>
                        <div class="row hightextinner">
                            <div class="col-sm-12">
                                <!-- <h4>More at your service</h4> -->
                            </div>
                            <ul>
                                <!-- <li>
                                    Additional inclusions specific for the day
                                </li>
                                <li>
                                    Additional inclusions specific for the day
                                </li> -->
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-7 jtimeline-item" date-is='Day 9'>
                        <div class="col-sm-12 nopad">
                            <h1 class="nopad">Udaipur </h1>
                            <p>
                                This morning, brace yourself to embark on a sightseeing tour around Udaipur. When in
                                this beautiful city, visit the fabulous palaces, havelis, temples and bustling
                                markets with the majestic Aravalli hills in the backdrop. All these factors together
                                make Udaipur a royal romantic destination. Start your sightseeing tour of
                                Udaipur by visiting the City Palace which is the royal abode of Maharanas of the past.
                                The palace has a beautiful displays of elaborate and flamboyant style of architecture
                                which combines both the Rajasthani and Mughal architectural design. The fort is
                                strategically placed on a hill top giving an impressive view of Udaipur and its
                                beautiful sites Lake Pichola, the Jag Mandir, the Monsoon Palace and Neemach Mata
                                Temple. Keep your evening free to visit Jagmandir Island, Aha, Shilpgram, and Sajjan
                                Garh. Overnight stay at the hotel in Udaipur
                            </p>
                        </div>
                        <div class="row inclicons">
                            <span class="inclwidth d-inline-flex"><i class="fas fa-coffee jetsavered"></i>
                                <h4>Breakfast</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-cheese jetsavered"></i>
                                <h4>Dinner</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-bed jetsavered"></i>
                                <h4>Accomodation</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-bus jetsavered"></i>
                                <h4>Transport</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-route jetsavered"></i>
                                <h4>Sightseeing</h4>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-5 hightext">
                        <div class="row hightextinner">
                            <div class="col-sm-12">
                                <h4>Hightlights of the Day</h4>
                            </div>
                            <ul>
                                <li>
                                    Tour the City Palace
                                </li>
                                <li>
                                    In the evening visit Jagmandir Island, Shilpgram, and Sajjan Garh
                                </li>
                            </ul>
                        </div>
                        <div class="row hightextinner">
                            <div class="col-sm-12">
                                <!-- <h4>More at your service</h4> -->
                            </div>
                            <ul>
                                <!-- <li>
                                    Additional inclusions specific for the day
                                </li>
                                <li>
                                    Additional inclusions specific for the day
                                </li> -->
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-7 jtimeline-item" date-is='Day 10'>
                        <div class="col-sm-12 nopad">
                            <h1 class="nopad">Udaipur – Pushkar – Jaipur </h1>
                            <p>
                                Early morning, check-out from your hotel and start your drive to Jaipur which is at a
                                distance of around 430 km from Udaipur. It is famously known as the “Pink City” and was
                                founded by Maharaja Jai Singh II in the year 1727. En route, take a halt at Pushkar, an
                                ancient city nestling on the shore of Lake Puskar. It enjoys the title of being the
                                “Tirth Raj”, which means the king of pilgrimage sites for Hindus for it houses the
                                famous Lord Brahma Temple that is said to be the most significant of the Brahma Temples.
                                On arrival in Jaipur, check-in at your hotel. Rest of the day at leisure. Overnight
                                stay at hotel in Jaipur.
                            </p>
                        </div>
                        <div class="row inclicons">
                            <span class="inclwidth d-inline-flex"><i class="fas fa-coffee jetsavered"></i>
                                <h4>Breakfast</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-cheese jetsavered"></i>
                                <h4>Dinner</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-bed jetsavered"></i>
                                <h4>Accomodation</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-bus jetsavered"></i>
                                <h4>Transport</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-route jetsavered"></i>
                                <h4>Sightseeing</h4>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-5 hightext">
                        <div class="row hightextinner">
                            <div class="col-sm-12">
                                <h4>Hightlights of the Day</h4>
                            </div>
                            <ul>
                                <li>
                                    Drive back to Jaipur
                                </li>
                                <li>
                                    En-route halt at Pushkar
                                </li>
                            </ul>
                        </div>
                        <div class="row hightextinner">
                            <div class="col-sm-12">
                                <!-- <h4>More at your service</h4> -->
                            </div>
                            <ul>
                                <!-- <li>
                                    Additional inclusions specific for the day
                                </li>
                                <li>
                                    Additional inclusions specific for the day
                                </li> -->
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-7 jtimeline-item" date-is='Day 11'>
                        <div class="col-sm-12 nopad">
                            <h1 class="nopad">Jaipur </h1>
                            <p>
                                This morning after having breakfast, start your day in Jaipur with an excursion to the
                                Amer Fort. The fort was once the capital of Rajasthan and was the former residence of
                                the Rajput Maharajas. The fort also has notable architecture showcasing Hindu style of
                                art. Later in the day you can explore the City Palace complex which has Chandra Mahal
                                and Mubarak Mahal, a museum, courtyards, gardens and buildings. The palace has a blend
                                of the Shilpa Shastra of Indian architecture with Rajput, Mughal and European styles.
                                You can also visit, Hawa Mahal, Jal Mahal, and Jantar Mantar. In the evening, 
                                stroll around in the charming markets of the Old City of Jaipur. Overnight stay at
                                hotel.
                            </p>
                        </div>
                        <div class="row inclicons">
                            <span class="inclwidth d-inline-flex"><i class="fas fa-coffee jetsavered"></i>
                                <h4>Breakfast</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-cheese jetsavered"></i>
                                <h4>Dinner</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-bed jetsavered"></i>
                                <h4>Accomodation</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-bus jetsavered"></i>
                                <h4>Transport</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-route jetsavered"></i>
                                <h4>Sightseeing</h4>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-5 hightext">
                        <div class="row hightextinner">
                            <div class="col-sm-12">
                                <h4>Hightlights of the Day</h4>
                            </div>
                            <ul>
                                <li>
                                    Excursion to Amer Fort
                                </li>
                                <li>
                                    Explore the City Palace
                                </li>
                                <li>
                                    Visit, Hawa Mahal, Jal Mahal, and JantarMantar
                                </li>
                                <li>
                                    Stroll around the charming markets of the Old City of Jaipur
                                </li>
                            </ul>
                        </div>
                        <div class="row hightextinner">
                            <div class="col-sm-12">
                                <!-- <h4>More at your service</h4> -->
                            </div>
                            <ul>
                                <!-- <li>
                                    Additional inclusions specific for the day
                                </li>
                                <li>
                                    Additional inclusions specific for the day
                                </li> -->
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-7 jtimeline-item" date-is='Day 12'>
                        <div class="col-sm-12 nopad">
                            <h1 class="nopad">Jaipur – Fatehpur Sikri – Agra</h1>
                            <p>
                                Today, after having breakfast, check-out from the hotel and start a drive to Agra which
                                is around 240 km from Jaipur. It is home to the icon of eternal love, Taj Mahal. En
                                route, visit Fatehpur Sikri which is a UNESCO World Heritage Site showcasing the
                                grandeur of Mughal architecture. On your arrival at Agra, check-in to your hotel and
                                embark on a city tour. Visit the magnificent Taj Mahal in the evening. Taj
                                Mahal, “a teardrop on the cheek of eternity” was built as a mausoleum by Shah Jahan in
                                the memory of his favourite wife, Mumtaz Mahal. The ivory-white marble, world famous
                                tomb is surrounded by picturesque gardens which attracts millions visitors all year
                                round. Return back to the hotel for an overnight stay.
                            </p>
                        </div>
                        <div class="row inclicons">
                            <span class="inclwidth d-inline-flex"><i class="fas fa-coffee jetsavered"></i>
                                <h4>Breakfast</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-cheese jetsavered"></i>
                                <h4>Dinner</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-bed jetsavered"></i>
                                <h4>Accomodation</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-bus jetsavered"></i>
                                <h4>Transport</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-route jetsavered"></i>
                                <h4>Sightseeing</h4>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-5 hightext">
                        <div class="row hightextinner">
                            <div class="col-sm-12">
                                <h4>Hightlights of the Day</h4>
                            </div>
                            <ul>
                                <li>
                                    Drive to Agra
                                </li>
                                <li>
                                    En route, visit Fatehpur Sikri
                                </li>
                                <li>
                                    See the magnificent Taj Mahal
                                </li>
                            </ul>
                        </div>
                        <div class="row hightextinner">
                            <div class="col-sm-12">
                                <!-- <h4>More at your service</h4> -->
                            </div>
                            <ul>
                                <!-- <li>
                                    Additional inclusions specific for the day
                                </li>
                                <li>
                                    Additional inclusions specific for the day
                                </li> -->
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-7 jtimeline-item" date-is='Day 13'>
                        <div class="col-sm-12 nopad">
                            <h1 class="nopad">Agra – Sikandra – Delhi </h1>
                            <p>
                                After breakfast, check-out from hotel and visit the Agra Fort, a World UNESCO Heritage
                                Site. Later drive to Delhi which is around 240 km from Agra. En route, stop at Sikandra
                                and visit the Tomb of Akbar. The tomb is an architectural marvel showcasing the splendid
                                Mughal architectural style. On your arrival in Delhi, check-in at hotel and enjoy rest
                                of the day at leisure. Overnight stay at hotel.
                            </p>
                        </div>
                        <div class="row inclicons">
                            <span class="inclwidth d-inline-flex"><i class="fas fa-coffee jetsavered"></i>
                                <h4>Breakfast</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-cheese jetsavered"></i>
                                <h4>Dinner</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-bed jetsavered"></i>
                                <h4>Accomodation</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-bus jetsavered"></i>
                                <h4>Transport</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-route jetsavered"></i>
                                <h4>Sightseeing</h4>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-5 hightext">
                        <div class="row hightextinner">
                            <div class="col-sm-12">
                                <h4>Hightlights of the Day</h4>
                            </div>
                            <ul>
                                <li>
                                    Visit Agra Fort
                                </li>
                                <li>
                                    En route stop at Sikandra and visit the Tomb of Akbar
                                </li>
                                <li>
                                    Drive to Delhi
                                </li>
                            </ul>
                        </div>
                        <div class="row hightextinner">
                            <div class="col-sm-12">
                                <!-- <h4>More at your service</h4> -->
                            </div>
                            <ul>
                                <!-- <li>
                                    Additional inclusions specific for the day
                                </li>
                                <li>
                                    Additional inclusions specific for the day
                                </li> -->
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-7 jtimeline-item" date-is='Day 14'>
                        <div class="col-sm-12 nopad">
                            <h1 class="nopad">Depart Delhi</h1>
                            <p>
                                Today your travel comes to an end. Check-out from the hotel. Our representatives will
                                help you drop to Delhi Airport, from where you can board your flight for onwards
                                destinations.
                                This itinerary is only a slice of the wonderful diversity and beauty that India has to
                                offer and we hope that you will return soon to discover more!
                            </p>
                        </div>
                        <div class="row inclicons">
                            <span class="inclwidth d-inline-flex"><i class="fas fa-coffee jetsavered"></i>
                                <h4>Breakfast</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-cheese jetsavered"></i>
                                <h4>Dinner</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-bed jetsavered"></i>
                                <h4>Accomodation</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-bus jetsavered"></i>
                                <h4>Transport</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-route jetsavered"></i>
                                <h4>Sightseeing</h4>
                            </span>
                        </div>
                        <br>
                        <h1 class="text-center">Happy Travelling!</h1>
                        <p> * The starting price is based on travel during the low season for a minimum of two
                            travelers
                            staying in shared 3-star accommodations. Please inquire for a custom trip quote based on
                            your travel preferences and travel dates.</p>
                    </div>
                    <div class="col-sm-5 hightext">
                        <div class="row hightextinner">
                            <div class="col-sm-12">
                                <h4>Hightlights of the Day</h4>
                            </div>
                            <ul>
                                <li>
                                    Reach Delhi airport for onwards destination
                                </li>
                            </ul>
                        </div>
                        <div class="row hightextinner">
                            <div class="col-sm-12">
                                <!-- <h4>More at your service</h4> -->
                            </div>
                            <ul>
                                <!-- <li>
                                    Additional inclusions specific for the day
                                </li>
                                <li>
                                    Additional inclusions specific for the day
                                </li> -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Travel tips section -->

        <div id="tttip" class="container-fluid">
            <div class="row tttipsec">
                <h2>Some Pearls of Wisdom For Your Adventures</h2>
                <div class="col-sm-2">
                    <i class="fas fa-drafting-compass jetsavered" style=""></i>
                </div>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul>
                                <li>The best, experienced, caring & friendly tour managers at your service</li>
                                <li>All your meals will be checked for quality standards</li>
                                <li>Do not forget to carry your power banks, we do not want you to loose on capturing
                                    memories just because your phone died</li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul>
                                <li>Keep some emergency currency stored in a secret pocket/place</li>
                                <li>Carry a small combination lock with you when you travel</li>
                                <li>Make extra copies of your passport and important documents</li>
                                <li>Always have an extra USB charger and universal adapter</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Best time to visit -->

        <div id="besttv" class="container-fluid besttvcontinner">
            <div class="row">
                <div class="col-sm-6 besttvcontinnerimg">
                    <img src="/CSS/img/jetsave/Rajasthan/map.jpg" alt="" style="width: 100%;">
                </div>
                <div class="col-sm-6 besttvcontinnertxt">
                    <h2>Best Time to Visit You Ask?</h2>
                    <ul>
                        <li>
                            To visit the Princely state of Rajasthan, the best weather is Winter – October to
                            March. It is the time when the temperature is at its lowest level. During the day, the
                            weather is bearable to go for sightseeing and nights are relatively cool.
                        </li>
                        <li>
                            If you wish to explore the desert regions like Jaisalmer, Jodhpur, and Bikaner, winter is
                            the best time for a vacation in Rajasthan. The maximum number of festivals in Rajasthan
                            takes place in winter. Also, it is a good time to enjoy some adventure activities.
                        </li>
                        <li>
                            April to June is the time when the temperature rises as high as 48º C during the day, but
                            the beauty of sparkling Thar desert shining under scorching sun rays is beautiful. Since 60%
                            of Rajathasn's area is dominated by the Thar Desert, evidently the climate will be hot and
                            humid.
                        </li>
                        <li>
                            During July to September, monsoon hits the princely land. It is when one would notice a
                            sudden change in the landscapes as it looks like the desert is touched by the magic wand.
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        </div>
    </section>



    <!-- Footer component -->
    <%- include('../../partials/footer') %>

<!-- ajax CDN,  Popper.js CDN and Bootstrap JS -->
    


</body>

</html>