<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Tour the Enchanting of Portugal</title>
        <link rel="shortcut icon" type="image/png" href="../../img/logo.png" />
        <!-- jquery cdn -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
            </script>
    
        <script src="../../assets/js/hideshow.js"></script>
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
        <!-- Custom css -->
       <!-- maincss file  -->
       <link rel="stylesheet" type="text/css" href="../../assets/css/jetsavecss.css">
       <!-- navigation css file -->
       <link rel="stylesheet" type="text/css" href="../../assets/css/navbar.css">
       <!-- responsive css file -->
       <link rel="stylesheet" type="text/css" href="../../assets/css/mobile.css">
       <!-- custom itineary css file -->
       <link rel="stylesheet" type="text/css" href="../../assets/css/itineary.css">
       <!-- mobile navigation css file -->
       <link rel="stylesheet" type="text/css" href="../../assets/css/mobilenav.css">
       <!-- popup css file -->
       <link rel="stylesheet" type="text/css" href="../../assets/css/popup.css">
       <!-- loading css file -->
       <link rel="stylesheet" type="text/css" href="../../assets/css/loader.css">
   
       <!-- tablet view css file -->
       <link rel="stylesheet" type="text/css" media="(max-width: 600px)" href="../../assets/css/jetsave-tablet.css">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
       <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
           integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    
    
    </head>


<body>
   <!-- Loading Component -->
   <%- include('../../partials/loading') %>
    
    <!-- Header Component -->
    <%- include('../../partials/header') %>


    <!-- main container -->
    <!-- Top section with a itin img -->
    <section class="container-fluid full-width itbg iticon"
        style=" background-image: url(/CSS/img/jetsave/port/banner.jpg); height:100%; width: 100%; background-position: center center;background-size: cover;background-repeat: no-repeat;">
        <div class="row full-width white ">
            <!-- heading of itinerary -->
            <div class="col-sm-6 itibgh1">
                <h1>
                    Tour the Enchanting Settings of Portugal</h1>
            </div>
            <div class="col-sm-5">
                <div class="row full-width">
                    <div class="col-sm-6">
                        <span id="pchoice1" class="full-width">
                            <div class="text-center">
                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="400px"
                                    height="400px" viewBox="0 0 400 400" enable-background="new 0 0 400 400"
                                    xml:space="preserve" class="svgicon">
                                    <g>
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M157.666,57.858c28.322,0,56.27,0,84.615,0c0-0.901-0.01-1.772,0.002-2.642
											c0.1-7.765-0.173-15.557,0.387-23.289c1.122-15.49,15.255-30.724,32.307-31.235c8.04-0.242,16.238-0.48,24.132,0.762
											c15.104,2.377,27.244,17.063,27.707,32.359c0.214,7.079,0.076,14.168,0.098,21.253c0.003,0.828,0,1.656,0,2.736
											c0.949,0.042,1.752,0.109,2.555,0.109c8.228,0.008,16.465,0.261,24.682-0.051c15.111-0.574,29.353,12.266,29.332,29.379
											c-0.118,94.465-0.059,188.931-0.055,283.396c0,10.166-4.226,18.233-12.196,24.374c-4.1,3.158-8.873,4.609-14.011,4.896
											c-1.216,0.068-2.437,0.072-3.655,0.072c-102.465,0.003-204.929-0.014-307.394,0.023c-12.685,0.005-21.56-5.848-27.192-16.974
											c-1.897-3.75-2.447-7.828-2.448-11.978c-0.009-94.617-0.022-189.235,0.009-283.854c0.004-13.777,8.841-25.536,21.307-28.451
											c2.564-0.6,5.274-0.761,7.921-0.792c8.15-0.099,16.303-0.036,24.454-0.036c0.827,0,1.654,0,2.812,0c0-0.979,0-1.786,0-2.593
											c0.007-6.704-0.084-13.41,0.041-20.111c0.313-16.729,12.402-31.396,28.88-34.047c9.459-1.522,19.211-1.699,28.647,0.359
											c15.412,3.362,26.688,17.648,27.021,33.55c0.14,6.701,0.036,13.407,0.043,20.111C157.666,56.006,157.666,56.827,157.666,57.858z
											 M355.112,143.648c-103.558,0-206.892,0-310.2,0c0,76.098,0,152.021,0,227.976c103.473,0,206.805,0,310.2,0
											C355.112,295.563,355.112,219.691,355.112,143.648z M129.393,69.028c0-10.667,0.029-21.333-0.014-32
											c-0.018-4.57-2.382-7.204-6.684-7.317c-4.873-0.128-9.753-0.129-14.626-0.003c-4.134,0.107-6.4,2.406-6.788,6.532
											c-0.071,0.756-0.078,1.521-0.078,2.282c-0.004,20.19-0.004,40.38,0,60.57c0,0.761,0.01,1.526,0.082,2.282
											c0.397,4.188,2.604,6.367,6.784,6.468c4.341,0.104,8.685,0.061,13.027,0.046c6.099-0.021,8.292-2.199,8.298-8.232
											C129.404,89.446,129.396,79.237,129.393,69.028z M270.555,68.922c0,10.59-0.034,21.181,0.017,31.771
											c0.022,4.61,2.446,7.069,7.03,7.164c4.493,0.093,8.991,0.079,13.485,0.021c5.377-0.07,7.63-2.402,7.646-7.994
											c0.039-13.486,0.014-26.971,0.014-40.457c0-7.314,0.049-14.628-0.021-21.942c-0.052-5.458-2.462-7.79-7.874-7.815
											c-4.037-0.02-8.075-0.013-12.113-0.002c-5.847,0.015-8.177,2.33-8.185,8.17C270.54,48.198,270.55,58.561,270.555,68.922z" />
                                    </g>
                                </svg>
                                <h3 class="pc nomar nopad">
                                    4 Nights
                                </h3>
                                <p class="psmall subhead">TOUR
                                </p>
                            </div>

                        </span>

                    </div>
                    <!-- itineary price -->
                    <div class="col-sm-6 text-center">
                        <h3>Starting at Rs 89,999</h3>
                        <input type="submit" id="contact" value="Book This Trip" class="formbuttoniti">

                    </div>
                </div>
            </div>
            <!--popup-->
            <div id="contactForm">

                <h1 style="color: red;">Get a Quote</h1>
                <small>I'll get back to you as quickly as possible</small>

                <form action="/insert" method="POST">
                    <input placeholder="Name" name="name" class="form-control col-md 4" type="text" required />
                    <input placeholder="Email" name="email" class="form-control" type="text" required />
                    <input placeholder="Subject" name="subject" class="form-control" type="text" required />
                    <textarea placeholder="Comment" name="comment" class="form-control"></textarea><br>
                    <input class="formBtn btn btn-danger" type="submit" />
                    <input class="formBtn btn btn-danger" type="reset" />
                </form>
            </div>
            <!--popup end -->
            <div class="col-sm-1 itisvg">
                <span id="askQ" class="rightsvg">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 400 400">
                        <g>
                            <path d="M155.401,358.788c-0.11,23.872,17.021,41.139,40.894,41.212
							c22.578,0.061,39.759-17.181,39.93-40.063c0.171-23.579-16.533-40.833-39.832-41.126
							C173.046,318.518,155.512,335.625,155.401,358.788z" />
                            <path
                                d="M218.531,0c21.76,3.858,43.152,8.425,62.507,20.147
							c57.72,34.935,66.964,105.794,19.83,154.039c-14.335,14.689-29.855,28.084-45.351,41.492
							c-16.582,14.335-27.022,32.09-30.832,53.813c-3.261,18.572-13.823,27.571-31.517,27.584c-17.155,0.024-29.392-9.671-32.212-27.23
							c-5.006-31.247,4.848-57.939,27.34-79.796c15.605-15.166,31.968-29.526,47.757-44.496c23.688-22.456,27.242-38.684,13.884-61.469
							c-12.846-21.881-38.904-31.394-64.974-23.481c-16.509,5.019-29.05,14.934-36.169,30.966c-3.821,8.646-7.754,17.278-10.953,26.155
							c-5.702,15.85-15.189,27.23-33.14,27.743c-17.388,0.5-29.232-8.242-35.729-24.299c0-8.829,0-17.669,0-26.51
							c11.82-44.252,40.687-71.897,83.473-86.33C165.377,3.969,178.748,2.344,192.021,0C200.862,0,209.703,0,218.531,0z" />
                            <path d="M155.401,358.788c0.11-23.163,17.645-40.271,40.991-39.978
							c23.299,0.293,40.003,17.547,39.832,41.126c-0.171,22.883-17.352,40.124-39.93,40.063
							C172.423,399.927,155.291,382.66,155.401,358.788z" />
                        </g>
                    </svg>
                </span>
                <span id="edititi" class="rightsvg">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 400 400">
                        <g>
                            <path d="M55.67,379.051c2.429-30.725,4.321-61.511,7.617-92.149
							c1.123-10.474,3.723-21.851,9.155-30.64c47.509-76.848,95.762-153.244,143.93-229.689c13.989-22.216,33.166-32.214,57.471-23.364
							c19.896,7.257,39.659,18.981,55.064,33.434c19.824,18.591,19.519,41.76,4.895,65.075
							c-48.339,77.049-96.824,154.007-145.346,230.947c-2.576,4.077-5.14,9.069-9.033,11.267c-32.397,18.298-64.843,36.56-97.851,53.722
							c-14.465,7.52-20.336-4.54-25.902-14.94C55.67,381.492,55.67,380.271,55.67,379.051z M92.986,353.855
							c16.662-9.094,32.226-16.125,46.104-25.634c11.108-7.605,22.461-16.699,29.699-27.759c32.739-49.975,64.074-100.877,95.836-151.486
							c3.394-5.396,6.299-11.096,9.851-17.413c-21.581-12.939-41.21-24.694-61.51-36.865c-32.323,51.367-61.229,102.495-95.372,149.833
							C93.267,278.246,94.609,314.317,92.986,353.855z M292.03,103.183c23.9-32.037,22.827-42.675-4.943-59.99
							c-27.075-16.882-36.621-12.97-55.114,23.62C251.613,78.708,271.353,90.665,292.03,103.183z" />
                        </g>
                    </svg>
                </span>
                <span id="bokmak" class="rightsvg">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 400 400">
                        <path d="M377.135,60.354c-10.596-38.94-37.805-60.107-78.43-60.205
						c-64.94-0.22-129.894-0.171-194.847-0.024c-50.512,0.098-78.954,27.026-82.36,77.441c-0.158,2.295-1.623,4.517-2.478,6.763
						c0,99.852,0,199.705,0,299.557C32.924,404.247,43.215,405.175,61,387.45c22.058-21.973,44.641-43.432,65.808-66.234
						c10.767-11.597,17.089-9.937,27.124,0.928c20.739,22.51,42.992,43.603,64.672,65.233c7.873,7.837,16.003,15.479,28.527,10.767
						c13-4.883,12.707-16.138,12.695-27.295c-0.037-56.566-0.037-113.133,0-169.7c0.012-19.751,0.77-20.532,19.873-20.581
						c23.352-0.073,46.703-0.415,70.031,0.146c13.415,0.292,24.133-3.394,31.249-15.259c0-31.201,0-62.402,0-93.603
						C379.686,68.02,378.196,64.26,377.135,60.354z M221.46,325.513c-1.758,0.684-3.516,1.367-5.273,2.051
						c-13.538-13.818-27.307-27.417-40.552-41.504c-33.227-35.375-35.302-35.497-69.542-1.245
						c-14.124,14.111-28.235,28.198-45.129,45.068c-0.439-8.936-0.83-13.354-0.83-17.798c-0.037-72.777-0.073-145.58-0.024-218.382
						c0.037-38.647,14.257-53.002,52.441-53.051c36.841-0.049,73.705,0,108.91,0C221.46,136.818,221.46,231.178,221.46,325.513z
						 M339.342,129.738c-0.098,3.516-6.213,9.155-10.144,9.741c-9.644,1.416-19.616,0.464-29.456,0.464
						c-40.404,1.123-42.955,7.764-39.904-40.039c0.66-10.254,0.306-20.874,2.894-30.688c4.772-18.066,22.058-29.614,39.685-28.466
						c17.847,1.172,33.666,14.501,35.705,33.203C340.135,92.409,339.939,111.159,339.342,129.738z" />
                    </svg>
                </span>
            </div>
        </div>
    </section>
    <!-- Sticky Itinerary Menu -->
    <section class="container-fluid full-width">
        <div class="leftmenufix">
            <div class="row itimenuinner">

                <div class="row full-width itimenuinneritem">
                    <div class="col-sm-9 full-width leftmenufixitem">
                        <a href="#overvw">
                            <h3 class="jetsavered">Overview</h3>
                        </a>
                    </div>
                    <div class="col-sm-3 faicon">
                        <a href="#overvw"><i class="fab fa-ravelry"></i></a>
                    </div>
                </div>

                <div class="row full-width itimenuinneritem">
                    <div class="col-sm-9 full-width leftmenufixitem">
                        <a href="#itinmap">
                            <h3 class="jetsavered">Itinerary Map</h3>
                        </a>
                    </div>
                    <div class="col-sm-3 faicon">
                        <a href="#itinmap"><i class="fas fa-map-signs"></i></a>
                    </div>
                </div>


                <div class="row full-width itimenuinneritem">
                    <div class="col-sm-9 full-width leftmenufixitem">
                        <a href="#highiti">
                            <h3 class="jetsavered">Highlights</h3>
                        </a>
                    </div>
                    <div class="col-sm-3 faicon">
                        <a href="#highiti"><i class="fas fa-calendar-day"></i></a>
                    </div>
                </div>

                <div class="row full-width itimenuinneritem">
                    <div class="col-sm-9 full-width leftmenufixitem">
                        <a href="#tourinc">
                            <h3 class="jetsavered">Inclusions</h3>
                        </a>
                    </div>
                    <div class="col-sm-3 faicon">
                        <a href="#tourinc"><i class="fas fa-tags"></i></a>
                    </div>
                </div>

                <div class="row full-width itimenuinneritem">
                    <div class="col-sm-9 full-width leftmenufixitem">
                        <a href="#mainitin">
                            <h3 class="jetsavered">Itinerary</h3>
                        </a>
                    </div>
                    <div class="col-sm-3 faicon">
                        <a href="#mainitin"><i class="fas fa-clipboard-list"></i></a>
                    </div>
                </div>

                <div class="row full-width itimenuinneritem">
                    <div class="col-sm-9 full-width leftmenufixitem">
                        <a href="#tttips">
                            <h3 class="jetsavered">Travel Tips</h3>
                        </a>
                    </div>
                    <div class="col-sm-3 faicon">
                        <a href="#tttips"><i class="fas fa-info"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="">
        <div class="row">
            <div class="col-sm-12 jtopanime">
                <div class="jframe">
                    <div class="jplane-container">
                        <a href="http://customer.io/" target="_blank">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="1131.53px"
                                height="379.304px" viewBox="0 0 1131.53 379.304"
                                enable-background="new 0 0 1131.53 379.304" xml:space="preserve" class="plane">
                                <polygon fill="#D8D8D8"
                                    points="72.008,0 274.113,140.173 274.113,301.804 390.796,221.102 601.682,367.302 1131.53,0.223  " />
                                <polygon fill="#C4C4C3"
                                    points="1131.53,0.223 274.113,140.173 274.113,301.804 390.796,221.102   " />
                            </svg></a>

                    </div>
                </div>
                <div class="jclouds">

                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        x="0px" y="0px" width="762px" height="331px" viewBox="0 0 762 331"
                        enable-background="new 0 0 762 331" xml:space="preserve" class="jcloud big front slowest">
                        <path d="M715.394,228h-16.595c0.79-5.219,1.201-10.562,1.201-16c0-58.542-47.458-106-106-106
							c-8.198,0-16.178,0.932-23.841,2.693C548.279,45.434,488.199,0,417.5,0c-84.827,0-154.374,65.401-160.98,148.529
							C245.15,143.684,232.639,141,219.5,141c-49.667,0-90.381,38.315-94.204,87H46.607C20.866,228,0,251.058,0,279.5
							S20.866,331,46.607,331h668.787C741.133,331,762,307.942,762,279.5S741.133,228,715.394,228z" />
                    </svg>
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        x="0px" y="0px" width="762px" height="331px" viewBox="0 0 762 331"
                        enable-background="new 0 0 762 331" xml:space="preserve" class="jcloud distant smaller">
                        <path d="M715.394,228h-16.595c0.79-5.219,1.201-10.562,1.201-16c0-58.542-47.458-106-106-106
							c-8.198,0-16.178,0.932-23.841,2.693C548.279,45.434,488.199,0,417.5,0c-84.827,0-154.374,65.401-160.98,148.529
							C245.15,143.684,232.639,141,219.5,141c-49.667,0-90.381,38.315-94.204,87H46.607C20.866,228,0,251.058,0,279.5
							S20.866,331,46.607,331h668.787C741.133,331,762,307.942,762,279.5S741.133,228,715.394,228z" />
                    </svg>

                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        x="0px" y="0px" width="762px" height="331px" viewBox="0 0 762 331"
                        enable-background="new 0 0 762 331" xml:space="preserve" class="jcloud small slow">
                        <path d="M715.394,228h-16.595c0.79-5.219,1.201-10.562,1.201-16c0-58.542-47.458-106-106-106
							c-8.198,0-16.178,0.932-23.841,2.693C548.279,45.434,488.199,0,417.5,0c-84.827,0-154.374,65.401-160.98,148.529
							C245.15,143.684,232.639,141,219.5,141c-49.667,0-90.381,38.315-94.204,87H46.607C20.866,228,0,251.058,0,279.5
							S20.866,331,46.607,331h668.787C741.133,331,762,307.942,762,279.5S741.133,228,715.394,228z" />
                    </svg>

                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        x="0px" y="0px" width="762px" height="331px" viewBox="0 0 762 331"
                        enable-background="new 0 0 762 331" xml:space="preserve"
                        class="jcloud distant super-slow massive">
                        <path d="M715.394,228h-16.595c0.79-5.219,1.201-10.562,1.201-16c0-58.542-47.458-106-106-106
							c-8.198,0-16.178,0.932-23.841,2.693C548.279,45.434,488.199,0,417.5,0c-84.827,0-154.374,65.401-160.98,148.529
							C245.15,143.684,232.639,141,219.5,141c-49.667,0-90.381,38.315-94.204,87H46.607C20.866,228,0,251.058,0,279.5
							S20.866,331,46.607,331h668.787C741.133,331,762,307.942,762,279.5S741.133,228,715.394,228z" />
                    </svg>

                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        x="0px" y="0px" width="762px" height="331px" viewBox="0 0 762 331"
                        enable-background="new 0 0 762 331" xml:space="preserve" class="jcloud slower">
                        <path d="M715.394,228h-16.595c0.79-5.219,1.201-10.562,1.201-16c0-58.542-47.458-106-106-106
							c-8.198,0-16.178,0.932-23.841,2.693C548.279,45.434,488.199,0,417.5,0c-84.827,0-154.374,65.401-160.98,148.529
							C245.15,143.684,232.639,141,219.5,141c-49.667,0-90.381,38.315-94.204,87H46.607C20.866,228,0,251.058,0,279.5
							S20.866,331,46.607,331h668.787C741.133,331,762,307.942,762,279.5S741.133,228,715.394,228z" />
                    </svg>
                </div>
            </div>
        </div>
    </section>

    <!-- itinerary container -->
    <section class="iticon">
        <!-- Overview section -->
        <div id="overvw" class="container-fluid">
            <div class="row">
                <div class="col-sm-7 itinovercont">
                    <!-- Overview Container -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="itinovercontinner">
                                <h2>Overview of the Tour</h2>
                                <p> Portugal is a place that has landed squarely on the travel radar, attracting many
                                    visitors from around the world. The
                                    place is a graceful blend of old-world European charm, insightful landmarks, and
                                    scrumptious food. The place has the
                                    oldest known borders in Europe and captures an amalgamation of ancient architecture.
                                    Cherry on the top is the sun-soaked
                                    beaches and the relaxed nature, which makes it easy for travelers to come and
                                    kick-back. Lisbon as a place is amazingly
                                    vibrant and walkable with steps and hills. The place is filled with amazing cafes
                                    allowing the traveler to stop and
                                    enjoy the local food and drink. It is a proud country with a rich
                                    history, and welcoming people, which
                                    offers an extraordinary variety of sights for you to discover. It is an ideal place
                                    for solo travel as it gives you the
                                    opportunity to explore the place along with exploring one’s own self. When on a solo
                                    trip to this place you can tour the
                                    historic towns of central Portugal, or the picturesque fishing villages along the
                                    Atlantic coastline. With so many wonderful locations and possibilities, it can
                                    be challenging to identify the most
                                    suitable itinerary. However, we have made it simple for you!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="row sidebarbox">
                        <div class="col-sm-8">
                            <h3>Quick Facts</h3>
                            <h4>Destinations en-route</h4>
                            <ul>
                                <li> Lisbon </li>
                                <li> Lisbon (Lisbon + Sintra Tour) </li>
                                <li> Lisbon (Food + Wine tour) </li>
                                <li> Lisbon (Evora) </li>
                            
                            </ul>
                        </div>
                        <div class="col-sm-4" style="padding-left: 0px;">
                            <i class="fas fa-search-location"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- the complete Itinerary map section -->
        <div id="itinmap demo" class="container-fluid itinovercontinner ">


            <div class="row">
                <div class="col-sm-6 itinovercontinnerimg">
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/CSS/img/jetsave/port/2.jpg" class="d-block w-100" alt="..." width="50"
                                    height="50">
                            </div>
                            <div class="carousel-item">
                                <img src="/CSS/img/jetsave/port/3.jpeg" class="d-block w-100" alt="..." width="50"
                                    height="50">
                            </div>
                            <div class="carousel-item">
                                <img src="/CSS/img/jetsave/port/4.jpg" class="d-block w-100" alt="..." width="50"
                                    height="50">
                            </div>
                            <div class="carousel-item">
                                <img src="/CSS/img/jetsave/port/5.jpg" class="d-block w-100" alt="..." width="50"
                                    height="50">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>

                <!-- <img src="https://cdn.pixabay.com/photo/2017/11/06/22/51/dubai-2925119_960_720.jpg" alt=""> -->



                <div class="col-sm-6 itinovercontinnertxt">
                    <h2>Itinerary Map</h2>
                    <ul>
                        <li>
                            <strong>Day 1: </strong>Arrival in Lisbon
                        </li>
                        <li>
                            <strong>Day 2: </strong>Lisbon (Lisbon + Sintra Tour
                        <li>
                            <strong>Day 3: </strong> Lisbon (Food + Wine tour)
                        </li>
                        <li>
                            <strong>Day 4: </strong> Lisbon
                        </li>
                        <li>
                            <strong>Day 5: </strong> Lisbon (Evora)
                        </li>
                        <li>
                            <strong>Day 6: </strong> Depart Lisbon
                        </li>

                    </ul>
                </div>
            </div>
        </div>


        <!-- Tour Highlight row section -->
        <div id="highiti" class="container-fluid">
            <div class="row">
                <div class="col-sm-7 itinovercont">
                    <!-- Highlihts Container -->
                    <div class="col-sm-12 tourmailhigh itinovercontinner">
                        <h2>The Highlights of the Tour</h2>
                        <ul>
                            <li> Go on a sightseeing tour and see the Belem Tower, the Jeronimos Monastery and the
                                National Coach Museum </li>
                            <li> You can also discover Alfama and Rossio quarters </li>
                            <li> Tour the charming town of Sintra and a visit to the National Palace </li>
                            <li> Visit Cabo da Roca and admire the beautiful view of Guincho beach and Boca do Inferno
                            </li>
                            <li> Head out for a Lisbon food and wine tour on a TUK TUK </li>
                            <li> Tour some Lisbon quarters like Bairro Alto to Chiado and Rossio </li>
                            <li> Travel to the UNESCO World Heritage Site of Evora town </li>
                            <li> Visit Praça do Giraldo, the Cathedral and Sao Francisco Church </li>
                            <li> Stop at a local Alentejo’s wine estate for wine tasting </li>



                        </ul>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="row sidebarbox">
                        <div class="col-sm-8">
                            <h3>NOTE:</h3>
                            <h4>Emergency No</h4>
                            <ul>
                                <li> +1 207-353-4079 </li>

                            </ul>
                            <h4> Currency - Euro
                            </h4>
                        </div>
                        <div class="col-sm-4" style="padding-left: 0px;">
                            <i class="fas fa-ambulance" style="font-size: 95px; margin-top: 30%;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!-- Tour Inclusions section -->

        <div id="tourinc" class="container-fluid tourinclubg">
            <div class="row tourinclusec">
                <h2 class="white full-width text-center">Tour Inclusions</h2>
                <div class="row">
                    <div class="col-sm-3">
                        <i class="fas fa-door-open"></i>
                        <h3> Hotel </h3>
                        <p>Get the best, comfortable, world-class hotels in the region, which match all the hallmarks.
                        </p>
                    </div>
                    <div class="col-sm-3">
                        <i class="fas fa-glass-martini-alt"></i>
                        <h3> Food </h3>
                        <p>Let your taste buds feel the best in class culinary delights.</p>
                    </div>
                    <div class="col-sm-3">
                        <i class="fas fa-bus"></i>
                        <h3> Transport </h3>
                        <p>We will help you get transported from one place to another, in a hassle free manner.</p>
                    </div>
                    <div class="col-sm-3">
                        <i class="fas fa-route"></i>
                        <h3> Sightseeing </h3>
                        <p>No more standing in ques for entrance tickets and other activities.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Itinerary Container -->
        <div id="mainitin" class="row jtimelineco">
            <div class="col-sm-12">
                <h1 class=""> Your Leisure Detailed</h1>
            </div>

            <div class="" style="padding-left: 7%;">
                <div class="row">
                    <div class="col-sm-7 jtimeline-item" date-is='Day 1'>
                        <div class="col-sm-12 nopad">
                            <h1 class="nopad">Arrival in Lisbon</h1>
                            <p>
                                On your arrival in Lisbon, you will be met by our representative who will help you
                                get transferred to your pre
                                booked hotel. Your five day stay in this historic place will be the most amazing
                                experience you will have. When it comes
                                to Lisbon there is so much to see, from historic places to the most recent museum and
                                architecture projects, from the
                                classic to the contemporary, from visual arts to performing arts, from listed monuments
                                to new interactive exhibitions.
                                Post completing your check-in formalities, the rest of your day is at leisure. Stroll
                                around the nearby areas or
                                just stay in the hotel for some rejuvenation. Overnight stay at the hotel in Lisbon.
                            </p>
                        </div>
                        <div class="row inclicons">
                            <span class="inclwidth d-inline-flex"><i class="fas fa-coffee jetsavered"></i>
                                <h4>Breakfast</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-cheese jetsavered"></i>
                                <h4>Dinner</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-bed jetsavered"></i>
                                <h4>Accomodation</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-bus jetsavered"></i>
                                <h4>Transport</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-route jetsavered"></i>
                                <h4>Sightseeing</h4>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-5 hightext">
                        <div class="row hightextinner">
                            <div class="col-sm-12">
                                <h4>Hightlights of the Day</h4>
                            </div>
                            <ul>
                                <li> Arrival in the fascinating town of Lisbon</li>
                                <li> Tour the most recent museum and architecture projects</li>
                                <li> Tour the listed monuments to new interactive exhibitions</li>


                            </ul>
                        </div>
                        <div class="row hightextinner">
                            <div class="col-sm-12">
                                <!-- <h4>More at your service</h4> -->
                            </div>
                            <ul>
                                <!-- <li>
                                    Additional inclusions specific for the day
                                </li>
                                <li>
                                    Additional inclusions specific for the day
                                </li> -->
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-7 jtimeline-item" date-is='Day 2'>
                        <div class="col-sm-12 nopad">
                            <h1 class="nopad">Lisbon (Lisbon and Sintra Tour)</h1>
                            <p>
                                This morning, post breakfast, go on a tour to explore Lisbon. During the tour, visit
                                the Belem Tower, the Jeronimos
                                Monastery and the National Coach Museum. Also discover Alfama and Rossio
                                quarters. In the afternoon continue
                                your tour by visiting the charming town of Sintra and a visit to the National Palace.
                                Later continue your visit to Cabo
                                da Roca which is known to be the most westerly point of Europe, and admire the beautiful
                                view of Guincho beach and Boca
                                do Inferno. Also travel through the Cascais and Estoril before returning
                                to Lisbon.
                                Overnight stay at the hotel in Lisbon.
                            </p>
                        </div>
                        <div class="row inclicons">
                            <span class="inclwidth d-inline-flex"><i class="fas fa-coffee jetsavered"></i>
                                <h4>Breakfast</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-cheese jetsavered"></i>
                                <h4>Dinner</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-bed jetsavered"></i>
                                <h4>Accomodation</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-bus jetsavered"></i>
                                <h4>Transport</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-route jetsavered"></i>
                                <h4>Sightseeing</h4>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-5 hightext">
                        <div class="row hightextinner">
                            <div class="col-sm-12">
                                <h4>Hightlights of the Day</h4>
                            </div>
                            <ul>
                                <li> Go on a sightseeing tour and see the Belem Tower, the Jeronimos Monastery and the
                                    National Coach Museum</li>
                                <li> Discover Alfama and Rossio quarters</li>
                                <li> Tour the charming town of Sintra and a visit to the National Palace</li>
                                <li> Visit Cabo da Roca and admire the beautiful view of Guincho beach and Boca do
                                    Inferno</li>
                                <li> Travel through the Cascais and Estoril</li>



                            </ul>
                        </div>
                        <div class="row hightextinner">
                            <div class="col-sm-12">
                                <!-- <h4>More at your service</h4> -->
                            </div>
                            <ul>
                                <!-- <li>
                                    Additional inclusions specific for the day
                                </li>
                                <li>
                                    Additional inclusions specific for the day
                                </li> -->
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-7 jtimeline-item" date-is='Day 3'>
                        <div class="col-sm-12 nopad">
                            <h1 class="nopad">Lisbon (Tour by Tuk Tuk)</h1>
                            <p>
                                This morning, after having a scrumptious breakfast, get ready to head out for Lisbon
                                tour by TUK TUK. Have the most
                                amazing and authentic food and wine experience, which is the ultimate combination of
                                history, iconic sights and
                                Portuguese gastronomy. Today, tour some Lisbon quarters like Bairro Alto to
                                Chiado and Rossio, and admire the
                                beautiful views of the ‘city of seven hills’. Also experience some Portuguese
                                ‘tapas’ and wines. Rest of the day
                                at leisure. Overnight stay in Lisbon.
                            </p>
                        </div>
                        <div class="row inclicons">
                            <span class="inclwidth d-inline-flex"><i class="fas fa-coffee jetsavered"></i>
                                <h4>Breakfast</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-cheese jetsavered"></i>
                                <h4>Dinner</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-bed jetsavered"></i>
                                <h4>Accomodation</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-bus jetsavered"></i>
                                <h4>Transport</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-route jetsavered"></i>
                                <h4>Sightseeing</h4>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-5 hightext">
                        <div class="row hightextinner">
                            <div class="col-sm-12">
                                <h4>Hightlights of the Day</h4>
                            </div>
                            <ul>
                                <li> Head out for a Lisbon food and wine tour on a TUK TUK</li>
                                <li> Tour some Lisbon quarters like Bairro Alto to Chiado and Rossio</li>
                                <li> Admire the beautiful views of the ‘city of seven hills’</li>


                            </ul>
                        </div>
                        <div class="row hightextinner">
                            <div class="col-sm-12">
                                <!-- <h4>More at your service</h4> -->
                            </div>
                            <ul>
                                <!-- <li>
                                    Additional inclusions specific for the day
                                </li>
                                <li>
                                    Additional inclusions specific for the day
                                </li> -->
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-7 jtimeline-item" date-is='Day 4'>
                        <div class="col-sm-12 nopad">
                            <h1 class="nopad">Lisbon</h1>
                            <p>
                                Relish on a delicious breakfast at the hotel and spend the rest of the day as you
                                please. Make the most of your free
                                time by exploring the stunning Algarve coast on a full-day tour from Lisbon. Head south
                                to Lagos and explore the famous
                                caves of Piedade, with the option to take a cave tour by boat. Then head to Portugal’s
                                southernmost tip, Sagres, to
                                visit the St. Vincent lighthouse and Sagres Fortress. Take in the beautiful coastal
                                scenery throughout the day and enjoy
                                informative commentary from your guide. Return to the hotel for an overnight stay.
                            </p>
                        </div>
                        <div class="row inclicons">
                            <span class="inclwidth d-inline-flex"><i class="fas fa-coffee jetsavered"></i>
                                <h4>Breakfast</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-cheese jetsavered"></i>
                                <h4>Dinner</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-bed jetsavered"></i>
                                <h4>Accomodation</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-bus jetsavered"></i>
                                <h4>Transport</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-route jetsavered"></i>
                                <h4>Sightseeing</h4>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-5 hightext">
                        <div class="row hightextinner">
                            <div class="col-sm-12">
                                <h4>Hightlights of the Day</h4>
                            </div>
                            <ul>
                                <li> Explore the stunning Algarve coast on a full-day tour from Lisbon</li>
                                <li> Head south to Lagos and explore the famous caves of Piedade</li>
                                <li> Enjoy a cave tour by a boat</li>
                                <li> Head to Portugal’s southernmost tip, Sagres</li>
                                <li> Visit the St. Vincent lighthouse and Sagres Fortress</li>




                            </ul>
                        </div>
                        <div class="row hightextinner">
                            <div class="col-sm-12">
                                <!-- <h4>More at your service</h4> -->
                            </div>
                            <ul>
                                <!-- <li>
                                    Enjoy a roller coaster ride of Philae Temple, High Dam and the unfinished Obelisk
                                </li>
                                <li>
                                    Check-in to Nile Cruiser for a comfortable overnight stay.
                                </li> -->
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-7 jtimeline-item" date-is='Day 5'>
                        <div class="col-sm-12 nopad">
                            <h1 class="nopad">Lisbon (Evora Wine tour)</h1>
                            <p>
                                After having a filling and a scrumptious breakfast travel along the vast landscapes of
                                Alentejo district, with fields of
                                olive and cork trees and vineyards, to Evora town, a UNESCO World Heritage Site. Wander
                                through the narrow
                                streets lined with white houses, discovering monuments and details that reveal its
                                history and rich heritage. Visit
                                Praça do Giraldo, the Cathedral and Sao Francisco Church with its curious Chapel of
                                Bones and the Roman Temple. Stop at
                                a local Alentejo’s wine estate for wine tasting and try the traditional cheeses and
                                sausages. Return to Lisbon for an
                                overnight stay at the hotel.
                            </p>
                        </div>
                        <div class="row inclicons">
                            <span class="inclwidth d-inline-flex"><i class="fas fa-coffee jetsavered"></i>
                                <h4>Breakfast</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-cheese jetsavered"></i>
                                <h4>Dinner</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-bed jetsavered"></i>
                                <h4>Accomodation</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-bus jetsavered"></i>
                                <h4>Transport</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-route jetsavered"></i>
                                <h4>Sightseeing</h4>
                            </span>
                        </div>

                    </div>
                    <div class="col-sm-5 hightext">
                        <div class="row hightextinner">
                            <div class="col-sm-12">
                                <h4>Hightlights of the Day</h4>
                            </div>
                            <ul>
                                <li> Travel to the UNESCO World Heritage Site of Evora town </li>
                                <li> Visit Praça do Giraldo, the Cathedral and Sao Francisco Church </li>
                                <li> Stop at a local Alentejo’s wine estate for wine tasting </li>

                            </ul>
                        </div>
                        <div class="row hightextinner">
                            <div class="col-sm-12">
                                <!-- <h4>More at your service</h4> -->
                            </div>
                            <ul>
                                <!-- <li>
                                    Additional inclusions specific for the day
                                </li>
                                <li>
                                    Additional inclusions specific for the day
                                </li> -->
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-7 jtimeline-item" date-is='Day 6'>
                        <div class="col-sm-12 nopad">
                            <h1 class="nopad">Departure from Lisbon</h1>
                            <p>
                                This is your last day in this history-filled place. Complete the check out from your
                                hotel and have a private transfer
                                to Lisbon Airport. Catch a flight for your onwards destination.
                            </p>
                        </div>
                        <div class="row inclicons">
                            <span class="inclwidth d-inline-flex"><i class="fas fa-coffee jetsavered"></i>
                                <h4>Breakfast</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-cheese jetsavered"></i>
                                <h4>Dinner</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-bed jetsavered"></i>
                                <h4>Accomodation</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-bus jetsavered"></i>
                                <h4>Transport</h4>
                            </span>
                            <span class="inclwidth d-inline-flex"><i class="fas fa-route jetsavered"></i>
                                <h4>Sightseeing</h4>
                            </span>
                        </div>
                        <h1 class="text-center">Happy Solo Travelling!</h1>
                        <p> * The starting price is based on travel during the low season for a minimum of two
                            travelers
                            staying in shared 3-star accommodations. Please inquire for a custom trip quote based on
                            your travel preferences and travel dates.</p>
                    </div>
                    <div class="col-sm-5 hightext">
                        <div class="row hightextinner">
                            <div class="col-sm-12">
                                <!-- <h4>Hightlights of the Day</h4> -->
                            </div>
                            <ul>
                                <!-- <li>
                                    Visit the ancient Edfu temple which has a great architectural style
                                </li>
                                <li> Board a ship and set sail to Luxor</li> -->

                            </ul>
                        </div>
                        <div class="row hightextinner">
                            <div class="col-sm-12">
                                <!-- <h4>More at your service</h4> -->
                            </div>
                            <ul>
                                <!-- <li>
                                    Additional inclusions specific for the day
                                </li>
                                <li>
                                    Additional inclusions specific for the day
                                </li> -->
                            </ul>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <!-- Travel tips section -->

        <div id="tttip" class="container-fluid">
            <div class="row tttipsec">
                <h2>Some Pearls of Wisdom For Your Adventures</h2>
                <div class="col-sm-2">
                    <i class="fas fa-drafting-compass jetsavered" style=""></i>
                </div>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul>
                                <li>The best, experienced, caring & friendly tour managers at your service</li>
                                <li>All your meals will be checked for quality standards.</li>
                                <li>Do not forget to carry your power banks, we do not want you to loose on capturing
                                    memories just because your phone died</li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul>
                                <li>Keep some emergency currency stored in a secret pocket/place</li>
                                <li>Carry a small combination lock with you when you travel</li>
                                <li>Make extra copies of your passport and important documents</li>
                                <li>Always have an extra USB charger and universal adapter</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Best time to visit -->

        <div id="besttv" class="container-fluid besttvcontinner">
            <div class="row">
                <div class="col-sm-6 besttvcontinnerimg">
                    <img src="/CSS/img/jetsave/port/last.jpg" alt="" style="width: 100%;">
                </div>
                <div class="col-sm-6 besttvcontinnertxt">
                    <h2>Best Time to Visit You Ask?</h2>
                    <ul>

                        <li> The best time to visit Lisbon is either from March to May or September to October, because
                            the weather during these
                            months are warm. </li>
                        <li> During the months of March-May, there are slightly higher chance of rain. The weather
                            during these months are also
                            unpredictable. </li>
                        <li> During June-August, summer is at its peak. Hotel rates climb and the city's monuments have
                            tourists wall-to-wall. It
                            is also the time when summer outdoor festivals take place. But be prepared to have the
                            beaches packed. </li>
                        <li> The months from September-October are less expensive and less crowded than summer, the
                            temperature also begin to drop
                            giving winter chills. </li>
                        <li> The month from November-February brings with them pleasant European winter standards. These
                            months are considered to
                            be Lisbon's wettest. </li>



                    </ul>
                </div>
            </div>
        </div>

        </div>
    </section>

    <!-- Footer component -->
    <%- include('../../partials/footer') %>

<!-- ajax CDN,  Popper.js CDN and Bootstrap JS -->
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Custom JS file -->
<script type="text/javascript" src="./assets/js/itineary.js"></script>

</body>


</html>