<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Jetsave Contact: Dreams Become Reality When You Travel</title>
	<link rel="shortcut icon" type="image/png" href="/img/logo.png" />
	<!-- Jquery CDN -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
		</script>
	<script src="./assets/js/hideshow.js"></script>	

	<!-- Bootstrap CDN -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="./assets/css/jetsavecss.css">
	<link rel="stylesheet" type="text/css" href="./assets/css/loader.css">
	
	<link rel="stylesheet" type="text/css" media="(max-width: 600px)" href="./assets/css/jetsave-tablet.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
		integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

</head>
<style>
	@import url(//fonts.googleapis.com/css?family=Montserrat:400,700);



	.col-md-6 {
		text-align: center;
		padding-bottom: 50px;
		border-right: 1px dashed black;
	}

	.col-md-6:last-child {
		border-right: 1px solid black;
	}

	.counter {
		animation-duration: 1s;
		animation-delay: 0s;
	}

	i {
		font-size: 20px !Important;
	}

	@media (max-width: 991px) {
		.col-md-6 {
			border-right: 0px dashed black;
			border-bottom: 1px dashed black;
			width: 50%;
			margin: auto auto;
		}

		.col-md-6:last-child {
			border-bottom: 0px dashed black;
		}
	}

	.buttonabout {
		font-size: 1em;
		padding: 10px;
		color: #fff;
		border: 2px solid #06D85F;
		border-radius: 20px/50px;
		text-decoration: none;
		cursor: pointer;
		transition: all 0.3s ease-out;
	}

	.buttonabout:hover {
		background: #06D85F;
	}

	.overlayabout {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0, 0, 0, 0.7);
		transition: opacity 500ms;
		visibility: hidden;
		opacity: 0;
	}

	.overlayabout:target {
		visibility: visible;
		opacity: 1;
		z-index: 9999;
	}

	.popup,
	.eety {
		margin: 70px auto;
		padding: 20px;
		background: #fff;
		border-radius: 5px;
		width: 50%;
		height: 55%;
		position: relative;

	}



	.popup h2 {
		margin-top: -32%;
		margin-left: 47%;
		color: #333;
		font-family: Tahoma, Arial, sans-serif;
	}

	#h2 {
		margin-top: 2%;
		margin-left: 47%;
		color: #333;
		font-family: Tahoma, Arial, sans-serif;
	}

	.popup .close {
		position: absolute;
		top: 20px;
		right: 30px;
		transition: all 200ms;
		font-size: 30px;
		font-weight: bold;
		text-decoration: none;
		color: #333;
	}

	.popup .close:hover {
		color: #06D85F;
	}

	.popup .content {
		max-height: 30%;
		overflow: auto;
	}

	.ourtrade {
		margin-top: 1%;
	}
</style>

<body>
	<div class="loadersmrt">
		<svg class="svg-calLoadersmrt" xmlns="http://www.w3.org/2000/svg" width="230" height="230">
			<path class="cal-loader__pathsmrt"
				d="M86.429 40c63.616-20.04 101.511 25.08 107.265 61.93 6.487 41.54-18.593 76.99-50.6 87.643-59.46 19.791-101.262-23.577-107.142-62.616C29.398 83.441 59.945 48.343 86.43 40z"
				fill="none" stroke="#0099cc" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"
				stroke-dasharray="10 10 10 10 10 10 10 432" stroke-dashoffset="77" />
			<path class="cal-loader__planesmrt"
				d="M141.493 37.93c-1.087-.927-2.942-2.002-4.32-2.501-2.259-.824-3.252-.955-9.293-1.172-4.017-.146-5.197-.23-5.47-.37-.766-.407-1.526-1.448-7.114-9.773-4.8-7.145-5.344-7.914-6.327-8.976-1.214-1.306-1.396-1.378-3.79-1.473-1.036-.04-2-.043-2.153-.002-.353.1-.87.586-1 .952-.139.399-.076.71.431 2.22.241.72 1.029 3.386 1.742 5.918 1.644 5.844 2.378 8.343 2.863 9.705.206.601.33 1.1.275 1.125-.24.097-10.56 1.066-11.014 1.032a3.532 3.532 0 0 1-1.002-.276l-.487-.246-2.044-2.613c-2.234-2.87-2.228-2.864-3.35-3.309-.717-.287-2.82-.386-3.276-.163-.457.237-.727.644-.737 1.152-.018.39.167.805 1.916 4.373 1.06 2.166 1.964 4.083 1.998 4.27.04.179.004.521-.076.75-.093.228-1.109 2.064-2.269 4.088-1.921 3.34-2.11 3.711-2.123 4.107-.008.25.061.557.168.725.328.512.72.644 1.966.676 1.32.029 2.352-.236 3.05-.762.222-.171 1.275-1.313 2.412-2.611 1.918-2.185 2.048-2.32 2.45-2.505.241-.111.601-.232.82-.271.267-.058 2.213.201 5.912.8 3.036.48 5.525.894 5.518.914 0 .026-.121.306-.27.638-.54 1.198-1.515 3.842-3.35 9.021-1.029 2.913-2.107 5.897-2.4 6.62-.703 1.748-.725 1.833-.594 2.286.137.46.45.833.872 1.012.41.177 3.823.24 4.37.085.852-.25 1.44-.688 2.312-1.724 1.166-1.39 3.169-3.948 6.771-8.661 5.8-7.583 6.561-8.49 7.387-8.702.233-.065 2.828-.056 5.784.011 5.827.138 6.64.09 8.62-.5 2.24-.67 4.035-1.65 5.517-3.016 1.136-1.054 1.135-1.014.207-1.962-.357-.38-.767-.777-.902-.893z"
				class="cal-loader__plane" fill="#000033" /></svg>
	</div>


	<!-- Header Component -->

	<%- include('partials/header') %>


	<!-- Top section with a hi -->
	<section class="container-fluid full-width hibg1">
		<div class="row full-width white ">


		</div>
	</section>

	<!-- visiting card -->

	<div class="row">
		<div class="col-md-3 abtta" style="padding: 3% 5% 2% 15%; margin: 2% 0;">
			<h2>A</h2>
			<h2>B</h2>
			<h2>O</h2>
			<h2>U</h2>
			<h2>T</h2>
		</div>
		<div class="col-md-6 abttatext" style="margin: 5% 5%;">
			<p>Escape the ordinary with Jetsave! For over 29 years we've carefully crafted amazing trips that lets
				you escape
				from the stress and distractions of modern day life, with one goal in mind; enable our guests to
				live their dream
				life! We believe in creating authentic experiences for every traveler, spreading jollity to our
				customers and
				curating holidays with phenomenal once-in-a-lifetime memories. Our unique experience in visa and
				holiday packages
				lets you connect to the world in an exceptional manner! Dive deeper into your destination with
				unique services, local
				guides, and exclusive experiences. We are committed to bringing you the best in value and quality
				travel
				arrangements.</p>
		</div>
	</div>

	<!-- location section -->

	<div class="container-fluid full-width postbg1">

	</div>

	<div class="container-fluid full-width">
		<div class="row full-width">
			<h2 style="margin-left: 37%; padding: 3% 0 0 7%">Our Presence</h2>
			<div class="container" style="margin-top: 4%">
				<div class="row">
					<div class="col-md-6">

						<h1><span class="counter" style="color: black">8</span></h1>
						<h3 style="color: black">Office</h3>
						<i class="fa fa-users"></i>
					</div>
					<div class="col-md-6">

						<h1><span class="counter" style="color: black">12</span></h1>
						<h3 style="color: black">Award</h3>
						<i class="fa fa-users"></i>
					</div>
					<div class="col-md-6">
						<h1><span class="counter" style="color: black">250</span></h1>
						<h3 style="color: black">EMPLOYEES</h3>
						<i class="fa fa-desktop"></i>
					</div>
					<div class="col-md-6">
						<h1><span class="counter" style="color: black;">29 Years</span></h1>
						<h3 style="color: black;">Exprience</h3>
						<i class="fa fa-coffee"></i>
					</div>
				</div>
			</div>

		</div>
	</div>

	<!-- form section -->


	<section class="ourtrade">
		<div class="container-fluid full-width topmargin botmargin justify-content-center">
			<div class="row full-width justify-content-center botmargin bgtradeass">
				<div class="col-sm-10 text-center">
					<div id="travellerblog" class="d-inline">
						<span>
							<h3 class="tophead text-center">
								OUR
							</h3>
							<h1 class="bottomhead">
								Trade Associations
							</h1>
						</span>
					</div>
				</div>
			</div>
			<div class="row full-width container-fluid text-justify">
				<div class="container ourtrade colpad">
					<p>
						Jetsave India Tours Pvt Ltd has always been associated with all reputed trade
						associations linked with travel trade. Jetsave is an active member with several trade
						associations of India. An indicative list of such association is provided below:
					</p>
				</div>
			</div>
			<div class="row full-width container-fluid text-justify">
				<div class="container ourtrade colpad text-center">
					<img src="./CSS/img/partner.jpg" alt="" width="90%">
				</div>
			</div>
		</div>
	</section>




	<!-- Footer section -->
	<footer class="">
		<section class="bgfooter full-width full-height">
			<div class="row full-width footer container-fluid">
				<div class="col-sm-8">
					<div class="row full-width">
						<div class="col-sm-6 colpad footermenu">
							<h2>OUR THEMED PACKAGES</h2>
							<ol>
								<li>
									<a href="honeymoon-tour-packages">Honeymoon</a>
								</li>
								<li>
									<a href="family-tour-packages">Family</a>
								</li>
								<li>
									<a href="solo-tour-packages">Solo</a>
								</li>
								<li>
									<a href="wildlife-tour-packages">WildLife</a>
								</li>
								<li>
									<a href="friends-tour-packages">Friends</a>
								</li>
								<li>
									<a href="fixed-departure-tour-packages">Fixed Departure</a>
								</li>
								<li>
									<a href="/">&nbsp</a>
								</li>
								<li>
									<a href="/">&nbsp</a>
								</li>
								<li>
									<a href="/">&nbsp</a>
								</li>
								<li>
									<a href="/">&nbsp</a>
								</li>
								<li>
									<a href="/">&nbsp</a>
								</li>
								<li>
									<a href="/">&nbsp</a>
								</li>
								<li>
									<a href="/">&nbsp</a>
								</li>
							</ol>
						</div>
						<div class="col-sm-6 colpad footermenu">
							<h2>OUR DESTINATIONS</h2>
							<ol>
								<li>
									<a href="#">Middle East</a>
								</li>
								<li>
									<a href="South-East-Asia">South East Asia</a>
								</li>
								<li>
									<a href="East-Europe">Europe</a>
								</li>
								<li>
									<a href="#">Australia</a>
								</li>
								<li>
									<a href="#">Africa</a>
								</li>
								<li>
									<a href="India-Sri-Lanka-Destination">India & Srilanka</a>
								</li>

							</ol>
							<h2 class="topmargin">VISIT US ON : <a class="icon"
									href="https://www.facebook.com/jetsaveindia/"><i class="fab fa-facebook"></i></a> <a
									class="icon" href="https://www.instagram.com/jetsaveindia/?hl=en"><i
										class="fab fa-instagram"></i></a>

								<a class="icon" href="https://twitter.com/_JetsaveIndia_"><i
										class="fab fa-twitter"></i></a> <a class="icon              "
									href="https://www.youtube.com/channel/UCopv8-9C0oPGZEXEVyt9SMw/videos"><i
										class="fab fa-youtube"></i></a> </h2>
							<ol class="d-inline-flex socialicons">




							</ol>
						</div>
					</div>
					<div id="newsletter" class="row full-width justify-content-center">
						<span class="text-center full-width colmar">
							<h1 class="formtext">
								Get More Travel Stories
							</h1>

							<input type="email" name="email" value="Enter your email ID" class="formfill">
							<input type="button" value="Submit" class="formbutton">

						</span>
					</div>
					<div class="img-section">
						<img src="/CSS/img/patner.png" width="50" height="50">
						<img src="/CSS/img/partner1.jpg" width="50" height="50">
						<img src="/CSS/img/partner2.jpg" width="50" height="50">
						<img src="/CSS/img/partner3.jpg" width="50" height="50">
						<img src="/CSS/img/partner4.jpg" width="50" height="50">
						<img src="/CSS/img/partner5.jpg" width="50" height="50">
						<img src="/CSS/img/partner6.jpg" width="50" height="50">
						<img src="/CSS/img/partner7.jpg" width="50" height="50">
					</div>
				</div>
				<div class="col-sm-4">
					<h1 class="Indiatext">
						Here's a Good Reason to visit us!
					</h1>
					<span id="footermap">
						<svg xmlns="http://www.w3.org/2000/svg" width="800" height="800" class="Indiafooter">
							<g>
								<path
									d="M72.634,205.637c1.952,7.58,5.985,14.635,3.589,22.211
									c-2.05,6.485-1.789,12.792-0.763,19.227c1.457,9.146,2.825,18.317,4.694,27.384c5.044,24.476,17.316,46.534,23.845,70.524
									c0.15,0.555,0.74,0.979,1.094,1.486c6.472,9.28,10.047,19.821,11.947,30.751c1.353,7.783,4.854,13.956,10.216,19.252
									c5.359,5.297,12.315,4.709,14.993-2.302c3.238-8.482,9.495-9.508,17.378-10.009c-6.951-5.379-3.257-11.354,1.336-12.851
									c7.803-2.548,7.277-7.608,6.411-12.923c-1.061-6.492,0.063-12.151,3.221-17.77c2.799-4.981,3.583-10.513,2.889-16.172
									c-0.75-6.118-1.633-12.22-2.528-18.32c-0.687-4.669,0.658-10.894,4.226-11.22c8.451-0.765,11.181-10.715,19.684-10.49
									c1.986,0.054,4.47-1.592,4.938-3.756c1.401-6.471,6.876-8.855,11.098-12.818c6.253-5.865,13.876-10.407,18.578-17.896
									c4.093-6.514,9.734-10.94,17.048-13.583c6.47-2.342,11.276-7.072,12.111-14.007c1.181-9.795,4.943-13.246,14.694-11.749
									c9.374,1.439,11.729-1.032,10.113-10.632c-0.358-2.132-0.092-4.669-1.172-6.333c-4.646-7.163-0.772-17.751-10.049-23.254
									c-3.52-2.084,0.299-5.416,2.119-6.645c5.497-3.715,5.863-6.387-0.45-9.356c-1.906-0.899-3.665-2.566-2.987-5.177
									c0.41-1.577,1.541-3.005,3.167-2.987c5.615,0.069,13.598,1.841,14.569,5.502c2.673,10.074,9,8.323,15.771,7.827
									c3.388-0.25,6.797-0.207,10.196-0.217c2.121-0.007,4.53-0.41,5.333,2.429c0.646,2.28,0.004,4.346-1.664,5.941
									c-1.559,1.49-3.299,2.798-5.01,4.122c-3.443,2.661-5.546,5.84-4.085,10.389c0.754,2.353,1.432,4.771,4.235,5.655
									c5.793,1.834,3.284-6.123,7.724-6.242c3.175,2.675,2.615,7.21,4.567,10.61c1.586,2.762,1.11,7.731,5.715,7.271
									c5.709-0.573,3.202-5.488,3.589-8.859c0.386-3.36,1.406-6.659,1.614-10.02c0.254-4.115,0.823-7.319,6.119-7.174
									c3.567,0.098,4.341-3.016,5.054-5.709c2.486-9.403,4.598-18.916,7.393-28.225c2.438-8.124,7.493-13.96,16.541-15.113
									c1.533-0.195,5.143,0.997,3.997-1.269c-2.602-5.147,5.865-10.958,1.499-12.307c-7.843-2.415-9.275-9.048-13.536-13.761
									c-2.496-2.759-5.026-1.892-7.265,0.214c-2.441,2.294-4.976,3.56-8.338,2.269c-4.593-1.762-6.905,1.574-10.342,3.756
									c-8.939,5.68-13.981,16.443-25.286,18.922c-3.858,0.845-3.278,2.856-0.618,5.046c5.537,4.55,3.473,7.08-2.474,8.055
									c-5.774,0.943-11.603,1.555-17.402,2.338c-9.615,1.298-13.119-1.193-14.945-10.878c-0.412-2.193-0.497-4.492-3.245-4.887
										 c-2.391-0.344-4.46,0.986-5.392,2.904c-1.182,2.436-2.761,5.597-2.108,7.848c3.477,11.97-3.36,12.241-11.813,11.114
									c-2.742-0.366-5.476-0.946-8.228-1.048c-10.202-0.37-18.145-8.678-27.139-9.599c-14.369-1.468-26.537-5.996-38.36-13.677
									c-9.947-6.467-11.424-10.777-3.335-19.988c3.852-4.386,1.917-5.347-1.566-8.124c-9.144-7.29-23.381-10.356-22.557-26.049
									c9.268,1.138,13.528-2.407,9.066-8.294c-5.78-7.624-2.728-12.075,2.268-17.36c2.093-2.211,4.22-4.585,5.567-7.268
									c1.755-3.487,4.224-7.529,1.396-11.292c-2.667-3.549-6.834-5.249-11.43-4.749c-2.746,0.297-5.763,0.515-8.09,1.798
									c-8.798,4.854-14.759,1.323-20.884-5.271c-9.692-10.437-20.814-16.929-35.813-9.951c-4.457,2.073-8.564,4.43-10.069,8.831
									c-1.828,5.347,4.827,4.375,6.785,7.174c2.539,3.625,9.62,5.176,5.881,11.644c-7.062,12.209-5.008,21.547,6.496,29.928
									c2.596,1.889,6.108,2.995,7.591,6.337c-1.857,3.31-7.346,3.534-7.005,8.156c0.656,8.888-5.727,14.112-10.484,19.876
									c-6.365,7.714-12.625,15.537-19.459,22.91c-5.58,6.025-11.104,8.428-18.61,5.543c-7.527-2.893-8.16,4.857-11.993,7.569
									c-2.568,1.82-4.779,5.659-1.813,7.914c6.168,4.694,3.866,13.905,10.854,18.158c2.075,1.265,2.82,5.463,3.273,8.453
									c0.568,3.734,2.165,7.906-5.545,6.841c-5.816-0.801-12.099,0.108-18.214-0.533c-4.546-0.471-8.455,2.636-10.822,5.561
									c-2.45,3.03,1.87,6.05,3.704,8.642c5.777,8.171,13.57,8.425,23.717,3.313c-5.684,8.442-12.354,9.334-20.18,8.888
									c1.991,7.428,7.844,11.412,12.091,16.418c3.968,4.677,8.086,9.483,15.702,6.706C64.723,218.513,72.617,216.679,72.634,205.637z" />
								<path
									d="M72.634,205.637c-0.018,11.042-7.911,12.876-15.371,15.595
									c-7.616,2.777-11.734-2.029-15.702-6.706c-4.247-5.006-10.1-8.99-12.091-16.418c7.826,0.446,14.496-0.445,20.18-8.888
									c-10.146,5.111-17.939,4.857-23.717-3.313c-1.834-2.592-6.154-5.612-3.704-8.642c2.367-2.925,6.276-6.032,10.822-5.561
									c6.115,0.642,12.397-0.268,18.214,0.533c7.71,1.065,6.113-3.107,5.545-6.841c-0.453-2.99-1.198-7.188-3.273-8.453
									c-6.987-4.252-4.686-13.463-10.854-18.158c-2.967-2.255-0.756-6.094,1.813-7.914c3.833-2.711,4.466-10.462,11.993-7.569
									c7.506,2.885,13.03,0.482,18.61-5.543c6.834-7.373,13.094-15.196,19.459-22.91c4.758-5.764,11.141-10.988,10.484-19.876
									c-0.341-4.622,5.147-4.847,7.005-8.156c-1.482-3.342-4.995-4.448-7.591-6.337C92.953,52.1,90.899,42.762,97.96,30.553
									c3.739-6.467-3.342-8.019-5.881-11.644c-1.958-2.799-8.613-1.827-6.785-7.174c1.505-4.401,5.612-6.757,10.069-8.831
									c14.998-6.978,26.12-0.486,35.813,9.951c6.125,6.594,12.086,10.125,20.884,5.271c2.327-1.283,5.344-1.5,8.09-1.798
									c4.596-0.5,8.763,1.2,11.43,4.749c2.827,3.763,0.358,7.805-1.396,11.292c-1.348,2.683-3.475,5.057-5.567,7.268
									c-4.995,5.286-8.048,9.737-2.268,17.36c4.462,5.887,0.201,9.432-9.066,8.294c-0.824,15.693,13.413,18.76,22.557,26.049
									c3.483,2.777,5.418,3.737,1.566,8.124c-8.089,9.211-6.612,13.521,3.335,19.988c11.823,7.682,23.991,12.209,38.36,13.677
									c8.994,0.921,16.937,9.229,27.139,9.599c2.752,0.102,5.485,0.682,8.228,1.048c8.453,1.127,15.29,0.855,11.813-11.114
									c-0.652-2.251,0.927-5.412,2.108-7.848c0.932-1.918,3.001-3.248,5.392-2.904c2.748,0.395,2.833,2.693,3.245,4.887
									c1.826,9.686,5.33,12.176,14.945,10.878c5.8-0.783,11.628-1.396,17.402-2.338c5.946-0.975,8.011-3.505,2.474-8.055
									c-2.66-2.189-3.24-4.201,0.618-5.046c11.305-2.479,16.347-13.242,25.286-18.922c3.437-2.182,5.749-5.518,10.342-3.756
									c3.362,1.291,5.896,0.025,8.338-2.269c2.238-2.106,4.769-2.973,7.265-0.214c4.261,4.712,5.693,11.346,13.536,13.761
									c4.366,1.348-4.101,7.159-1.499,12.307c1.146,2.266-2.464,1.073-3.997,1.269c-9.048,1.153-14.103,6.989-16.541,15.113
									c-2.795,9.309-4.906,18.821-7.393,28.225c-0.713,2.693-1.486,5.807-5.054,5.709c-5.296-0.145-5.865,3.059-6.119,7.174
									c-0.208,3.36-1.229,6.659-1.614,10.02c-0.387,3.371,2.12,8.286-3.589,8.859c-4.604,0.46-4.129-4.51-5.715-7.271
									c-1.952-3.4-1.393-7.936-4.567-10.61c-4.439,0.119-1.931,8.076-7.724,6.242c-2.804-0.885-3.481-3.303-4.235-5.655
									c-1.461-4.549,0.642-7.729,4.085-10.389c1.711-1.323,3.451-2.632,5.01-4.122c1.668-1.595,2.31-3.662,1.664-5.941
									c-0.803-2.838-3.212-2.436-5.333-2.429c-3.399,0.011-6.809-0.033-10.196,0.217c-6.771,0.497-13.098,2.248-15.771-7.827
									c-0.972-3.661-8.954-5.434-14.569-5.502c-1.626-0.018-2.757,1.41-3.167,2.987c-0.678,2.61,1.081,4.278,2.987,5.177
									c6.313,2.969,5.947,5.641,0.45,9.356c-1.82,1.229-5.639,4.561-2.119,6.645c9.276,5.503,5.403,16.091,10.049,23.254
									c1.08,1.664,0.813,4.201,1.172,6.333c1.615,9.6-0.739,12.071-10.113,10.632c-9.751-1.497-13.514,1.954-14.694,11.749
									c-0.835,6.935-5.642,11.665-12.111,14.007c-7.313,2.643-12.955,7.069-17.048,13.583c-4.702,7.489-12.325,12.031-18.578,17.896
									c-4.222,3.963-9.697,6.348-11.098,12.818c-0.468,2.164-2.951,3.81-4.938,3.756c-8.503-0.225-11.232,9.726-19.684,10.49
									c-3.567,0.326-4.912,6.551-4.226,11.22c0.896,6.101,1.778,12.202,2.528,18.32c0.694,5.659-0.09,11.19-2.889,16.172
									c-3.157,5.618-4.281,11.277-3.221,17.77c0.866,5.314,1.392,10.375-6.411,12.923c-4.593,1.497-8.287,7.472-1.336,12.851
									c-7.883,0.501-14.14,1.526-17.378,10.009c-2.678,7.011-9.634,7.599-14.993,2.302c-5.361-5.296-8.863-11.469-10.216-19.252
									c-1.9-10.93-5.476-21.471-11.947-30.751c-0.354-0.508-0.943-0.932-1.094-1.486c-6.528-23.99-18.801-46.049-23.845-70.524
									c-1.869-9.066-3.237-18.237-4.694-27.384c-1.026-6.435-1.287-12.741,0.763-19.227C78.62,220.271,74.586,213.217,72.634,205.637z" />
							</g>
						</svg>
					</span>
					<span class="d-inline-flex footerlocic">
						<div id="popup4" class="overlay">
							<div class="popup">
								<img src="/img/Footer/coffee_in_Delhi_H.O..png" width="20%" height="auto">
								<h3
									style="color: black; font-size: 40px; font-family: 'Stalemate'; margin-top: -7%; margin-left: 19%;">
									Auormatic Coffee and Scenic Places in Delhi</h3><br>
								<h4 style="color: black; font-size: 17px;">Address:- 30/28, IIIrd Floor,
									Opposite Mughal
									Mahal Restaurant,
									East Patel Nagar, New Delhi, Delhi 110008</h4><br>
								<h4 style="color: black; font-size: 17px">Contact:-
									7290099970,8588829128,8178669522
									Email- kanika.segan@jetsavetours.com
								</h4><br>

								<h4 style="color: black; font-size:17px">

									Website : www.jetsavetours.com
								</h4>

								<a class="close" href="#footerlocation4">&times;</a>

							</div>
						</div>
						<a href="#popup4">
							<svg xmlns="http://www.w3.org/2000/svg" width="25px" height="25px" viewBox="0 0 400 400"
								ID="footerlocation1">
								<g>
									<path d="M198.242,339.812c-49.068-59.315-96.884-117.269-115.047-192.772
										c-11.882-49.396,8.23-98.723,49.873-126.726c40.538-27.239,93.845-27.075,134.412,0.437c41.287,28.002,60.637,77.752,49.463,127.08
										C304.5,202.703,248.551,294.123,198.242,339.812z M240.008,120.209c-0.123-21.598-18.043-39.558-39.681-39.762
										c-21.652-0.232-39.83,17.333-40.389,39.012c-0.572,22.565,18.341,41.574,40.88,41.056
										C222.375,160.025,240.143,141.738,240.008,120.209z" />
									<path class="jetsaveblack" d="M60.493,400c0-13.137,0-24.541,0-37.187c93.382,0,185.66,0,279.015,0
										c0,12.672,0,24.077,0,37.187C247.08,400,154.801,400,60.493,400z" />
								</g>
							</svg>
						</a>
						<div id="popup5" class="overlay">
							<div class="popup">
								<img src="/img/Footer/Fresh_Salad_In_Gurugram.png" width="20%" height="auto">
								<h3
									style="color: black; font-size: 35px; font-family: 'Stalemate'; margin-top: -7%; margin-left: 19%;">
									Brimming City with well-dressed salads of Gurgaon</h3><br>
								<h4 style="color: black; font-size: 17px;">Address:- F-16, Lower Ground Floor
									Sushant
									Shopping Arcade, Sushant
									Lok-1, Gurgaon - 122009.</h4><br>
								<h4 style="color: black; font-size: 17px">Contact:-
									7290099970,8588829128,8178669522
									Email- kanika.segan@jetsavetours.com
								</h4><br>

								<h4 style="color: black; font-size:17px">

									Website : www.jetsavetours.com
								</h4>

								<a class="close" href="#footerlocation4">&times;</a>

							</div>
						</div>
						<a href="#popup5">
							<svg xmlns="http://www.w3.org/2000/svg" width="25px" height="25px" viewBox="0 0 400 400"
								ID="footerlocation2">
								<g>
									<path d="M198.242,339.812c-49.068-59.315-96.884-117.269-115.047-192.772
										c-11.882-49.396,8.23-98.723,49.873-126.726c40.538-27.239,93.845-27.075,134.412,0.437c41.287,28.002,60.637,77.752,49.463,127.08
										C304.5,202.703,248.551,294.123,198.242,339.812z M240.008,120.209c-0.123-21.598-18.043-39.558-39.681-39.762
										c-21.652-0.232-39.83,17.333-40.389,39.012c-0.572,22.565,18.341,41.574,40.88,41.056
										C222.375,160.025,240.143,141.738,240.008,120.209z" />
									<path class="jetsaveblack" d="M60.493,400c0-13.137,0-24.541,0-37.187c93.382,0,185.66,0,279.015,0
										c0,12.672,0,24.077,0,37.187C247.08,400,154.801,400,60.493,400z" />
								</g>
							</svg>
						</a>
						<div id="popup6" class="overlay">
							<div class="popup">
								<img src="/img/Footer/Rasgulla_in_Kolkata.png" width="20%" height="auto">
								<h3
									style="color: black; font-size: 40px; font-family: 'Stalemate'; margin-top: -7%; margin-left: 19%;">
									Rasgulla, Trams & Warm Hearts in Kolkata</h3><br>
								<h4 style="color: black; font-size: 17px;">Address:- 55/55/1, Chowringhee Road,
									2nd
									Floor,
									Room No-29,
									Chowringhee Court, (Above Maharaja Restaurant) Kolkata - 700 071</h4><br>
								<h4 style="color: black; font-size: 17px">Contact:-
									7290099970,8588829128,8178669522
									Email- kanika.segan@jetsavetours.com
								</h4><br>

								<h4 style="color: black; font-size:17px">

									Website : www.jetsavetours.com
								</h4>

								<a class="close" href="#footerlocation4">&times;</a>

							</div>
						</div>
						<a href="#popup6">
							<svg xmlns="http://www.w3.org/2000/svg" width="25px" height="25px" viewBox="0 0 400 400"
								ID="footerlocation3">
								<g>
									<path d="M198.242,339.812c-49.068-59.315-96.884-117.269-115.047-192.772
										c-11.882-49.396,8.23-98.723,49.873-126.726c40.538-27.239,93.845-27.075,134.412,0.437c41.287,28.002,60.637,77.752,49.463,127.08
										C304.5,202.703,248.551,294.123,198.242,339.812z M240.008,120.209c-0.123-21.598-18.043-39.558-39.681-39.762
										c-21.652-0.232-39.83,17.333-40.389,39.012c-0.572,22.565,18.341,41.574,40.88,41.056
										C222.375,160.025,240.143,141.738,240.008,120.209z" />
									<path class="jetsaveblack" d="M60.493,400c0-13.137,0-24.541,0-37.187c93.382,0,185.66,0,279.015,0
										c0,12.672,0,24.077,0,37.187C247.08,400,154.801,400,60.493,400z" />
								</g>
							</svg>
						</a>
						<div id="popup7" class="overlay">
							<div class="popup">
								<img src="/img/Footer/Bollywood_cutting_Chai_with_Samosa_in_Mumbai 03.png" width="20%"
									height="auto">
								<h3
									style="color: black; font-size: 40px; font-family: 'Stalemate'; margin-top: -7%; margin-left: 19%;">
									Bollywood Cutting Chai with Samosa in
									Mumbai</h3><br>
								<h4 style="color: black; font-size: 17px;">Address:- 401,402,403 4th Floor,Davar
									House
									197/199 Dr
									D.N Road, Fort Mumbai 400001</h4><br>
								<h4 style="color: black; font-size: 17px">Contact:-
									7290099970,8588829128,8178669522
									Email- kanika.segan@jetsavetours.com
								</h4><br>

								<h4 style="color: black; font-size:17px">

									Website : www.jetsavetours.com
								</h4>

								<a class="close" href="#footerlocation4">&times;</a>

							</div>
						</div>
						<a href="#popup7">
							<svg xmlns="http://www.w3.org/2000/svg" width="25px" height="25px" viewBox="0 0 400 400"
								ID="footerlocation4">
								<g>
									<path d="M198.242,339.812c-49.068-59.315-96.884-117.269-115.047-192.772
										c-11.882-49.396,8.23-98.723,49.873-126.726c40.538-27.239,93.845-27.075,134.412,0.437c41.287,28.002,60.637,77.752,49.463,127.08
										C304.5,202.703,248.551,294.123,198.242,339.812z M240.008,120.209c-0.123-21.598-18.043-39.558-39.681-39.762
										c-21.652-0.232-39.83,17.333-40.389,39.012c-0.572,22.565,18.341,41.574,40.88,41.056
										C222.375,160.025,240.143,141.738,240.008,120.209z" />
									<path class="jetsaveblack" d="M60.493,400c0-13.137,0-24.541,0-37.187c93.382,0,185.66,0,279.015,0
										c0,12.672,0,24.077,0,37.187C247.08,400,154.801,400,60.493,400z" />
								</g>
							</svg>
						</a>
						<div id="popup8" class="overlay">
							<div class="popup">
								<img src="/img/Footer/Vada_Pao_in_Pune.png" width="20%" height="auto">
								<h3
									style="color: black; font-size: 40px; font-family: 'Stalemate'; margin-top: -7%; margin-left: 19%;">
									Fastest streatfood for fastest minds in Pune</h3><br>
								<h4 style="color: black; font-size: 17px;">Address:- Office no. 201, Gulmohar
									Centre
									Point,
									Opp. Viman Nagar
									Entrance, Off Nagar Road, Pune - 411014</h4><br>
								<h4 style="color: black; font-size: 17px">Contact:-
									7290099970,8588829128,8178669522
									Email- kanika.segan@jetsavetours.com
								</h4><br>

								<h4 style="color: black; font-size:17px">

									Website : www.jetsavetours.com
								</h4>

								<a class="close" href="#footerlocation4">&times;</a>
							</div>
						</div>
						<a href="#popup8">
							<svg xmlns="http://www.w3.org/2000/svg" width="25px" height="25px" viewBox="0 0 400 400"
								ID="footerlocation5">
								<g>
									<path d="M198.242,339.812c-49.068-59.315-96.884-117.269-115.047-192.772
										c-11.882-49.396,8.23-98.723,49.873-126.726c40.538-27.239,93.845-27.075,134.412,0.437c41.287,28.002,60.637,77.752,49.463,127.08
										C304.5,202.703,248.551,294.123,198.242,339.812z M240.008,120.209c-0.123-21.598-18.043-39.558-39.681-39.762
										c-21.652-0.232-39.83,17.333-40.389,39.012c-0.572,22.565,18.341,41.574,40.88,41.056
										C222.375,160.025,240.143,141.738,240.008,120.209z" />
									<path class="jetsaveblack" d="M60.493,400c0-13.137,0-24.541,0-37.187c93.382,0,185.66,0,279.015,0
										c0,12.672,0,24.077,0,37.187C247.08,400,154.801,400,60.493,400z" />
								</g>
							</svg>
						</a>
						<div id="popup9" class="overlay">
							<div class="popup">
								<img src="/img/Footer/Biryani_in_Hyderabad copy.png" width="20%" height="auto">
								<h3
									style="color: black; font-size: 40px; font-family: 'Stalemate'; margin-top: -7%; margin-left: 19%;">
									Hyderabad's Biryani + saalan + salad = evergreen classic</h3><br>
								<h4 style="color: black; font-size: 17px;">Address:- Jetsave India Tours Pvt Ltd
									C/o
									UNIGLOBE Sameera Travel
									2-30-44, Staff Road, Wahab Nagar, Sikh Village, Secunderabad - 500 009 </h4>
								<br>
								<h4 style="color: black; font-size: 17px">Contact:-
									7290099970,8588829128,8178669522
									Email- kanika.segan@jetsavetours.com
								</h4><br>

								<h4 style="color: black; font-size:17px">

									Website : www.jetsavetours.com
								</h4>

								<a class="close" href="#footerlocation4">&times;</a>
							</div>
						</div>
						<a href="#popup9">
							<svg xmlns="http://www.w3.org/2000/svg" width="25px" height="25px" viewBox="0 0 400 400"
								ID="footerlocation6">
								<g>
									<path d="M198.242,339.812c-49.068-59.315-96.884-117.269-115.047-192.772
										c-11.882-49.396,8.23-98.723,49.873-126.726c40.538-27.239,93.845-27.075,134.412,0.437c41.287,28.002,60.637,77.752,49.463,127.08
										C304.5,202.703,248.551,294.123,198.242,339.812z M240.008,120.209c-0.123-21.598-18.043-39.558-39.681-39.762
										c-21.652-0.232-39.83,17.333-40.389,39.012c-0.572,22.565,18.341,41.574,40.88,41.056
										C222.375,160.025,240.143,141.738,240.008,120.209z" />
									<path class="jetsaveblack" d="M60.493,400c0-13.137,0-24.541,0-37.187c93.382,0,185.66,0,279.015,0
										c0,12.672,0,24.077,0,37.187C247.08,400,154.801,400,60.493,400z" />
								</g>
							</svg>
						</a>
						<div id="popup10" class="overlay">
							<div class="popup">
								<img src="/img/Footer/dosa_in_Bengaluru.png" width="20%" height="auto">
								<h3
									style="color: black; font-size: 40px; font-family: 'Stalemate'; margin-top: -7%; margin-left: 19%;">
									Dosa & Sambhar - the majistic Combo of Bengaluru</h3><br>
								<h4 style="color: black; font-size: 17px;">Address:- No 2/2 Rajani Nest, 2nd
									Floor
									Bangiappa Garden,Behind
									ICICI Bank Langford Road Bangalore-560027 </h4><br>
								<h4 style="color: black; font-size: 17px">Contact:-
									7290099970,8588829128,8178669522
									Email- kanika.segan@jetsavetours.com
								</h4><br>

								<h4 style="color: black; font-size:17px">

									Website : www.jetsavetours.com
								</h4>

								<a class="close" href="#footerlocation4">&times;</a>
							</div>
						</div>
						<a href="#popup10">
							<svg xmlns="http://www.w3.org/2000/svg" width="25px" height="25px" viewBox="0 0 400 400"
								ID="footerlocation7">
								<g>
									<path d="M198.242,339.812c-49.068-59.315-96.884-117.269-115.047-192.772
										c-11.882-49.396,8.23-98.723,49.873-126.726c40.538-27.239,93.845-27.075,134.412,0.437c41.287,28.002,60.637,77.752,49.463,127.08
										C304.5,202.703,248.551,294.123,198.242,339.812z M240.008,120.209c-0.123-21.598-18.043-39.558-39.681-39.762
										c-21.652-0.232-39.83,17.333-40.389,39.012c-0.572,22.565,18.341,41.574,40.88,41.056
										C222.375,160.025,240.143,141.738,240.008,120.209z" />
									<path class="jetsaveblack" d="M60.493,400c0-13.137,0-24.541,0-37.187c93.382,0,185.66,0,279.015,0
										c0,12.672,0,24.077,0,37.187C247.08,400,154.801,400,60.493,400z" />
								</g>
							</svg>
						</a>
						<div id="popup11" class="overlay">
							<div class="popup">
								<img src="/img/Footer/MysorePak_In_Chennai.png" width="20%" height="auto">
								<h3
									style="color: black; font-size: 40px; font-family: 'Stalemate'; margin-top: -7%; margin-left: 19%;">
									Scrumptious Mysore Pak of Chennai</h3><br>
								<h4 style="color: black; font-size: 17px;">Address:- 102, Marshalls Road, Tripti
									Apartments, Ground Floor, B
									Block, Egmore, Chennai - 600008 </h4><br>
								<h4 style="color: black; font-size: 17px">Contact:-
									7290099970,8588829128,8178669522
									Email- kanika.segan@jetsavetours.com
								</h4><br>

								<h4 style="color: black; font-size:17px">

									Website : www.jetsavetours.com
								</h4>

								<a class="close" href="#footerlocation4">&times;</a>
							</div>
						</div>
						<a href="#popup11">
							<svg xmlns="http://www.w3.org/2000/svg" width="25px" height="25px" viewBox="0 0 400 400"
								ID="footerlocation8">
								<g>
									<path d="M198.242,339.812c-49.068-59.315-96.884-117.269-115.047-192.772
										c-11.882-49.396,8.23-98.723,49.873-126.726c40.538-27.239,93.845-27.075,134.412,0.437c41.287,28.002,60.637,77.752,49.463,127.08
										C304.5,202.703,248.551,294.123,198.242,339.812z M240.008,120.209c-0.123-21.598-18.043-39.558-39.681-39.762
										c-21.652-0.232-39.83,17.333-40.389,39.012c-0.572,22.565,18.341,41.574,40.88,41.056
										C222.375,160.025,240.143,141.738,240.008,120.209z" />
									<path class="jetsaveblack" d="M60.493,400c0-13.137,0-24.541,0-37.187c93.382,0,185.66,0,279.015,0
										c0,12.672,0,24.077,0,37.187C247.08,400,154.801,400,60.493,400z" />
								</g>
							</svg>
						</a>

					</span>
					<span id="footermob">
						<h3 class="tophead text-center">HeadOffice</h3>
						<h3 class="text-center">New Delhi 30/28, III floor, Opposite Mughal Mehal Restaurant,
							East Patel Nagar, New Delhi, Delhi 110008</h3>
						<h3 class="text-center">Hyderabad</h3>
						<h3 class="text-center">Chennai</h3>
						<h3 class="text-center">Bangalore</h3>
						<h3 class="text-center">Pune</h3>
						<h3 class="text-center">Kolkata</h3>
						<h3 class="text-center">Gurugram</h3>
						<h3 class="text-center">Mumbai</h3>
						<h3 class="text-center">Delhi</h3>
					</span>
				</div>
			</div>
		</section>
	</footer>
	</div>
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

	<!-- Custom JS file -->
	<script type="text/javascript" src="JetsaveStyle.js"></script>
	<!-- script from code pen for testing -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.jsd"></script>
	<script src="./assets/js/script.js"></script>


	<!-- section for code testing -->

</body>

</html>