<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Jetsave Travelogues: Dreams Become Reality When You Travel</title>
    <link rel="shortcut icon" type="image/png" href="/img/logo.png" />
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="./assets/css/blog.css">
    
    <link rel="stylesheet" type="text/css" media="(max-width: 600px)" href="./assets/css/jetsave-tablet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

</head>

<body>

         <!-- loading Component -->
	<%- include('partials/loading') %>


    <!-- Header Component -->
	<%- include('partials/header') %>


    <!-- background banner image -->
    <div class="conatiner indiabackgroundimage" style="height:38vh;">
        <h1>Travel the Worlds in Words</h1>
    </div>
    <div class="container1 full-width">

        <!-- latest blog blog section -->
        <h3 class="blogtext">Latest Blogs</h3>
        <div id="blogbottom" class="container-fluid full-width filtercity">
            <div class="row proftrav full-width">

               
               
                <div class="col-sm-6 col-md-3 proftravinner proftravmar">
                    <span id="proftravlbo">
                        <a class="link" href="/blog/reasons-to-visit-seychelles-with-your-loved-ones"> <img class="proftravblogimg"
                                src="https://xnok.ru/wp-content/uploads/2018/01/60-%D0%A2%D0%BE%D0%BD%D1%83%D1%89%D0%B8%D0%B5-%D0%BE%D1%81%D1%82%D1%80%D0%BE%D0%B2%D0%B0-%D0%BE%D1%82%D0%B4%D1%8B%D1%85-%D0%BD%D0%B0-%D1%81%D0%B5%D0%B9%D1%88%D0%B5%D0%BB%D0%B0%D1%85-%D0%B8-%D0%BC%D0%B0%D0%BB%D1%8C%D0%B4%D0%B8%D0%B2%D0%B0%D1%85.jpg" alt="">
                            <p class="title">Reason to visit seychelles with your loved ones</p>
                        </a></a>
                    </span>
                </div>


                <div class="col-sm-6 col-md-3 proftravinner proftravmar">
                    <span id="proftravlbo">
                        <a class="link" href="/blog/trekking-and-hiking-tips"> <img class="proftravblogimg"
                                src="https://i0.wp.com/www.curiouskeeda.com/wp-content/uploads/2020/03/trekking-jetsave.jpg?w=785&ssl=1" alt="">
                            <p class="title">Trekking and hiking tips</p>
                        </a></a>
                    </span>
                </div>


                <div class="col-sm-6 col-md-3 proftravinner proftravmar">
                    <span id="proftravlbo">
                        <a class="link" href="/blog/beaches-in-goa-to-visit-in-2020"> <img class="proftravblogimg"
                                src="https://i2.wp.com/www.curiouskeeda.com/wp-content/uploads/2020/03/visafree-countries.jpg?resize=640%2C335&ssl=1" alt="">
                            <p class="title">Top 10 countries that indians can travel to without visa</p>
                        </a></a>
                    </span>
                </div>
               
               <!-- new -->
               
               
                <div class="col-sm-6 col-md-3 proftravinner proftravmar">
                    <span id="proftravlbo">
                        <a class="link" href="/blog/beaches-in-goa-to-visit-in-2020"> <img class="proftravblogimg"
                                src="https://pbs.twimg.com/media/ERDtacQXYAcePcM.jpg" alt="">
                            <p class="title">Beach In Goa to Visit in 2020</p>
                        </a></a>
                    </span>
                </div>

                <div class="col-sm-6 col-md-3 proftravinner proftravmar">
                    <span id="proftravlbo">
                        <a class="link" href="/blog/best-of-indian-culinary-delight"> <img class="proftravblogimg"
                                src="https://d1ralsognjng37.cloudfront.net/2f8f7e73-1e1c-430a-bd91-b4b274b21ba4.jpeg"
                                alt="">
                            <p class="title">Best of India Culinary Delight</p>
                        </a></a>
                    </span>
                </div>

                <div class="col-sm-6 col-md-3 proftravinner proftravmar">
                    <span id="proftravlbo">
                        <a class="link" href="/blog/how-to-fly-cheap-to-europe-in-2020-by-jetsave-india"> <img
                                class="proftravblogimg"
                                src="https://www.curiouskeeda.com/wp-content/uploads/2020/02/fly-to-europe-cheap.jpg"
                                alt="">
                            <p class="title">How to Fly Cheap to Europe in 2020 by Jetsave India</p>
                        </a></a>
                    </span>
                </div>




                <div class="col-sm-6 col-md-3 proftravinner proftravmar">
                    <span id="proftravlbo">
                        <a class="link" href="/blog/budget-friendly-places-to-visit-in-europe"> <img
                                class="proftravblogimg"
                                src="https://www.amica.it/wp-content/uploads/2019/11/32649113_171367700213080_3813600847661629440_o.jpg"
                                alt="">
                            <p class="title">10 Reasonably Budget-Friendly Places To Rejuvenate In Europe!</p>
                        </a></a>
                    </span>
                </div>



                <div class="col-sm-6 col-md-3 proftravinner proftravmar">
                    <span id="proftravlbo">
                        <a class="link" href="/blog/splendid-honeymoon-destinations-in-2020"> <img
                                class="proftravblogimg"
                                src="https://image.jimcdn.com/app/cms/image/transf/none/path/sa6549607c78f5c11/image/i5272e9c1c68c5498/version/1488107116/best-honeymoon-destinations-in-europe-honeymoon-destinations-paris-copyright-ditty-about-summer-european-best-destinations.jpg"
                                alt="">
                            <p class="title">10 Splendid Summer Honeymoon Destinations Inviting You With Warm Hugs In
                                2020!</p>
                        </a></a>
                    </span>
                </div>

                
                <div class="col-sm-6 col-md-3 proftravinner proftravmar">
                    <span id="proftravlbo">
                        <a class="link" href="/blog/travel-guide-for-the-usa"> <img class="proftravblogimg"
                                src="https://i1.wp.com/www.curiouskeeda.com/wp-content/uploads/2020/01/hd-wallpaper-usa.jpg?resize=640%2C400&ssl=1"
                                alt="">
                            <p class="title">The Ultimate Travel Guide For The United States Of America: Where to go,
                                What to see, What to expect!</p>
                        </a></a>
                    </span>
                </div>

                <div class="col-sm-6 col-md-3 proftravinner proftravmar">
                    <span id="proftravlbo">
                        <a class="link"
                            href="/blog/Splendid-Places-to-Visit-in-Vietnam-and-Bring-Out-the-Wanderlust-in-You"> <img
                                class="proftravblogimg"
                                src="https://i0.wp.com/www.curiouskeeda.com/wp-content/uploads/2020/01/da-nang-vietnam.png?w=800&ssl=1"
                                alt="">
                            <p class="title">6 Splendid Places to Visit in Vietnam and Bring Out the Wanderlust in You!
                            </p>
                        </a>
                    </span>
                </div>


                <div class="col-sm-6 col-md-3 proftravinner proftravmar">
                    <span id="proftravlbo">
                        <a class="link" href="/blog/best-cafes-and-restaurants-in-goa"> <img class="proftravblogimg"
                                src="https://i0.wp.com/www.curiouskeeda.com/wp-content/uploads/2019/12/best-restaurants-cafes-in-goa.png?resize=632%2C420&ssl=1"
                                alt="">
                            <p class="title">The Best Cafes and Restaurants to Visit in The Pocket-sized Paradise of
                                India, Goa!</p>
                        </a></a>
                    </span>
                </div>

                <div class="col-sm-6 col-md-3 proftravinner proftravmar">
                    <span id="proftravlbo">
                        <a class="link" href="/blog/amazing-facts-about-the-magical-northern-lights"> <img
                                class="proftravblogimg"
                                src="https://i1.wp.com/www.curiouskeeda.com/wp-content/uploads/2020/01/Northern-lights.png?resize=640%2C480&ssl=1"
                                alt="">
                            <p class="title">Amazing Facts About the Magical Northern Lights</p>
                        </a>
                    </span>
                </div>


                <div class="col-sm-6 col-md-3 proftravinner proftravmar">
                    <span id="proftravlbo">
                        <a class="link" href="/blog/reasons-to-visit-rajasthan"> <img class="proftravblogimg"
                                src="https://i1.wp.com/www.curiouskeeda.com/wp-content/uploads/2020/01/Rajastthan-jetsave-curiouskeeda.png?resize=640%2C480&ssl=1"
                                alt="">
                            <p class="title">Reasons To Visit Rajasthan</p>
                        </a>
                    </span>
                </div>



                <div class="col-sm-6 col-md-3 proftravinner proftravmar">
                    <span id="proftravlbo">
                        <a class="link" href="/blog/travel-tips-to-make-your-first-international-trip-smooth"> <img
                                class="proftravblogimg"
                                src="https://i0.wp.com/www.curiouskeeda.com/wp-content/uploads/2019/12/International-Travel-Tips.jpg?resize=640%2C320&ssl=1"
                                alt="">
                            <p class="title">10 Amazing Tips To Make Your First International Trip Smooth!</p>
                        </a>
                    </span>
                </div>



                <div class="col-sm-6 col-md-3 proftravinner proftravmar">
                    <span id="proftravlbo">
                        <a class="link" href="/blog/beautiful-resorts-in-maldives"> <img class="proftravblogimg"
                                src="./image/collagess/banner.png" alt="">

                            <p class="title">8 Pristine Resorts and Private Beaches to Enjoy Your Honeymoon In Maldives!
                            </p>
                        </a>

                    </span>

                </div>



                <div class="col-sm-6 col-md-3 proftravinner proftravmar">
                    <span id="proftravlbo">
                        <a class="link" href="/blog/do-we-really-need-travel-insurance"> <img class="proftravblogimg"
                                src="https://i0.wp.com/www.curiouskeeda.com/wp-content/uploads/2019/05/curiouskeeda1.jpg?resize=640%2C360&ssl=1"
                                alt="">
                            <p class="title">Do We Really Need Travel Insurance?</p>
                        </a>
                    </span>
                </div>

                <div class="col-sm-6 col-md-3 proftravinner proftravmar">
                    <span id="proftravlbo">
                        <a class="link" href="/blog/effective-budget-friendly-tips-to-follow"> <img
                                class="proftravblogimg"
                                src="https://i0.wp.com/www.curiouskeeda.com/wp-content/uploads/2019/07/Curious-Keeda-Travel-banner.jpg?resize=608%2C420&ssl=1"
                                alt="">
                            <p class="title">5 Most Effective Tips to Travel in a Budget-Friendly Way!</p>
                        </a>
                    </span>
                </div>

                <div class="col-sm-6 col-md-3 proftravinner proftravmar">
                    <span id="proftravlbo">
                        <a class="link" href="/blog/get-the-most-out-of-italy-by-visiting-these-amazing-places"> <img
                                class="proftravblogimg"
                                src="https://i0.wp.com/www.curiouskeeda.com/wp-content/uploads/2019/05/curiouskeeda7-1.jpg?w=620&ssl=1"
                                alt="">
                            <p class="title">Get The Most Out of Italy By Visiting These 5 Amazing Places.</p>
                        </a>
                    </span>
                </div>

                <div class="col-sm-6 col-md-3 proftravinner proftravmar">
                    <span id="proftravlbo">
                        <a class="link"
                            href="/blog/list-of-things-to-do-in-fun-european-cities-of-amsterdam-berlin-prague-budapest">
                            <img class="proftravblogimg"
                                src="https://i2.wp.com/www.curiouskeeda.com/wp-content/uploads/2020/02/banner-1.jpg?resize=640%2C400&ssl=1"
                                alt="">
                            <p class="title">Here Is Your Never-Ending List Of Things To Do In The Fun European Cities
                                of Amsterdam, Berlin, Prague & Budapest!</p>
                        </a>
                    </span>
                </div>

                <div class="col-sm-6 col-md-3 proftravinner proftravmar">
                    <span id="proftravlbo">
                        <a class="link" href="/blog/most-exotic-and-highly-enjoyable-destinations-to-visit-this-summer">
                            <img class="proftravblogimg"
                                src="https://i1.wp.com/www.curiouskeeda.com/wp-content/uploads/2019/04/curiouskeeda1-1.jpeg?resize=630%2C420&ssl=1"
                                alt="">
                            <p class="title">5 Most Exotic and Highly Enjoyable Destinations to Visit This Summer!</p>
                        </a>
                    </span>
                </div>

                <div class="col-sm-6 col-md-3 proftravinner proftravmar">
                    <span id="proftravlbo">
                        <a class="link" href="/blog/must-see-places-in-india-once-in-your-lifetime"> <img
                                class="proftravblogimg"
                                src="https://i0.wp.com/www.curiouskeeda.com/wp-content/uploads/2019/04/curiouskeeda.jpg?resize=640%2C335&ssl=1"
                                alt="">
                            <p class="title">Top 5 Must-See Places in India once in your Lifetime!</p>
                        </a>
                    </span>
                </div>

                <div class="col-sm-6 col-md-3 proftravinner proftravmar">
                    <span id="proftravlbo">
                        <a class="link" href="/blog/perks-of-tour-packages-plan-your-trip-now"> <img
                                class="proftravblogimg"
                                src="https://i1.wp.com/www.curiouskeeda.com/wp-content/uploads/2019/06/curiouskeeda1-2.jpg?fit=3200%2C1680&ssl=1"
                                alt="">
                            <p class="title">Perks of Tour Packages: Plan your trip now!</p>
                        </a>
                    </span>
                </div>

                <div class="col-sm-6 col-md-3 proftravinner proftravmar">
                    <span id="proftravlbo">
                        <a class="link" href="/blog/romantic-places-for-honeymoon-in-greece"> <img
                                class="proftravblogimg"
                                src="https://i1.wp.com/www.curiouskeeda.com/wp-content/uploads/2019/12/romantic-honeymoon-greece-curiouskeeda.jpg?resize=640%2C415&ssl=1"
                                alt="">
                            <p class="title">Honeymoon in Greece: It Is All You Need For A Perfect Beginning Of Your
                                Marital Life!</p>
                        </a>
                    </span>
                </div>

                <div class="col-sm-6 col-md-3 proftravinner proftravmar">
                    <span id="proftravlbo">
                        <a class="link" href="/blog/things-to-do-in-bali-with-friends"> <img class="proftravblogimg"
                                src="https://i0.wp.com/www.curiouskeeda.com/wp-content/uploads/2019/12/bali-indonesia-jetsave-curiouskeeda.jpg?zoom=0.9375&fit=1920%2C800&ssl=1"
                                alt="">
                            <p class="title">10 Reasons Why Bali Should Be On The Top Of Your Travel Bucket List With
                                Friends</p>
                        </a>
                    </span>
                </div>

                <div class="col-sm-6 col-md-3 proftravinner proftravmar">
                    <span id="proftravlbo">
                        <a class="link" href="/blog/things-to-do-in-toronto"> <img class="proftravblogimg"
                                src="https://i0.wp.com/www.curiouskeeda.com/wp-content/uploads/2019/08/Curiouskeeda-Toronto-banner-1.jpg?resize=640%2C361&ssl=1"
                                alt="">
                            <p class="title">10 Things To Do In The ‘The New York City of Canada’- Toronto</p>
                        </a>
                    </span>
                </div>

                <div class="col-sm-6 col-md-3 proftravinner proftravmar">
                    <span id="proftravlbo">
                        <a class="link" href="/blog/tips-to-travel-like-a-pro"> <img class="proftravblogimg"
                                src="https://i0.wp.com/www.curiouskeeda.com/wp-content/uploads/2019/08/tips-for-traveling-smart-1.jpg?resize=640%2C539&ssl=1"
                                alt="">
                            <p class="title">5 Tips To Travel Like A Pro!</p>
                        </a>
                    </span>
                </div>


                <div class="col-sm-6 col-md-3 proftravinner proftravmar">
                    <span id="proftravlbo">
                        <a class="link" href="/blog/vacation-on-budget"> <img class="proftravblogimg"
                                src="https://i2.wp.com/www.curiouskeeda.com/wp-content/uploads/2019/06/curiouskeeda1-8.jpg?resize=640%2C320&ssl=1"
                                alt="">
                            <p class="title">Vacation on a budget: Jetsave Way</p>
                        </a>
                    </span>
                </div>

                <div class="col-sm-6 col-md-3 proftravinner proftravmar">
                    <span id="proftravlbo">
                        <a class="link" href="/blog/why-is-visa-so-important"> <img class="proftravblogimg"
                                src="https://i2.wp.com/www.curiouskeeda.com/wp-content/uploads/2019/07/curiouskeeda1-9.jpg?resize=631%2C420&ssl=1"
                                alt="">
                            <p class="title">Why is Visa so important?</p>
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Component -->
    <%- include('partials/footer') %>
    
    </script>

</html>