<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Jetsave Contact: Dreams Become Reality When You Travel</title>
	<link rel="shortcut icon" type="image/png" href="/img/logo.png"/>
	<!-- Bootstrap CSS -->

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
	<link rel="stylesheet" type="text/css" href="./assets/css/contuctus.css">
	<link rel="stylesheet" type="text/css" media="(max-width: 600px)" href="./assets/css/jetsave-tablet.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
		integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

</head>
		<style>
				.link-a {
					color : red !important;
				}
		</style>
<body>

		<!-- Loading Component -->

		<%- include('partials/loading') %>

		<!-- Header Component -->
	
		<%- include('partials/header') %>
	
	<!-- Top section with a hi -->
	<section class="container-fluid full-width hibg">
		<div class="row full-width white ">

			<h1 class="contact-shy">Don't be Shy,</h1>
			<h1 class="contact-hi">Say Hi!</h1>
		</div>
	</section>

	<!-- visiting card -->

	<div class="container-fluid full-width">
		<div class="row full-width bgvisjetsave">
			<div class="col-sm-12 col-md-5 viscard">
				<h1>For Visas Contact: </h1>
				<a class="link-a" href="mailto:visa@jetsavetours.com">
					<h3>visa@jetsavetours.com</h3>
				</a>



				<h1>To Book Amazing Journeys, Contact: </h1>
				<a class="link-a" href="mailto:journey@jetsavetours.com">
					<h3> journeys@jetsavetour.com </h3>
				</a>

			</div>
			<div class="col-sm-12 col-md-7"> </div>

		</div>
	</div>

	<!-- location section -->

	<div class="container-fluid full-width postbg">
		<div class="row full-width">

		</div>
	</div>

	<div class="container-fluid full-width">
		<div class="row full-width">
			<div class="col-sm-12 col-md-6">
				<h1 class="locationborder">Location</h1>
				<h3 class="locationtext">30/28 III Floor, Opp.<br>
					Mughal Mahal Restaurant,<br>
					East Patel Nagar, New Delhi<br>
					Delhi 110008</h3>

			</div>
			<div class="col-sm-12 col-md-6">
				<img class="postbox" src="CSS/img/Contact Us Section 01 Image 02.png" alt="">
			</div>
		</div>
	</div>

	<!-- form section -->

	<div class="container-fluid full-width full-height contactform">
		<div class="row full-width">
			<div class="col-sm-12 col-md-6 hideov">
				<img class="cpimg" src="CSS/img/Contact Us Section 02 Image.png" alt="">

			</div>
			<div class="col-sm-12 col-md-6 form-left">
				<h1 class="nopad">Get in Touch to Start Your Next Adventure</h1>
				<form action="" class="needs-validation text-center" novalidate>
					<div class="form-group">
						<label for="name"></label>
						<input type="text" class="form-control" id="fname" placeholder="Name" name="name" required>
						<div class="valid-feedback"></div>
						<div class="invalid-feedback">Please fill out this field.</div>
					</div>
					<div class="form-group">
						<label for="email"></label>
						<input type="email" class="form-control" id="email" placeholder="Email" name="email" required>
						<div class="valid-feedback"></div>
						<div class="invalid-feedback">Please fill out this field.</div>
					</div>
					<div class="form-group">
						<label for="phn"></label>
						<input type="phone-no." class="form-control" id="phn" placeholder="Phone No." name="Phone No."
							required>
						<div class="valid-feedback"></div>
						<div class="invalid-feedback">Please fill out this field.</div>
					</div>
					<div class="form-group">
						<label for="howcanwehelp"></label>
						<input type="help" class="form-control" id="help" placeholder="How Can We Help"
							name="howcanwehelp" required>
						<div class="valid-feedback"></div>
						<div class="invalid-feedback">Please fill out this field.</div>
					</div>
					<!-- <div class="form-group form-check">
      					<label class="form-check-label">
        					<input class="form-check-input" type="checkbox" name="remember" required> I agree on blabla.
        					<div class="valid-feedback">Valid.</div>
        					<div class="invalid-feedback">Check this checkbox to continue.</div>
      					</label>
    				</div> -->
					<button type="submit" class="btn btn-primary formbutton contactbutn">Submit</button>
				</form>
			</div>
		</div>
	</div>






		<!-- Footer Component -->
	
		<%- include('partials/footer') %>

</body>

</html>