<html>

<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
        integrity="sha256-ECB9bbROLGm8wOoEbHcHRxlHgzGqYpDtNTgDTyDz0wg=" crossorigin="anonymous" />
</head>
        
<body>

    <div class="image-container">
        <div class="row">
            <h1> Edit Image </h1>
            <form action="/editform/updateimage" method="post" enctype="multipart/form-data">
                <input type="file" name="image">
                <input type="submit" value="save">
            </form>
        </div>
    </div>

    <div class="login">
        <h1> Edit Profile </h1>
        <form action="/editform/update" method="post">
            <input type="text" name="name" value="<%=result[0].name%>">
            <input type="text" name="username" value="<%=result[0].username%>">
            <input type="text" name="email" value="<%=result[0].email%>">
           
            <textarea rows="10" cols="37" name="bio"><%= result[0].bio %></textarea>
            <input type="submit" value="save">  
        </form>
    </div>


</body>
</html>