<title>Login With JET-SAVE</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

<link rel="stylesheet" href="./assets/css/login.css">
<link rel="shortcut icon" type="image/png" href="/img/logo.png"/>

<!-- cloud section -->
<div class="cloud"></div>
<div class="cloud"></div>
<div class="cloud"></div>
<div class="cloud"></div>
<!-- cloud section end -->

<!-- login section start -->
<div class="wrapper">
  <div class="max-width">
    <div class="mb-screen">
      <div class="d-flex">
        <div class="flex-1 time">Welcome</div>
        <div class="hd-icons">
          <i class="fa fa-signal" aria-hidden="true"></i>
          <i class="fa fa-wifi" aria-hidden="true"></i>
          <i class="fa fa-battery-full" aria-hidden="true"></i>
        </div>
      </div>
      <div class="logo d-flex flex-center flex- animated zoomIn">
        <a href="/"<i class="fa fa-plane" aria-hidden="true" style="color:red"></i></a>
      </div>
      <div class="login-details">
        <div class="title animated fadeInLeft">
          <center>Login With Jetsave</center>

          <!-- if credentials error show error message -->
          <% if (messages.error) { %>
         <center> <div class="alert alert-danger" role="alert" style="color: red;"><%- messages.error %></div> </center>
            <% } %>

        </div>
        <form action="/travelogue-guest/all" method="post">
          <!-- username part -->
        <div class="input-box animated  fadeInRight">
          <input
            type="text"
            name="username"
            placeholder="Username"
            class="flex-1"
          />
        </div>

        <!-- password part -->
        <div class="input-box animated  fadeInLeft">
          <input
            type="password"
            name="psw"
            placeholder="password"
            class="flex-1"
          />
          <span class="forgot"><a href=""></a></span>
        </div>
        <div class="lg-btn d-flex flex-1 animated  fadeInRight">
          <!-- button part -->
          <button class="flex-1">Log In</button>
          </form>

        </div>
        <div class="lg-btn d-flex flex-1 animated  fadeInRight">
          <!-- signup button -->
         <button class="flex-1"><a href="/signup" style="color: white;">Signup</a></button>

        </div>
      </div>

    </div>

  </div>
</div>
