<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Jetsave Destinations: Dreams Become Reality When You Travel</title>
    <link rel="shortcut icon" type="image/png" href="/img/logo.png" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

 
    <!-- responsive css for mobile -->
    <link rel="stylesheet" type="text/css" href="./assets/css/mobile.css">
    <!-- destination page css -->
    <link rel="stylesheet" type="text/css" href="./assets/css/ourdestination.css">
       
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>

<body>
    
     <!-- loading Component -->
	<%- include('partials/loading') %>


    <!-- Header Component -->
	<%- include('partials/header') %>


    <!-- background Video -->
    <video autoplay muted loop id="myVideo">
        <source src="./assets/video/background-video.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>
    <!-- grid container -->
    <div class="container">
        <h1 style="color: black;">Our Destinations</h1>
        <center>
            <p style="text-align: center!important; color:black;">Choose The Region For Your Next Trip</p>
        </center>

        <!-- grid start -->
        <main class="main-des">
            <!-- grid 1 -->
            <div class="card card-india">
                <a href="our-destination/India-Sri-Lanka-Destination">
                    <div class="detail-india detail-h">
                        <h3>India & Sri-Lanka</h3>

                    </div>
                </a>
            </div>
            <!-- grid 2 -->
            <div class="card card-mea">
                <a href="our-destination/South-East-Asia">
                    <div class="detail-mea detail-h
                        ">
                        <h3>South East Asia</h3>

                    </div>
                </a>
            </div>
            <!-- grid 3 -->
            <div class="card card-europe">
                <a href="our-destination/East-Europe">
                    <div class="detail-europe detail-h">
                        <h3>East Europe</h3>

                    </div>
                </a>
            </div>
            <!-- grid 4 -->
            <div class="card card-india">
                <a href="our-destination/west-europe">
                    <div class="detail-india detail-h">
                        <h3>West Europe</h3>

                    </div>
                </a>
            </div>
            <!-- grid 5 -->
            <div class="card card-india">
                <a href="our-destination/africa">
                    <div class="detail-india detail-h">
                        <h3>Africa</h3>

                    </div>
                </a>
            </div>

            <!-- grid 6 -->
            <div class="card card-india">
                <a href="our-destination/austraila">
                    <div class="detail-india detail-h">
                        <h3>Austraila</h3>

                    </div>
                </a>
            </div>

            <!-- grid 7 -->
            <div class="card card-india">
                <a href="our-destination/north-america">
                    <div class="detail-india detail-h">
                        <h3>North America</h3>

                    </div>
                </a>
            </div>

            <!-- grid 8 -->
            <div class="card card-india">
                <a href="our-destination/south-america">
                    <div class="detail-india detail-h">
                        <h3>South America</h3>

                    </div>
                </a>
            </div>

            <!-- grid 9 -->
            <div class="card card-india">
                <a href="our-destination/middle-east-asia">
                    <div class="detail-india detail-h">
                        <h3>Middle East Asia</h3>

                    </div>
                </a>
            </div>

        </main>

</body>

</html>