<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Jetsave Theme Packages: Dreams Become Reality When You Travel</title>
	<link rel="shortcut icon" type="image/png" href="/img/logo.png" />

	<!-- Bootstrap CSS -->
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

	<!-- themepackage css -->
	<link rel="stylesheet" type="text/css" href="./assets/css/themepackage.css">

	<!-- font awesome cdn -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body class="pacakagemane">


	<!-- loading Component -->
	<%- include('partials/loading') %>
	

	<!-- Header Component -->
	<%- include('partials/header') %>

	<center>
		<h3 class="textcontent">To Travel is to Create Memories.</h3> <br>
		<h2 class="textcontent1">Pick your kind of tours and we will assistour memorable experience!</h2>
	</center>

	<!-- image slider area -->
	<div class="wrapper categorywebimage">
		<!-- slider 1 -->
		<section id="section1">
			<a href="#section1" class="arrow__btn cararo" style="text-decoration: none; color: white;">‹</a>
			<a href="our-themed-packages/family-tour-packages">
				<div class="item">
					<img src="CSS/img/5.png" width="auto" height="350px;">
				</div>
			</a>
			<a href="our-themed-packages/honeymoon-tour-packages">
				<div class="item">
					<img src="CSS/img/honey.png" width="auto" height="350px;">
				</div>
			</a>
			<a href="our-themed-packages/friends-tour-packages">
				<div class="item">
					<img src="CSS/img/7.png" width="auto" height="350px;">
				</div>
			</a>
			<a href="our-themed-packages/wildlife-tour-packages">
				<div class="item">
					<img src="CSS/img/wildlife.png" width="auto" height="350px;">
				</div>
			</a>
			<a href="our-themed-packages/solo-tour-packages">
				<div class="item">
					<img src="CSS/img/solotravel.png" width="auto" height="350px;">
				</div>
			</a>
			<a href="#section2" class="arrow__btn cararo1" style="text-decoration: none; color: white;">›</a>
		</section>
		<!-- slider 2 -->
		<section id="section2">
			<a href="#section1" class="arrow__btn cararo" style="text-decoration: none; color: white;">‹</a>
			<a href="our-themed-packages/fixed-departure-tour-packages">
				<div class="item">
					<img src="/image/fixed.jpg" width="auto" height="350px;">
				</div>
			</a>
			<a href="our-themed-packages/spritual-tour-packages">
				<div class="item">
					<img src="/image/Home-Page/spritual.jpg" width="auto" height="350px;">
				</div>
			</a>
			<a href="our-themed-packages/honeymoon-tour-packages">
				<div class="item">
					<img src="CSS/img/honey.png" width="auto" height="350px;">
				</div>
			</a>
			<a href="our-themed-packages/friends-tour-packages">
				<div class="item">
					<img src="CSS/img/7.png" width="auto" height="350px;">
				</div>
			</a>
			<a href="our-themed-packages/wildlife-tour-packages">
				<div class="item">
					<img src="CSS/img/wildlife.png" width="auto" height="350px;">
				</div>
			</a>
		
			<a href="#section3" class="arrow__btn cararo1" style="text-decoration: none; color: white;">›</a>
		</section>
		
	</div>
	</div>
	
		<!-- mobile view of our theme package -->

	<div class="col-sm-12 mobileimageview" style="text-align: center">
		<a href="family-tour-packages"><img src="/image/Home-Page/5.jpg" width="auto" height="350px;"
				style="margin-bottom: 10px;"></a>
		<a href="honeymoon-tour-packages"><img src="/image/Home-Page/honey.jpg" width="auto" height="350px;"
				style="margin-bottom: 10px;"></a>
		<a href="friends-tour-packages"><img src="/image/Home-Page/7.jpg" width="auto" height="350px;"
				style="margin-bottom: 10px;"></a>
		<a href="wildlife-tour-packages"><img src="image/Home-Page/wildlife.jpg" width="auto" height="350px;"
				style="margin-bottom: 10px;"></a>
		<a href="solo-tour-packages"><img src="image/Home-Page/solotravel.jpg" width="auto" height="350px;"
				style="margin-bottom: 10px;"></a>
		<a href="fixed-departure-tour-packages"><img src="/image/fixed.jpg" width="auto" height="350px;"
				style="margin-bottom: 10px;"></a>
		<a href="spritual-tour-packages"><img src="/image/Home-Page/spritual.jpg" width="auto" height="350px;"
				style="margin-bottom: 10px;"></a>

	</div>


	<script src="./assets/js/themepackage.js"></script>


</body>

</html>