<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
        integrity="sha256-ECB9bbROLGm8wOoEbHcHRxlHgzGqYpDtNTgDTyDz0wg=" crossorigin="anonymous" />
        <!-- signup csssection -->
    <link rel="stylesheet" href="./assets/css/signup.css">
    <title>Signup With JET-SAVE</title>
</head>
    
<body>

    <!-- back button -->
       <a href="/login"> <div class="back-button">
            <div class="arrow-wrap">
                <span class="arrow-part-1"></span>
                <span class="arrow-part-2"></span>
                <span class="arrow-part-3"></span>
            </div>
        </div></a>

        <!-- form section  -->
            
        <form action="/travelogue-guest/insert" method="POST" enctype="multipart/form-data">
          <center>     <h2 style="color: red">Signup With Jetsave</h2>
                <input type="text" name="name" id="name" placeholder="Enter Name"><br><br>
                <input type="text" name="username" id="username" placeholder="Enter User-Name"><br><br>
                <input type="email" name="email" id="email" placeholder="Enter Email"><br><br>
                <input type="text" name="bio" id="bio" placeholder="Enter Bio"><br><br>
                <input type="date" name="dob" id="dob" class="button button-primary" placeholder="Enter dob"><br><br>
                <input type="text" name="phone" id="phone" placeholder="Enter Mobile Number"><br><br>
                <input type="password" name="psw" id="password" placeholder="Enter Password"><br><br>
                <input type="text" name="facebook" id="facebook" placeholder="Enter Facebook Link"><br><br>
                <input type="text" name="instagram" id="instagram" placeholder="Enter Instagram Link"><br><br>
                <input type="text" name="twitter" id="twitter" class="form control" placeholder="Enter Twitter"><br><br>
                <input type="text" name="youtube" id="youtube" placeholder="Enter Youtube"><br><br>
                <input type="file" name="image" id="image" class="button button-primary"><br><br>
                <input type="submit" id="submit" value="Signup" class="button button-primary">
                    <h5>Already Have AN Account? <a href="/login">Login</a></h5>
                </center>
        </form>
</body>
</html>