<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Jetsave Contact: Dreams Become Reality When You Travel</title>
    <link rel="shortcut icon" type="image/png" href="/img/logo.png" />
    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="./assets/js/hideshow.js"></script>
    <link rel="stylesheet" type="text/css" media="(max-width: 600px)" href="./assets/css/jetsave-tablet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

</head>



<body>

        <!-- loading Component -->
	<%- include('partials/loading') %>


    <!-- Header Component -->
	<%- include('partials/header') %>

   <center><h1 style="margin-top: 10%;">Terms & Conditions</h1></center>
   
   <img src="/image/plane.png" style="    width: 48%;
    margin-left: 24%; margin-top:-10% ;">
<!-- <i class="fa fa-plane-departure fa-7x" style="margin-left: 22%;
    margin-top: 1%;
    position: absolute;
    color: red;"></i> -->
   <div class="row">
    <div class="col-md-7" style="    /* margin: -12% 21%; */
    margin: 22%;
    text-align: justify;
    /* position: relative; */
    margin-top: -2%;">
        • The phone numbers provided are meant for Emergency purpose only. For tours & transfers, please contact the numbers
        mentioned in the itinerary. Normal office hours are 8 am to 4 pm EST Monday to Friday.<br>
        • You must carry a valid credit card for incidentals at hotel and government issued photo ID with you all the time.<br>
        • Check in time is 4 pm and check out time is 11 am at most hotels.<br>
        • You are liable to call and inform your travel agent/driver number mentioned in the itinerary, in case of any flight
        time changes. In most cases, driver will not wait more than his/her designated time mentioned in the itinerary and you
        might miss your transfer.<br>
        • Please allow 15-20 mins. pick-up window for shared ride transfers & tours. The shuttle/tour bus shall arrive within
        15-20 mins. of your scheduled pickup time.<br>
        • Tips for drivers is $3pp on daily basis is MANDTORY, tourism tour guides etc. are not included and are at the
        discretion of the client. The drivers expect TIPS approximately three dollars per person per day or a minimum of $80
        whichever is greater.<br>
        • We reserve the right to amend the itinerary and arrange for alternate accommodations or services due to unforeseen
        circumstances.<br>
        • Any items/incidentals used by individuals in their respective rooms like drinks, snacks, beverages, television
        channels, overflow of water from the bathroom, any room damage etc. will be billed to your rooms & shall have to be paid
        for by you before checkout.<br>
        • Discover Destinations LLC does not hold any responsibility for any loss of luggage, injuries or theft.<br>
        • Smoking is not allowed in most of the hotels. You shall be liable to pay a minimum of $200-$500 fine if you are caught
        smoking / smoking is detected in your hotel room.<br>
        • Any additional services required once tour starts will require a credit card to book those services.<br>
        • In case of coach breakdowns, our team will make the best efforts to replace the coach. Please allow several hours to
        make alternate arrangements. If there is a price difference for this change in service, we will advise you. There will
        be no monetary compensation refund on any mechanical failure of coach/vehicle. Drivers of coaches/chartered vehicles
        cannot legally drive more than 10 hours per day. We will strictly need to follow the timings as per itinerary as the
        itinerary is made keeping in mind the DOT Rules.<br>
        • Restaurant/hotel/service changes cannot be made once the group is on tour.<br>
        • Tour Escorts MUST carry local sim card. All the services need to be reconfirmed by the client or Tour Escort 24 hours
        prior to service date with regards to the pick-up time and the meeting point by guest name.<br>
        • WiFi is available at the hotels, we cannot guarantee that connectivity will be consistently functional for the entire
        time of your stay and it is not free in some hotels.<br>
        • Consuming of food & beverages are not allowed while bus is in motion. Adults & children are not allowed to stand or
        walk while bus is moving, if any injury occurs Discover Destinations is not responsible.<br>
        • Travel Insurance – we strongly recommend clients purchase full travel insurance to cover all emergencies including
        medical. Clients shall be individually responsible for any costs and/or liabilities arising out of non-purchase of
        insurance and/or purchase of insurance without the appropriate coverage. We request a signed waiver in the event client
        declines offer to buy travel insurance.<br>
        • This quote is based on the current taxes, surcharges, and fees as applicable at the time of quotation. Any subsequent
        change in the tax tables would be applicable to this quote.<br>
        • Discover Destinations will not be liable for any changes relating to cancellation of any component of a client’s
        itinerary outside of 31 days prior to the scheduled arrival date unless travel agency/client was notified by us at the
        time of booking that any component or service has special cancellation charges that extend beyond 31 days prior to
        arrival.<br>
        • All rates are based on minimum 2 Pax traveling together at all tours.<br>
        • Breakfast time is usually 7 AM to 9:30 AM depending on hotels. Some hotels this may vary.<br>
        • Surcharges for weekends and convention may apply for any trade fair/special event in city.<br>
        • Child age 2-9 years. Above 9 years is considered as an adult.<br>
        • We are not responsible for any missed breakfast due to flight timings or early morning tours.<br>
        • No Intercity surface transfers are included unless specified in the package. Baggage charges for flights must be borne
        by the clients.<br><br><br>
        <b> PAYMENT TERMS & CANCELLATION POLICY </b><br>
        <p style="margin-top: 10px;">Please read the payment term and conditions carefully before booking your tour.</p><br>
      <ul>
      <li>  1) 25% deposit to be paid at the time of the booking<br> </li>
      <li>  2) 50% payment to be made 60 days prior to date of travel<br> </li>
      <li>  3) Balance payment to be made 45 days prior to date of travel<br> </li>
      <li>  4) Cancelation 60 days or greater, 25% of tour cost, cancelation fee<br> </li>
      <li>  5) Cancellation within 59-45 days cancellation charge will be 50% of tour cost.<br> </li>
      <li>  6) Cancellation within 44 days cancellation charge or no show will be 100% of tour cost.<br> </li>
      </ul><br>
        • There will be no refund (partial or otherwise) for any part of services cancelled or unused for any reasons including
        medical or otherwise. This clause overrules any commitment made by any supplier participating in the program directly
        with the client or the Travel Agent/Tour Operator.<br>
        • Packages are valid until March 31, 2021. Certain blackout dates apply. Some events are seasonal.<br>
    <br><br><br>
    <div class="col-sm-12">
        <h3>CANCELLATION POLICY</h3>
        <ul>
            <li> 30 days or more prior to departure, no cancellation fees will be charged. </li>
            <li> Between 15 and 29 days prior to departure, 50% of the total booking fees will be charged </li>
            <li> 14 days or less prior to departure, 100% of the total booking fees will be charged </li>
        </ul>
    </div><br><br><br>
    <h3>Child Policy</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">S.no</th>
                <th scope="col">Age of child</th>
                <th scope="col">Tour fee</th>
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Under 02-year old</td>
                <td>Free of charge</td>
                
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Under 12-year old without bed</td>
                <td>50% of adult</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Under 12-year old with extra bed</td>
                <td>85% of adult</td>
            </tr>
        </tbody>
    </table>
    </div>
   

   </div>

       <!-- Footer Component -->
	<%- include('partials/footer') %>

    </div>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
        </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Custom JS file -->
    <script type="text/javascript" src="JetsaveStyle.js"></script>


    <!-- section for code testing -->

</body>

</html>