    @import url(//fonts.googleapis.com/css?family=Montserrat:400,700);


	/* Banner Image of About Page CSS */

	.hibg {
		background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/CSS/img/Contact Us Header Image.png');
		background-size: 100%;
		position: relative;
		background-repeat:no-repeat;
		height: 80vh;
	}
	.hibg1 {
		background-image: url('/CSS/img/about.jpg');
		position: relative;
		background-size: 100%;
		background-repeat: no-repeat;
		height: 80vh;
	}

	/* about Section CSS */

	.abtta{
		padding: 3% 5% 2% 15%;
		margin: 2% 0;
		margin-left: 10%;
	}

	/* about TEXT CSS */
	.abttatext{
		Margin: 5% 5%;
	}

	/* LOCATION BACKGROUND css */

	.postbg1 {
		background-image: url('/img/topimage.jpg');
		background-size: 100%;
		position: relative;
		background-repeat: no-repeat;
		height: 100vh;
	}

	/* grid css */

	.col-md-6 {
		text-align: center;
		padding-bottom: 50px;
		border-right: 1px dashed black;
	}

	/* bootstrap class of clild css */

	.col-md-6:last-child {
		border-right: 1px solid black;
	}

	/* counter css */

	.counter {
		animation-duration: 1s;
		animation-delay: 0s;
		color: black;
	}

	/* about page our presence css */

	.text-data{
		color: black;
	}

	/* font aswome css */

	i {
		font-size: 20px !Important;
	}
	/* responsive about page css */
	@media (max-width: 991px) {
		.col-md-6 {
			border-right: 0px dashed black;
			border-bottom: 1px dashed black;
			width: 50%;
			margin: auto auto;
		}

		.col-md-6:last-child {
			border-bottom: 0px dashed black;
		}
	}