/*jetsave css*/

@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Mr+Dafoe|Parisienne|Stalemate');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

@font-face {
    font-family: 'josefin_sansbold';
    src: url('/CSS/fonts/josefinsans-bold-webfont.woff2') format('woff2'),
         url('/CSS/fonts/josefinsans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	
    font-family: 'decalled_scriptregular';
    src: url('/CSS/fonts/decalledscript-regular-webfont.woff2') format('woff2'),
         url('/CSS/fonts/decalledscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
	overflow-x: hidden;
}

.row{
	margin-right: 0px !important;
	margin-left: 0px !important
}

.text-center{
	text-align: center !important;
}

/*font names and classes*/

.jetsave-josefinreg{
	font-family: josefin_sansregular !important;
}
 
.jetsave-josefinbold{
	font-family: josefin_sansbold !important;
}

.jetsave-robotobold{
	font-family: robotobold !important;
}

.jetsave-robotoregular{
	font-family: robotoregular !important;
}

.jetsave-Parisienne{
	font-family: 'Parisienne', cursive!important;
}

.Jetsave-mrdafoe{
	font-family: 'Mr Dafoe', cursive !important;
}

.Jetsave-stalemate{
	font-family: 'Stalemate', cursive !important;
}

.Jetsave-Lobster{
	font-family: 'Lobster', cursive !important;
}

.Jetsave-Pacfifico{
	font-family: 'Pacifico', cursive !important;
}

.Jetsave-Roboto{
	font-family: 'Roboto', sans-serif !important;
}

.text-bold{
	font-weight: bold;
}

/*colors*/

.jetsavered{
	color: #ef3a3a;
}

.white{
	color: #ffffff !important ;
	fill: #ffffff !important ;
}

.formfill{
    width: 300px;
    height: 35px;
    border-style: solid;
    border-width: 2px;
    border-color: #fff;
    border-radius: 5px;
    padding-left: 5%;
}

.formbutton{
	background-color: #ef3a3a;
	border-color: #ef3a3a;
	border-width: 2px;
	border-style: solid;
	border-radius: 5px;
	width: 100px;
	text-align: center;
	margin-left: -25px;
	height: 35px;
}

/*form styling ends*/

h1, h2, h3, h4, h5, h6{
	font-family: josefin_sansbold;
	font-weight: bold;
	padding: 0px 4%;
}

.tophead h1{
	font-size: 48px;
}

.tophead h3 {
	margin-top: 10px !important;
}

.h1small{
	font-size: 22px;
}

h2{
	font-size: 36px;
}

h3{
	font-size: 24px
}

h4{
	font-size: 16px;
}

p{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	text-align: justify;
	font-weight: medium;
	color: rgb(0, 0, 0);
}

h5{
	font-size: 14px;
}

h6{
	font-size: 12px;
}

.item img{
	height: 409px;
}

.internal-container{
	margin: 0px 5%;
}

.nopad{
	padding: 0px !important;
	color: black;
}

.nomar{
	margin: 0px !important;
}

.topmargin{
	margin-top: 80px;
}

.botmargin{
	margin-bottom: 56px;
}

.carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 150px;
    height: 3px;
    margin-right: 0px;
    margin-left: 0px;
    transform: translateY(56px);
    text-indent: -999px;
    cursor: pointer;
    background-color: #eae7dc;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: 1;
    transition: background-color .6s ease;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}

.carousel-indicators .active{
	opacity: 1;
	background-color: #ef3a3a;
}

.height80{
	height: 80vh;
}

/*Body css finish*/

/*Header section*/


.header{
	width: 100%;
	height: 120px;
	margin: 0 auto;
	z-index: 1;
	position: absolute;
	top: 0.1%;
}

.on-top{
	z-index: 5;
}


.header-wrapper{
	max-width: 1280px;
	padding: 15px 1%;
	margin: 0 auto;
}

.svglogo{
	fill: #fff;
}

.svglogo:hover .logojet{
	fill:#ef3a3a;
}

.header-top{
	position: absolute;
    right: 10%;
    margin-top: 2%;
}

.header-top-item{
    width: 120px;
    font-size: 13px;
    color: #fff;
    text-transform: none;
    text-decoration: none;
	line-height: 20px;
	display: block !important;
    cursor: pointer;
}

.header-top a{
	color: #fff;
	display: inline-flex;
	border-right: 2px solid #fff;
	fill: #fff;
}

.top-link{
	padding-left: 4%;
	width: 100%;
}

/*Main Menu*/
.main-nav {
    position: absolute;
    display: inline-flex;
    vertical-align: bottom;
    right: 7%;
    border-bottom: 1px solid rgba(255,255,255,.2);
    font-size: 0;
    margin-top: 65px;
}

	/* Menu bar css */

.main-nav-item{
	color: #fff;
	min-width: 120px;
	max-width: 175px;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    padding: 2% 1%;
    position: relative;
    cursor: pointer;
    -webkit-transition: opacity .5s cubic-bezier(.165,.84,.44,1);
    -moz-transition: opacity .5s cubic-bezier(.165,.84,.44,1);
    transition: opacity .5s cubic-bezier(.165,.84,.44,1);
}

.main-nav-item a{
	text-decoration: none;
	color: #fff;
}

/* image slider */

#carouselslider{
	top: -10px;
	left: 0px;
	right: 100%;
	height: 100vh;
	overflow: hidden;
}

.topindicator{
	top: 85vh;
}

#carousel0{
	margin: 0;
}

#hero-text{
	top: 40%;
	position: absolute;
	display: block;
}


p{
	text-align: justify;
}

.colpad{
	padding: 0px 4%;
}

.tophead{
	text-align: right;
	margin-bottom: 26px;
	color: #ef3a3a;
}

.bottomhead{
	font-family: 'Parisienne';
	font-size: 75px;
}

.full-height{
	height: auto
}

.full-width{
	width: 100%;
	padding-right: 0px !important;
	padding-left: 0px !important;
}
.textpad{
	    padding: 1% 12% 33px 7%;
}

.padding-left{
	padding: 0px 20% 0px 8%;
	text-align: justify;
}

.vidimg{
	margin-left: -9%;
}

.paramar{
	margin-top: 24px;
}

.bgjetsave{
	background-image: url("/CSS/img/Home Page/Jetsave.svg");
	background-repeat: no-repeat;
	background-size: 90% auto;
	background-position: -50% 40%;
}

/*carousel styling*/
/*Our expert */
.bgourexpert{
	background-image: url("/CSS/img/Home Page/Images/Experts.svg");
	background-repeat: no-repeat;
	background-size: 75% auto;
	background-position: 160% 50%;
}

.psmall{
	font-size: 14px;
}

.carousel-container{
	margin: 0px 5% 0px 8%;
}
.subhead{
	    color: #ef3a3a;
	    margin-left: 0%;
	    font-weight: 700;
}

.ppad{
	padding: 0px 20% 0px 4%;
	text-align: justify;
}

.buzz1{
	text-align: left;
}
/*our expert ends*/

/*Traveller's Blog*/
.bgtravblog{
	background-image: url("/CSS/img/Home Page/Images/Blogs.svg");
	background-repeat: no-repeat;
	background-size: 50% auto;
	background-position: -10% 50%;
}

/*Blog Code*/
a.blogh{
	color: #333333;
	text-align: justify;
}

.blogimg{
	    width: 290px;
	    height: 194px;
}

.readmore{
	color: #ef3a3a;
}

.blogp{
	text-align: justify;
	   
	    margin: -25%;
	    margin-left: 0%;
	    margin-bottom: 3%;
	    margin-top: 7%;
	    position: relative;
}

.blogpad{
    margin: 24px 6%;
    max-width: 229px;
    padding: 0px !important;
}
/*blog code ends*/
/*traveller's blog ends*/

/*people's choice carousel*/

.choice-height{
	height: 90vh;
	padding-top: 90px;
}

.botbor{
		border-bottom: 1px solid #fff;
		margin-bottom: 18px;
		height: auto;
		padding: 2%;
}

.svgicon{
	fill: #ffffff;
	align-items: center;
	max-height: 50px;
	margin-left: 7%;
	width: 100%;
}

.pc{
	color: #fff;
	text-align: center;
	padding-top: 10px
}


/* people choice css */

#peoplechoiceheadmob{
	-webkit-display:none;
	-moz-display:none;
	display: none;
}

.bgpeople{
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6 ));
    background-size: 100%;
    position: relative;
    height: 80vh;
    background-repeat: no-repeat;
}

.londonimage1{
	position: absolute;
	width: 100%;
	height: 90%;

}

.londonimage{
	position: absolute;
	width: 100%;
	height: 90%;

}
.bgimgelon {
	position: absolute;
	width: 100%;
	height: 80%;

}
.greeceimage{
	position: absolute;
	width: 100%;
	height: 90%;

}
.figiimage{
	position: absolute;
	width: 100%;
	height: 90%;

}
.rajisthanimage{
	position: absolute;
	width: 100%;
	height: 90%;

}
.booktrip{
	transform: translateY(50%);
}

#peoplechoicehead{
	margin-top: 1%;
	float: left;
}

/*choice options*/
.poption a:active{
	transform: translate3d(1px 1px);
	box-shadow: 2px;
	visibility: hidden;
}


.poption img{
	height: 80%;
	width: 90%;
}

.kska:hover {

	z-index: 2;
	-webkit-transition: all 200ms ease-in;
	-webkit-transform: scale(1.2);
	-ms-transition: all 200ms ease-in;
	-ms-transform: scale(1.2);
	-moz-transition: all 200ms ease-in;
	-moz-transform: scale(1.2);
	transition: all 200ms ease-in;
	transform: scale(1.2);
}

.contmat{
	margin-top: 4% !important;
}

.activekau{
		
		z-index: 2;
		-webkit-transition: all 200ms ease-in;
		-webkit-transform: scale(1.2);
		-ms-transition: all 200ms ease-in;
		-ms-transform: scale(1.2);
		-moz-transition: all 200ms ease-in;
		-moz-transform: scale(1.2);
		transition: all 200ms ease-in;
		transform: scale(1.2);
}



.btnicon{
	content: "img: CSS/img/Home Page/Images/People_choice Book this trip Button.svg";
}
.btnicon::after{
	background-image: url('/CSS/img/Home Page/Images/People_choice Book this trip Button.svg');
}


/*verified traveller section*/

#bgfeatured1{
	background-image: url('/CSS/img/Home Page/Images/Home Page Verified Traveler Travelouge Sides.png');
	background-size: 110%;
	position: relative;
    background-repeat:no-repeat;
}

#bgfeatured2{
	background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('/CSS/img/Home Page/Images/Home Page Verified Traveler Info.png');
	background-size: 100%;
	position: relative;
    background-repeat:no-repeat;
}

.bgfeaturedtext{
	color: #fff;
}

#bgfeatured3{
	background-image: url('/CSS/img/Home Page/Images/Home Page Verified Traveler Travelouge Sides.png');
	background-size: 110%;
	position: relative;
    background-repeat:no-repeat;
}

/*Foooter section*/

.bgfooter{
	background-color: #333333;
	padding-top: 56px;
	color: #fff;
	/* height: 102%; */
}

.footer li{
	list-style: none;
}

.socialicons li{
	margin-left: 10px;
	margin-right: 10px;
	font-size: 40px;
	padding-left: 20px;
	z-index: 99999;
}

.icon  {
	color :white;
}

.icon :hover {
	color: red;
}

.socialicons li a {
	margin: 10px;
}


.colmar{
	margin: 0px 4% 0px 8%;
}

.footer h2{
	font-size: 24px;
}

.formtext{
	font-family: 'Stalemate', cursive;
	color: #fff;
	text-align: center;
	font-size: 86px;
	font-weight: 200px;
}

.footermenu li a{
	color: #fff;
}

.Indiafooter{
	fill: #fff;
	height: 600px;
	width: 600px;
	margin-left: -75px;
	/*margin-top: -100px;*/

	overflow: hidden;
	margin-bottom: 0px !important;
}

.Indiatext{
	font-family: 'Stalemate', cursive;
	color: #fff;
	text-align: center;
	font-size: 75px;
}


#footerlocation1, #footerlocation2, #footerlocation3, #footerlocation4, #footerlocation5, #footerlocation6, #footerlocation7, #footerlocation8 {
	fill: #ef3a3a;
	vertical-align: top;
	overflow: hidden;
	position: absolute;
}

#footerlocation1 {
	top : 298px;
	left: 57px;
}


#footerlocation2 {
	top : 335px;
	left: 40px;
}

#footerlocation3 {
	top : 349px;
	left: 194px;
}

#footerlocation4 {
	top : 418px;
	left: 10px;
}


#footerlocation5 {
	top : 444px;
	left: 41px;
}

#footerlocation6 {
	top : 434px;
	left: 132px;
}

#footerlocation7 {
	top : 495px;
	left: 57px;
}

#footerlocation8 {
   	top : 512px;
	left: 94px;
}


#footermob{
	display: none !important;
	-webkit-display: none !important;
	-moz-display: none !important;
}

.smrtemailfrom {
	border: 1px solid black !important;
}
.smrtformhm{
margin: .0em auto;
border: 1px solid black !important;
font-family: inherit;
text-transform: inherit;
font-size: inherit;
display: block;
width: 50% !important;

}
.dropdownsmrt{
	    
	    margin-top: 1%;
}

.dropdownsmrt1{
	    position: absolute;
	    margin-top: -4%;
	    margin-left: 22.5%;
	    }
.smrtbtn{
	margin-left : 77%;
	margin-top: 3%;
	margin-bottom: 1%;
}

::-webkit-scrollbar {
	width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: red;
	border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: red;
}

.button {
	font-size: 1em;
	padding: 10px;
	color: #fff;
	border: 2px solid #06D85F;
	border-radius: 20px/50px;
	text-decoration: none;
	cursor: pointer;
	transition: all 0.3s ease-out;
}

.button:hover {
	background: #06D85F;
}

.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}

.overlay:target {
	visibility: visible;
	opacity: 1;
	z-index: 9999;
}

.popup,
.eety {
	margin: 70px auto;
	padding: 20px;
	background: #fff;
	border-radius: 5px;
	width: 50%;
	height: 55%;
	position: relative;

}

.popup h2 {
	margin-top: -32%;
	/* margin-left: 47%; */
	color: #333;
	font-family: Tahoma, Arial, sans-serif;
}

#h2 {
	margin-top: 2%;
	margin-left: 47%;
	color: #333;
	font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}

.popup .close:hover {
	color: #06D85F;
}

.popup .content {
	max-height: 30%;
	overflow: auto;
}

.img-section {
	margin-left: 17%;
	margin-top: 15%;

}

.wrapper {
	display: grid;
	grid-template-columns: repeat(3, 100%);
	overflow: hidden;
	scroll-behavior: smooth;
}

.wrapper section {
	width: 100%;
	position: relative;
	display: grid;
	grid-template-columns: repeat(5, auto);
	margin: 4% 0;
	padding: 0 6%;
}

.wrapper section .item {
	padding: 0 0px;
	transition: 250ms all;

}

.wrapper section .item:hover {
	margin: 0 40px;
	transform: scale(1.05);
}

.cararo {
	position: absolute;
	color: #fff;
	text-decoration: none;
	font-size: 6em;
	background: #000;
	width: 80px;
	padding: 20px;
	text-align: center;
	z-index: 1;
}

.cararo1 {
	position: absolute;
	color: #fff;
	text-decoration: none;
	font-size: 6em;
	background: #000;
	width: 80px;
	padding: 20px;
	text-align: center;
	z-index: 1;
}

.wrapper section .cararo {
	top: 0;
	bottom: 0;
	left: 0;
	background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}

.wrapper section .cararo1 {
	top: 0;
	bottom: 0;
	right: 0;
	background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}

@media only screen and (max-width: 600px) {
	a.arrow__btn {
		display: none;
	}
}

.smrtlft{
	padding-right: 0px !important;
	border-right: 2px solid black;	
}
.smrttpmr{
	margin: 3% 0;	
}
.smrtformhmtext{
	margin-top: 6%;
	width: 100%;
}
.smrtremove{
	    position: absolute;
    top: 20px;
    right: 26px;
    font-size: 15px;
}
