.loadersmrt{
    color: black;
    background-color: white;
    width: 100%;
    text-align: right;
    height: 100%;
    top: 0;
    position: fixed;
    vertical-align: top;
    /* left: 50%; */
    z-index: 1111111;
   

    }
    .contentsmrt{
                position: absolute;
    }
 .svg-calLoadersmrt {
    width: 230px;
    height: 230px;
    position: absolute;
    margin-top: 14%;
    transform-origin: 115px 115px;
    vertical-align: middle !important;
    text-align: center !important;
    align-self: center !important;
    margin-left: -57% !important;
    animation: 1.4s linear 0s infinite normal none running loader-spin; 
}
 .cal-loader__planesmrt {
     fill: red;
}
 .cal-loader__pathsmrt {
     stroke: red;
     animation: 1.4s ease-in-out infinite loader-path;
}
 @keyframes loader-spin {
     to {
         transform: rotate(360deg);
    }
}
 @keyframes loader-path {
     0% {
         stroke-dasharray: 0, 580, 0, 0, 0, 0, 0, 0, 0;
    }
     50% {
         stroke-dasharray: 0, 450, 10, 30, 10, 30, 10, 30, 10;
    }
     100% {
         stroke-dasharray: 0, 580, 0, 0, 0, 0, 0, 0, 0;
    }
}
 