.navbar {
  display: none !important; 
  background-color: black;
}
.mobilecontainer {
  display: none ;
}
.mobileimageview {
  display: none;
}

#hiking-mobile{
  display: none;
}

.mobile-text {
  display: none;
}

.navbar-toggler {
  color: rgba(255, 255, 255, 0.5) !important;
  border-color: rgba(255, 0, 0, 0.1) !important;
}

@media only screen and (max-width: 600px) {
  .header {
    display: none !important;
  }

  .mobile-text {
    display: block !important;
  }
  .mobile-text {
    margin-top: 30%;
  }
  .mobile-about {
    position: relative;
    margin-top: -122%;
  }

  .about-text {
    margin-left: 17%;
    padding: 3% 0 0 7%;
    font-size: 33px;
  }

  .mobile-office {
    margin-top: -141%;
  }

  .abtta {
    display: none !important;
  }

  .about-jetsave {
    margin-top: -39%;
  }
  .white {
    font-size: 1.5em;
  }
  .webcontainer, .ftrditi1 {
    display: none !important;
  }
  .mobilecontainer {
    display: block !important;
  }

  .imgleftsecinner img {
    position: relative;
    height: 220px;
    width: 100% !important;
    transform: translateX(1%);
    border-radius: 2px;
  }

  .imgrightsecinner img {
    position: relative;
    height: 220px;
    width: 100% !important;
    transform: translateX(1%);
    border-radius: 2px;
  }

  #hiking {
    display: none;
  }

  #hiking-mobile {
    display: block;
  }

  .imgleftsecinnertext h3 {
    margin-left: 4%;
    font-size: 1em;
    margin-top: 4%;
  }

  .imgleftsecinnertext p {
    text-align: justify;
  }

  .daytextleft {
    color: #ffffff;
    position: absolute;
    top: 7px;
    left: 37px;
    padding: 18px 10px;
    background-color: #ef3a3a5e;
    border-radius: 21px;
    font-size: 16px;
  }

  .formbuttonbt {
    margin-left: 21%;
  }

  .bottomhead {
    font-size:30px !important;
  }

  .headvity h2 {
    font-size: 22px;
  }

  .svgimage {
    width: 232% !important;
    margin-top: 46px;
  }
  .loadersmrt {
    display: none !important;
  }
  .mobileimageview {
    display: block;
  }
  .leftmenufix {
    display: none !important;
  }
  .itisvg {
    display: none !important;
  }
  .categorywebimage {
    display: none !important;
  }
  .navbar {
    display: block !important;
  }
  #our-expertcarousesl {
    display: none !important;
  }
  .choice-height,
  #peoplechoicetours {
    display: none;
  }
  .mobiletext {
    font-size: 23px !important;
    
  }
  .mobile-center {
    margin-top: -8% !important;
  }

  .smrtremove {
    position: relative;
    top: -61em;
    left: 92%;
  }
}
