
/* Profile page CSS starts here */

#memberprof {
  margin-top: 5%;
}

.socicda {
  fill: #333;
}
.icon {
  color: #3facbd;
}
.icon:hover {
  color: red;
}
#userimg {
  padding: 0 3.7%;
  height: 211px;
  width: 236px;
}
.mekajet {
  display: inline-flex;
}
.socialicons {
  padding: 0 15%;
  margin-top: 5%;
  z-index: 99999;
}

.socic {
  fill: #9a9a9a;
  margin: 35%;
}

.signintext {
  padding: 3% 4%;
}

.formbuttonprof {
  background-color: #ef3a3a;
  border-color: #ef3a3a;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  width: 100px;
  text-align: center;
  margin-left: 15%;
  height: 35px;
}

.signbot {
  padding: 0 20%;
}

.signbotform {
  padding-left: 10%;
}

.formfillbot {
  width: 300px;
  height: 35px;
  border-style: solid;
  border-width: 2px;
  border-color: #eae7dc;
  border-radius: 5px;
  background-color: #eae7dc;
  padding-left: 5%;
  margin-bottom: 2%;
}

.formtextbot {
  color: black;
  font-size: 24px;
  margin-top: 1%;
}

.file {
  width: 70px;
  /* height: 50px !important; */
  font-size: 10px;
  margin: -24px 0 0px 22px;
}

.upload {
  font-size: 32%;
  margin-left: 33%;
}

.filterline {
  margin-top: 50px;
  min-height: 10px;
  max-height: 50vh;
  border-top: black 2px solid;
  border-bottom: black 2px solid;
}

.filterlineinner {
  padding: 2%;
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
  color: black;
}
  
  .filterlineinner h3 a {
        color: black;
  }

  .filterlineinner h3  {
    color: black;
}


.borderright {
  border-right: black 2px solid;
}
.filterdrop,
.filterdrop {
  padding: 2% 5%;
  width: 200px;
  background-color: #eae7dc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 1.2rem;
  border-width: 0px;
  -webkit-vertical-align: top;
  -moz-vertical-align: top;
  vertical-align: top;
}

.proftrav {
  min-height: 100px;
}

.proftravl1 {
  height: 295px;
}

.proftravl2 {
  height: 196px;
}

.proftrav-author {
  position: absolute;
  bottom: 10px;
  left: 30px;
}

.proftophead {
  text-align: left;
  color: #ef3a3a;
}

.profbottomhead {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  color: white;
}

/*Blog bottom styling*/

#proftravlbo {
  height: 196px;
}

#blogbottom .proftophead {
  margin-top: 2%;
  margin-bottom: 0px;
  text-align: left;
  color: #ef3a3a;
}

#blogbottom .profbottomhead {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  color: black;
}

/*blogbottom ends*/

.proftrav-hover {
  display: none;
  position: absolute;
  bottom: 10px;
  left: 30px;
}

#blogbottom {
  margin-top: 100px;
}

/*<!-- testing code before puttin it in the place -->*/

/*
/*
/*
/*
profile-member page style
*/
.memberlin {
  padding-top: 4%;
}

#membername {
  padding: 0px;
  color: black;
}

#username {
  color: red;
}

.editsvg {
  position: relative;
  margin-left: 0%;
  margin-top: 11%;
}

.button a {
  color: white;
  text-decoration: none;
}

.button a :hover {
  color: white;
}

.memberbio {
  margin-top: 24px;
}

.biotext {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.editsvg {
  padding: 2%;
  right: -97px;
}

/* Blogf Read css */

.blog {
  top: 444px;
  position: relative;
  float: left;
  left: 10px;
  background-color: #F5F5F5;
  height: auto;
  width: 600px;
  box-shadow: 5px 10px #888888;
  border: 2px solid transparent;
  border-radius: 5px;
}

.blog p {
  font-size: 16px;
  margin: 5px;
}

.blog h2 {
  margin-top: 48px;
}

.blog img {
  margin: -2px;
  width: 101%;
  margin-top: -1%;        
}

.relatedt {
  text-align: center;
  position: relative;
  top: 3388px;

}

.relatedt::after {
  content: "";
  display: inline;
  height: 4px;
  width: 35%;
  background-color: black;
  position: absolute;
  left: 800px;
  top: 20px;
}

.relatedt::before {
  content: "";
  display: inline;
  height: 4px;
  width: 35%;
  background-color: black;
  position: absolute;
  left: 10px;
  top: 20px;
}

.thumbnailt {
  position: absolute;
  top: 600px;
  margin-top: 20px;
  border: 2px solid black;
  border-radius: 8px;
  border-collapse: separate;
  border-spacing: 15px;
}

.thumbnailt img {
  border: 2px solid trasparent;
  border-radius: 10px;
  margin-left: 50px;
}

.captiont h3,
h5 {
  text-align: center;
}

.captiont h5 {
  color: red;
}

.captiont h6 {
  text-align: left;
}

.captiont {
  margin: 15px;
  text-align: center;
}

.related {
  float: left;
  position: relative;
  top: 1200px;
  left: 20px;
}

.related::after {
  content: "";
  display: inline;
  height: 4px;
  width: 170%;
  background-color: black;
  position: absolute;
  left: 400px;
  top: 20px;
}

.thumbnail {
  position: absolute;
  top: 1200px;
  margin-top: 20px;
}

.thumbnail img {
  border: 2px solid trasparent;
  border-radius: 10px;
}

.relatedb {
  text-align: center;
  position: relative;
  top: 1600px;

}

.relatedb::after {
  content: "";
  display: inline;
  height: 4px;
  width: 35%;
  background-color: black;
  position: absolute;
  left: 700px;
  top: 20px;
}

.relatedb::before {
  content: "";
  display: inline;
  height: 4px;
  width: 35%;
  background-color: black;
  position: absolute;
  left: 10px;
  top: 20px;
}

.thumbnail1 {
  position: absolute;
  top: 1600px;
  margin-top: 20px;
}

.thumbnail1 img {
  border: 2px solid trasparent;
  border-radius: 10px;
}

/* test code*/
.subhead {
  color: #ef3a3a;
}

.psmall {
  font-size: 14px;
}

