<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Jetsave Destinations: Dreams Become Reality When You Travel</title>
	<link rel="shortcut icon" type="image/png" href="/img/logo.png" />
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="../assets/css/jetsavecss.css">

	<link rel="stylesheet" type="text/css" media="(max-width: 600px)" href="../assets/css/jetsave-tablet.css">
		
</head>

<body>

	  <!-- Loading Component -->

	  <%- include('../partials/loading') %>

	  <!-- Header Component -->
  
	  <%- include('../partials/header') %>

	<!-- start section -->

	<section>
	<div class="container-fluid mainactivbg1">
		<div class="row full-width filtercontainer">
			<div class="container text-center toptext">
				<h3 class="tophead text-center" style="margin-bottom: 0px !important">
					Family that Travels Together
				</h3>
				<h1 class="bottomhead jetsaveblack" style="font-size: 2.5rem; font-size: 56px;">
					Stays Together
				</h1>
			</div>
		</div>
</section>

<section id="hiking">
	<div class="container-fluid full-width">
	</div>

	<div class="container full-width contmat" >
		<div class="row headvity full-width">
			<h2 class="full-width" style="color: black;">It's time to make the moments count. Not count the moments!</h2>
		</div>
		<div class="row full-width imgleftsec">
			<div class="col-sm-6 imgleftsecinner">
				<img src="/CSS/img/jetsave/singapore/header_sin.jpg" alt="">
				<h3 class="daytextleft"> 4 Nights | 1 Country | 1 City | 1 Island
				 </h3>
			</div>
			<div class="col-sm-6 imgleftsecinnertext">
				<h3>Singapore Package with Sentosa Island</h3>
				<p>The ideal town for people living with a continuing thirst for wanderlust, Singapore is known for its iconic
					attractions. This mini-nation on the tip of the Malay Peninsula defies the region’s usual stereotypes, and is,
					in many ways, the complete opposite of its popular neighbors.<br>
				<p style="color: red">Singapore (4N)
					 <br></p>
				</p>
				<a href="/itineary/family/Itineraries-Exotic-Singapore-Package-with-Sentosa-Island"><input type="submit" value="Book This Trip"
					class="formbuttonbt"></a>
			</div>

		</div>

		<div class="row full-width imgrightsec">
			<div class="col-sm-6 imgrightsecinnertext">
				<h3>Astounding Dubai</h3>
				<p>If planning to visit the charismatic city of Dubai, then a stay of about 6 days is the best amount of time to
					squeeze all of the tourism juices out of this illustrious middle eastern gem. Dubai is filled with luxury to
					breathtaking architecture. The city boasts of the tallest building in the whole world<br>
				<p style="color: red">Dubai (5N) <br>
				</p><br>
			</p>
				<a href="/itineary/family/Itineraries-Astounding-Dubai-Honeymoon-Package"><input type="submit" value="Book This Trip"
						class="formbuttonbt"></a>
			</div>
			<div class="col-sm-6 imgrightsecinner">
				<img src="/CSS/img/jetsave/dubai/besttime.jpg" alt="">
				<h3 class="daytextright">5 Nights | 1 Country | 1 City</h3>
			</div>

		</div>


		<div class="row full-width imgleftsec">
			<div class="col-sm-6 imgleftsecinner">
				<img src="/CSS/img/jetsave/London/londonhead.jpg" alt="">
				<h3 class="daytextleft">10 Nights | 3 Countries | 6 Cities</h3>
			</div>
			<div class="col-sm-6 imgleftsecinnertext">
				<h3>London Switzerland and Paris</h3>
				<p>Visiting Europe is always a great idea! A fantasyland filled with picturesque scenes and amazing natural
					experiences, this mainland is on the bucket-list of many. Visit the amazing urban cities of Switzerland, Paris
					and London and make a stride towards making your European dream come true with this tour.
					<br>
					<p style="color: red">London (3N) | Paris (4N) | Basel (1N) | Interlaken
						 (2N) <br>
					</p>
					</p>
				<a href="/itineary/family/Itineraries-London-Switzerland-and-Paris"><input type="submit" value="Book This Trip" class="formbuttonbt"></a>

			</div>

		</div>

		<div class="row full-width imgrightsec">
			<div class="col-sm-6 imgrightsecinnertext">
				<h3>Princely Rajasthan</h3>
				<p>This Princely Rajasthan Tour will surely help you explore this princely state that is full of palatial splendour,
					ancient forts and zestful culture. Every city in Rajasthan has its own charm that is sure to spellbound you. This trip encompasses all the elements of India that makes it unique in persona, to any other
					country. Visit the spellbinding lakes and palaces of Udaipur and traverses through amazing.<br>
				<p style="color: red;">Delhi(2N) |
					Mandawa(1N) |
					Bikaner(1N) |
					Jaislamer(2N) |
					Jodhpur(2N) |
					Udaipur(2N) |
					Jaipur(2N) |
					Agra(1N)<br></p>
				</p>
				<a href="/itineary/family/Itineraries-Princely-Rajasthan"><input type="submit" value="Book This Trip" class="formbuttonbt"></a>

			</div>
			<div class="col-sm-6 imgrightsecinner">
				<img src="/CSS/img/jetsave/Rajasthan/main.jpg" alt="">
				<h3 class="daytextright">12 Nights | 1 Country | 11 Cities</h3>
			</div>

		</div>

	

		<div class="row full-width imgleftsec">
						<div class="col-sm-6 imgleftsecinner">
							<img src="/CSS/img/jetsave/Tamilnadu/header_tn.jpg" alt="">
							<h3 class="daytextleft">12 Nights | 1 Country | 11 Cities</h3>
						</div>
			<div class="col-sm-6 imgleftsecinnertext">
				<h3>South India Journey</h3>
				<p>Be it sun soaked beaches, great temples or engineering marvels; South India Tour is sure to offer you everything
					that makes your trip fascinating. From the longest beach in the world, Marina Beach, to the oldest dam, Grand
					Anicut, when in Tamil Nadu the tourist can capture the world famous sights.<br>
					<p style="color: red;">Chennai (2N) |
						Kanchipuram (1N) |
						Mahabalipuram (1N) |
						Pondicherry (1N) |
						Trichy (1N) |
						Tanjore (1N) |
						Madurai (1N) |
						Periyar (1N) |
						Kumarakom (1N) |
						Alleppey (1N) |
						Cochin (1N)<br>
				</p>
					</p>
				<a href="/itineary/family/Itineraries-South-India-Journey"><input type="submit" value="Book This Trip"
						class="formbuttonbt"></a>

			</div>


		</div>

<div class="row full-width imgrightsec">
	<div class="col-sm-6 imgrightsecinnertext">
		<h3>Family Trip to The United Kingdom and Scotland</h3>
		<p>Travelling through the British Isles is something that many people wish to do in their lifetimes. UK and Scotland
			not only have a fascinating history that dates back thousands of years, but the place are also home to both
			bucolic natural scenery and some of the world’s most vibrant.<br>
			<p style="color: red;"> London (3N) |
			    Manchester (1N) |
			    Lancaster (2N)  |
				Glasgow (3N) 
				<br></p>
		</p>
		<a href="/itineary/family/United-Kingdom-and-Scotland"><input type="submit" value="Book This Trip" class="formbuttonbt"></a>

	</div>
	<div class="col-sm-6 imgrightsecinner">
		<img src="/CSS/img/jetsave/United/bg.jpg" alt="">
		<h3 class="daytextright">8 Nights | 1 Country | 4 Cities</h3>
	</div>

</div>

<div class="row full-width imgleftsec">
	<div class="col-sm-6 imgleftsecinner">
		<img src="/CSS/img/jetsave/Egypt/bg.jpg" alt="">
		<h3 class="daytextleft">9 Nights | 1 Country | 6 Cities</h3>
	</div>
	<div class="col-sm-6 imgleftsecinnertext">
		<h3>Captivating Egypt Family Package</h3>
		<p>When it comes to Egypt, the attractions available to witness are countless. The place has a lot to offer, ranging
			from nature, to temples, to mummies, to vast pyramids. The mummies planet has an incredibly rich history which
			almost dates back to the inception of civilization and as such.<br>
			<p style="color: red;">
				Cairo (2N)  |
				 Aswan (2N) |
				 Abu Simbel (1N) 
				 | 
				 Edfu (1N)  |
				Luxor (1N) |
				 Hurghada (2N) <br>
			</p>
		</p>
		<a href="/itineary/family/Captivating-Egypt-Family"><input type="submit" value="Book This Trip" class="formbuttonbt"></a>

	</div>


</div>

<div class="row full-width imgrightsec">
	<div class="col-sm-6 imgrightsecinnertext">
		<h3>Fascinating Florida Family Package</h3>
		<p>Lumpy, exciting, multi-ethnic, excessive and unique, Florida, also known as the Sunshine State, is a stand-out
			honeymoon destination. It is a city of differences, with its striking horizon and gully like lanes, amusement
			parks, ethnic enclaves and dynamic regions.<br>
			<p style="color: red;"> Orlando (5N) |
				Miami (2N)  |
				Tampa (2N)
				
				<br></p>
		</p>
		<a href="/itineary/family/Fascinating-Florida-Family"><input type="submit" value="Book This Trip" class="formbuttonbt"></a>

	</div>
	<div class="col-sm-6 imgrightsecinner">
		<img src="/CSS/img/jetsave/Florida/banner.jpg" alt="">
		<h3 class="daytextright">9 Nights | 1 Country | 3 Cities</h3>
	</div>

</div>

<div class="row full-width imgleftsec">
	<div class="col-sm-6 imgleftsecinner">
		<img src="/CSS/img/jetsave/Golden/banner1.png" alt="">
		<h3 class="daytextleft">5 Nights | 1 Country | 3 Cities</h3>
	</div>
	<div class="col-sm-6 imgleftsecinnertext">
		<h3>Classic Golden Triangle

		</h3>
		<p>To visit the famous Golden Triangle of India is on every traveller enthusiasts bucket list. To cover and visit
			places like New Delhi, Agra, Jaipur; exploring the princely states of Rajasthan, and the mythical cities of Jaipur
			is an experience like non other. Tour the famous royal palaces, majestic forts, history filled museums, beautiful
			houses<br>
			<p style="color: red;">
				Delhi (2N) |
				Jaipur (2N) |
				Agra (1N)
				<br>
			</p>
		</p>
		<a href="/itineary/family/Classic-Golden-Triangle"><input type="submit" value="Book This Trip" class="formbuttonbt"></a>

	</div>


</div>

<div class="row full-width imgrightsec">
	<div class="col-sm-6 imgrightsecinnertext">
		<h3>Scintillating Northern Lights Experience</h3>
		<p>Few experiences on earth are just spell bounding. One of it is the magical glow of the aurora borealis, the legendary
		“northern lights.” In Norway, the phenomenon of the aurora borealis has profoundly influenced local culture and folk
		heritage. The most popular Norse legend attribute the glittering colors to light shining off the shields. <br>
			<p style="color: red;"> Helisinki (1N) |
			Rovaniemi (2N) |
			Kiruna (1N) |
			Narvik (1N) |
			Harstad (1N)|
			Tromso (2N) 

				<br></p>
		</p>
		<a href="/itineary/family/Scintillating-Northern-Lights-Experience"><input type="submit" value="Book This Trip" class="formbuttonbt"></a>

	</div>
	<div class="col-sm-6 imgrightsecinner">
		<img src="/CSS/img/jetsave/light/banner.jpg" alt="">
		<h3 class="daytextright">8 Nights | 1 Country | 6 Cities</h3>
	</div>

</div>

	</div>

</section>



	  <!-- Footer Component -->
  
	  <%- include('../partials/footer') %>

</body>

</html>
