<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Jetsave Destinations: Dreams Become Reality When You Travel</title>
    <link rel="shortcut icon" type="image/png" href="/img/logo.png" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="../assets/css/jetsavecss.css">

    <link rel="stylesheet" type="text/css" media="(max-width: 600px)" href="../assets/css/jetsave-tablet.css">

</head>

<body>

     <!-- Loading Component -->

	  <%- include('../partials/loading') %>

	  <!-- Header Component -->
  
	  <%- include('../partials/header') %>

    <!-- filter section -->

    <section>
        <div class="container-fluid mainactivbg1">
            <div class="row full-width filtercontainer">
                <div class="container text-center toptext">
                    <h3 class="tophead text-center" style="margin-bottom: 0px !important">
                        Live a Life of Arrivals and Departures
                    </h3>
                    <h1 class="bottomhead jetsaveblack" style="font-size: 2.5rem; font-size: 56px;">
                        Where Beautiful Destination are Fixed
                    </h1>
                </div>
            </div>
    </section>

    <section id="hiking">
        <div class="container-fluid full-width">
        </div>

        <div class="container full-width contmat">
            <div class="row headvity full-width">
                <h2 class="full-width" style="color: black;">We Help You Travel for Fulfilment and not Wander For
                    Destinations.</h2>
            </div>
            <div class="row full-width imgleftsec">
                <div class="col-sm-6 imgleftsecinner">
                    <img src="/image/Eastern/banner.jpg" alt="">
                    <h3 class="daytextleft">5 Nights | 1 Country | 2 Cities</h3>
                </div>
                <div class="col-sm-6 imgleftsecinnertext">
                    <h3>The Breathtaking Eastern Explorer</h3>
                    <p> If you are someone who wants to know and America’s past and tour some of its splendor, then you
                        can’t go wrong with an
                        East Coast road trip! If you have ever visited the USA or have every heard about it from
                        someone, you will know how
                        enormously big the country is. One cannot explore the country in one trip.
                        <br>
                        <p style="color: red">
                            New York (2N) |
                            Washington (2N) |
                            Niagara (1N)


                            <br></p>
                    </p>
                    <a href="/itineary/fixed-departure/The-Breathtaking-Eastern-Explorer-Tour"><input type="submit" value="Book This Trip"
                            class="formbuttonbt"></a>
                </div>

            </div>

            <div class="row full-width imgrightsec">
                <div class="col-sm-6 imgrightsecinnertext">
                    <h3>The Remarkable Western Wanderer</h3>
                    <p> California is one of the most visited destinations in the world, between Los Angles, San
                        Francisco, and a bounty of
                        National Parks and State Beaches there is something here for everyone. And not to miss is the
                        infamous Las Vegas, which
                        is the party capital and holds a lot of value and places to visit.<br>
                        <p style="color: red;">
                            Las Vegas (2N) |
                            Los Angeles (2N) |

                            San Francisco (2N) <br></p>
                    </p>
                    <a href="/itineary/fixed-departure/The-Remarkable-Western-Wanderer-Tour"><input type="submit" value="Book This Trip"
                            class="formbuttonbt"></a>
                </div>
                <div class="col-sm-6 imgrightsecinner">
                    <img src="/image/banner.jpg" alt="">
                    <h3 class="daytextright">6 Nights | 1 Country | 3 Cities </h3>
                </div>

            </div>

            <div class="row full-width imgleftsec">
                <div class="col-sm-6 imgleftsecinner">
                    <img src="/image/Orlando/Banner.jpg" alt="">
                    <h3 class="daytextleft">9 Nights | 1 Country | 4 Cities </h3>
                </div>
                <div class="col-sm-6 imgleftsecinnertext">
                    <h3>The Stupendous Eastern Explorer Tour With Orlando</h3>
                    <p> If you are someone who wants to know and America’s past and tour some of its splendor, then you
                        can’t go wrong with an
                        East Coast road trip! If you have ever visited the USA or have every heard about it from
                        someone, you will know how
                        enormously big the country<br>
                        <p style="color: red;">New York (2N) |
                            Washington (2N) |
                            Niagara (1N) |
                            Orlando (4N) <br> </p>
                    </p>
                    <a href="/itineary/fixed-departure/The-Stupendous-Eastern-Explorer-Tour-With-Orlando"><input type="submit"
                            value="Book This Trip" class="formbuttonbt"></a>

                </div>

            </div>

            <div class="row full-width imgrightsec">
                <div class="col-sm-6 imgrightsecinnertext">
                    <h3>Tour The Amazing America East to West</h3>
                    <p> Embark on a Trans-American road trip across the USA and discover the treasures of this mighty
                        continent. From cityscapes
                        and country towns to prairie lands and national parks, experience classic Americana in all her
                        glory. Travel along Route
                        66. Get ready to embark on a journey to a coast to coast adventure of America. The tour awaits.
                        <br>
                        <p style="color: red;">
                            New York (2N) |
                            Washington (3N) |
                            Niagara (1N) |
                            Las Vegas (3N) |
                            Loss Angeles (1N)
                            San Francisco (1N)

                            <br> </p>
                    </p>
                    <a href="/itineary/fixed-departure/Tour-The-Amazing-America-East-to-West"><input type="submit" value="Book This Trip"
                            class="formbuttonbt"></a>

                </div>
                <div class="col-sm-6 imgrightsecinner">
                    <img src="/image/East-Coast/banner.jpg" alt="">
                    <h3 class="daytextright">11 Nights | 1 Country | 6 Cities</h3>
                </div>

            </div>
            <div class="row full-width imgleftsec">
                <div class="col-sm-6 imgleftsecinner">
                    <img src="/image/central/S4.jpg" alt="">
                    <h3 class="daytextleft">4 Nights | 1 Countries | 2 Cities </h3>
                </div>
                <div class="col-sm-6 imgleftsecinnertext">
                    <h3>Tour The Off Beat Paths Of Central Vietnam</h3>
                    <p> Central Vietnam is the nation's most extraordinary part: one that joins and has both world class
                        beach and UNESCO
                        world's legacy site; wilderness of east-meet-west old quarter and culturally unique facets, it
                        also has profoundly
                        protected national parks and modern food. <br>
                        <p style="color: red;"><br>
                            Da Nang (2N) |

                            Hoi An (2N) </p>
                    </p>
                    <a href="/itineary/fixed-departure/Central-Highlight"><input type="submit" value="Book This Trip" class="formbuttonbt"></a>

                </div>

            </div>



            <div class="row full-width imgrightsec">
                <div class="col-sm-6 imgrightsecinnertext">
                    <h3>The Ultimate Vietnam Itinerary</h3>
                    <p>Whether you want to explore the limestone islands, munch on Banh Mi in Hoi An or just leisurely
                        stroll around the buzzy
                        markets in Ho Chi Minh City, Vietnam is one of the most vibrant and culturally rich countries in
                        Southeast Asia.
                        Vietnam’s reinvention as Southeast Asia’s most exciting tourist destination has long since been
                        complete.<br>
                        <p style="color: red;">
                            Hanoi arrival
                            Ninh Binh (4N) |

                            Da Nang (2N) |


                            Hoi An (2N) |

                            Ho Chi Minh (2N) |
                            Cu Ch (1N)


                            <br> </p>
                    </p>
                    <a href="/itineary/fixed-departure/The-Ultimate-Vietnam-Itinerary"><input type="submit" value="Book This Trip"
                            class="formbuttonbt"></a>

                </div>
                <div class="col-sm-6 imgrightsecinner">
                    <img src="/image/inside/5.jpg" alt="">
                    <h3 class="daytextright">11 Nights | 1 Country | 6 Cities</h3>
                </div>

            </div>
        </div>
    </section>

     <!-- Footer Component -->
  
	  <%- include('../partials/footer') %>

</body>

</html>