<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Jetsave Destinations: Dreams Become Reality When You Travel</title>
    <link rel="shortcut icon" type="image/png" href="/img/logo.png" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="../assets/css/jetsavecss.css">

    <link rel="stylesheet" type="text/css" media="(max-width: 600px)" href="../assets/css/jetsave-tablet.css">

</head>


<body>

     <!-- Loading Component -->

	  <%- include('../partials/loading') %>

	  <!-- Header Component -->
  
	  <%- include('../partials/header') %>

    <!-- filter section -->

    <section>
        <div class="container-fluid mainactivbg1">
            <div class="row full-width filtercontainer">
                <div class="container text-center toptext">
                    <h3 class="tophead text-center" style="margin-bottom: 0px !important">
                        Only Two Things Matter
                    </h3>
                    <h1 class="bottomhead jetsaveblack" style="font-size: 2.5rem; font-size: 56px;">
                        Travel and FriendShip
                    </h1>
                </div>
            </div>
    </section>

    <section id="hiking">
        <div class="container-fluid full-width">
        </div>

        <div class="container full-width contmat">
            <div class="row headvity full-width">
                <h2 class="full-width" style="color: black;">Life Was Meant For Great Adventures and Close Friends!</h2>
            </div>
            <div class="row full-width imgleftsec">
                <div class="col-sm-6 imgleftsecinner">
                    <img src="/CSS/img/jetsave/ladakh/banner.jpg" alt="">
                    <h3 class="daytextleft">6 Nights | 1 Country | 4 Cities</h3>
                </div>
                <div class="col-sm-6 imgleftsecinnertext">
                    <h3>Impeccable Tour of Ladakh</h3>
                    <p>If you are someone who loves to with their friends, then Ladakh should be your go-to destination.
                        Located in the North-Indian territory of Jammu and Kashmir and bounded by the Great Himalayas on
                        one side and the Karakoram range on the other, Ladakh is widely known for its awe-inspiring
                        <br>
                        <p style="color: red">Leh (4N) |

                            Nubra Valley (1N) |
                            Pangong Lake (1N)

                            <br></p>
                    </p>
                    <a href="/Impeccable-Tour-of-Ladakh"><input type="submit" value="Book This Trip"
                            class="formbuttonbt"></a>
                </div>

            </div>

            <div class="row full-width imgrightsec">
                <div class="col-sm-6 imgrightsecinnertext">
                    <h3>A Relaxed Week in Goa</h3>
                    <p>Goa is India’s most popular holiday destination. Having tropical beaches, vivid nightlife as well
                        as laid back way of living, all this combined makes it the most loved travel destination. People
                        from every nook and corner of the world come to life in Goa for some time and it is considered
                        <br>
                        <p style="color: red;">Goa (5N) <br></p>
                    </p>
                    <a href="/A-Relaxed-Week-in-Goa"><input type="submit" value="Book This Trip"
                            class="formbuttonbt"></a>
                </div>
                <div class="col-sm-6 imgrightsecinner">
                    <img src="/CSS/img/jetsave/Goa/banner.jpg" alt="">
                    <h3 class="daytextright">5 Nights | 1 Country | 1 City </h3>
                </div>

            </div>

            <div class="row full-width imgleftsec">
                <div class="col-sm-6 imgleftsecinner">
                    <img src="/CSS/img/jetsave/indo/bali4.jpg" alt="">
                    <h3 class="daytextleft">5 Nights | 1 Country | 2 Cities </h3>
                </div>
                <div class="col-sm-6 imgleftsecinnertext">
                    <h3>Tour the Natural Treasure, Indonesia</h3>
                    <p>When it comes to arranging a superb vacation in a wonderful country, Indonesia turns into the
                        favored decision of many. Without a doubt planning an Indonesia outing shocks you with a plenty
                        of natural treasures. Besides, the appealing archipelago additionally permits sharing in various
                        <br>
                        <p style="color: red;">Bali (5N)<br> </p>
                    </p>
                    <a href="/Tour-the-Natural-Treasure-Indonasia"><input type="submit" value="Book This Trip"
                            class="formbuttonbt"></a>

                </div>

            </div>

            <div class="row full-width imgrightsec">
                <div class="col-sm-6 imgrightsecinnertext">
                    <h3>Tour the Epic Land of Spain</h3>
                    <p>True to life coastlines, sensational landscapes and unparalleled horizons, is the thing that
                        makes Spain an exotic country. Spain is a colorful nation that brags of a lively and vibrant
                        legacy, loosened and relaxed way of life, cordial occupants<br>
                        <p style="color: red;">Barcelona (2N) |
                            Ibiza (2N) |
                            Palma (2N) |
                            Madrid (2N)
                            <br> </p>
                    </p>
                    <a href="/Tour-the-Epic-Land-of-Spain"><input type="submit" value="Book This Trip"
                            class="formbuttonbt"></a>

                </div>
                <div class="col-sm-6 imgrightsecinner">
                    <img src="/CSS/img/jetsave/Spain/banner.jpg" alt="">
                    <h3 class="daytextright">8 Nights | 1 Country | 4 Cities</h3>
                </div>

            </div>
            <div class="row full-width imgleftsec">
                <div class="col-sm-6 imgleftsecinner">
                    <img src="/image/AMSTERDAM/s11.jpg" alt="">
                    <h3 class="daytextleft">10 Nights | 1 Country | 5 Cities</h3>
                </div>
                <div class="col-sm-6 imgleftsecinnertext">
                    <h3>Tour the Splendid Towns of Amsterdam , Berlin, Prague & Budapest</h3>
                    <p> Experience Amsterdam's cafés, shop at the eccentric boutiques, cruise on the canals, drive past
                        windmills, try some
                        renowned Dutch Edam cheddar and purchase a pair of clog- all this being praised with the Light
                        celebration!!
                        Tour Berlin! Europe's coolest city which has an incredible blend of hip new culture just as
                        history.

                        <br>
                        <p style="color: red;"><br>
                            Amsterdam (2N) |
                            Berlin (3N) |
                            Prague (3N) |
                            Budapest (2N) </p>
                    </p>
                    <a href="/Tour-the-Splendid-Towns-of-Amsterdam"><input type="submit" value="Book This Trip"
                            class="formbuttonbt"></a>

                </div>

            </div>



            <div class="row full-width imgrightsec">
                <div class="col-sm-6 imgrightsecinnertext">
                    <h3>Wonderful West Coast Tour</h3>
                    <p> USA - the land of glorious history, amazing possibilities and world's greatest cities! Hop on
                        board a magical tour with
                        us to the West Coast of this country. Visit the entertainment capital of the world - Las Vegas,
                        explore the sights of
                        Los Angeles and be amazed by wonderful San Francisco. Think world-class cities, rugged beaches,
                        ancient forests and
                        <br>
                        <p style="color: red;">
                            San Francisco (2N) |
                            Las Vegas (2N) |
                            Los Angeles (2N)
                            <br> </p>
                    </p>
                    <a href="/Wonderful-West-Coast-Tour"><input type="submit" value="Book This Trip"
                            class="formbuttonbt"></a>

                </div>
                <div class="col-sm-6 imgrightsecinner">
                    <img src="/image/West-Coast/4.jpg" alt="">
                    <h3 class="daytextright">6 Nights | 1 Country | 3 Cities</h3>
                </div>

            </div>



            <div class="row full-width imgleftsec">
                <div class="col-sm-6 imgleftsecinner">
                    <img src="/image/Croatia/banner.jpg" alt="">
                    <h3 class="daytextleft">7 Nights | 1 Country | 5 Cities</h3>
                </div>
                <div class="col-sm-6 imgleftsecinnertext">
                    <h3>Tour The Paradise of Croatia</h3>
                    <p> It's about time that you make your way toward the paradise that is Croatia. Sea shores with
                        perfectly clear water
                        combined with stunningly well-safeguarded old towns that are sure to make your trip to Croatia
                        one you'll never forget.
                        It is becoming an ever more popular European destination year after year as it has firmly
                        cemented its beautiful

                        <br>
                        <p style="color: red;"><br>
                            Dubrovnik (2N) |
                            Ston (1N) |
                            Split Area (1N) |
                            National Park Plitvice (2N) |
                            Zagreb (1N)</p>
                    </p>
                    <a href="/croatia"><input type="submit" value="Book This Trip" class="formbuttonbt"></a>

                </div>

            </div>


            <!-- <div class="row full-width imgrightsec">
                    <div class="col-sm-6 imgrightsecinnertext">
                        <h3>A Trip To The Wildlife Hub, South Africa</h3>
                        <p> South Africa has raced to the top of many travelers' must-visit lists. The place is stuffed with stunning places, cool
                        cities, and the world famous African wildlife, the country without a doubt has it all. South Africa is sure to capture
                        everyone’s hearts forever and years later it. It is a place where you can spot majestic animals like elephants and lions
                        up close in the wild, indulge in a fantastic food scene that brings close the best cities around the world. When in this
                        place, you can admire thee stunning coastline, sip mouthwatering local wines, head on a road trip,<br>
                            <p style="color: red;">
                                Johannesburg (2N) |
                                Mossel Bay (2N) |
                                Cape Town (3N)
                                <br> </p>
                        </p>
                        <a href="/A-Trip-To-The-Wildlife-Hub-South-Africa"><input type="submit" value="Book This Trip" class="formbuttonbt"></a>
                
                    </div>
                    <div class="col-sm-6 imgrightsecinner">
                        <img src="/image/south/banner.jpg" alt="">
                        <h3 class="daytextright">7 Nights | 1 Country | 3 Cities</h3>
                    </div>
                
                </div> -->


        </div>



    </section>

 <!-- Footer Component -->
  
 <%- include('../partials/footer') %>

</body>

</html>