<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Jetsave Destinations: Dreams Become Reality When You Travel</title>
    <link rel="shortcut icon" type="image/png" href="/img/logo.png" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="../assets/css/packagecategory.css">

    <link rel="stylesheet" type="text/css" media="(max-width: 600px)" href="../assets/css/jetsave-tablet.css">

</head>


<body>

     <!-- Loading Component -->

	  <%- include('../partials/loading') %>

	  <!-- Header Component -->
  
	  <%- include('../partials/header') %>

    <!-- filter section -->

    <section>
        <div class="container-fluid mainactivbg1">
            <div class="row full-width filtercontainer">
                <div class="container text-center toptext">
                    <h3 class="tophead text-center" style="margin-bottom: 0px !important">
                        Love is the food of life,
                    </h3>
                    <h1 class="bottomhead jetsaveblack" style="font-size: 2.5rem; font-size: 56px;">
                        Travel is the dessert
                    </h1>
                </div>
            </div>
    </section>

    <section id="hiking">
        <div class="container-fluid full-width">
        </div>
    
        <div class="container full-width contmat">
            <div class="row headvity full-width">
                <h2 class="full-width" style="color: black;">Making You Stay Together Even Then You Are Far From Home
                </h2>
            </div>
            <div class="row full-width imgleftsec">
                <div class="col-sm-6 imgleftsecinner">
                    <img src="/CSS/img/jetsave/Kashmir/header_kashmir.jpg" alt="">
                    <h3 class="daytextleft">5 Nights | 1 Country | 3 Cities</h3>
                </div>
                <div class="col-sm-6 imgleftsecinnertext">
                    <h3>Jammu and Kashmir</h3>
                    <p>What could be a better way than to mark love and togetherness of two individuals than with Jammu
                        and
                        Kashmir
                        honeymoon itinerary? The romantically beautiful climate and delightful landscapes of this spot
                        will
                        flawlessly.
                        <br>
                        <p style="color: red">Srinagar (3N) |
                            Pahalgam (1N) |
                            Gulmarg (1N)<br></p>
                    </p>
                    <a href="/itineary/honeymoon/Itineraries-Jammu-and-Kashmir"><input type="submit" value="Book This Trip"
                            class="formbuttonbt"></a>
                </div>
    
            </div>
    
            <div class="row full-width imgrightsec">
                <div class="col-sm-6 imgrightsecinnertext">
                    <h3>Greece Honeymoon Package</h3>
                    <p>Greece is a beautiful place that has all possible elements to make a honeymoon unforgettable;
                        making it the top
                        most and the most popular choice among newlyweds. It is a place filled with history.
                        <br>
                        <p style="color: red;"> Athens (1N) | Mykonos (3N) | Santorini (3N)<br></p>
                    </p>
                    <a href="/itineary/honeymoon/Itineraries-Greece-Honeymoon-Packages"><input type="submit" value="Book This Trip"
                            class="formbuttonbt"></a>
                </div>
                <div class="col-sm-6 imgrightsecinner">
                    <img src="/CSS/img/jetsave/Greece/head_greece.jpg" alt="">
                    <h3 class="daytextright">7 Nights | 1 Country | 2 Cities | 1 Island</h3>
                </div>
    
            </div>
    
            <div class="row full-width imgleftsec">
                <div class="col-sm-6 imgleftsecinner">
                    <img src="/CSS/img/jetsave/seychelles/header_sey.jpg" alt="">
                    <h3 class="daytextleft">6 Nights | 1 Country | 5 Islands</h3>
                </div>
                <div class="col-sm-6 imgleftsecinnertext">
                    <h3>Blissful Seychelles Honeymoon Package</h3>
                    <p>Seychelles is an archipelago of 155 islands, extended in a jeweled bow from the equator to the
                        tip of Madagascar.
                        Around 85 of the all out islands are simply loud seabird settlements and this archipelago.<br>
                        <p style="color: red;">Praslin (3N) |
                            Mahe (3N)<br> </p>
                    </p>
                    <a href="/itineary/honeymoon/Itineraries-Blissful-Seychelles-Honeymoon-Package"><input type="submit"
                            value="Book This Trip" class="formbuttonbt"></a>
    
                </div>
    
            </div>
    
            <div class="row full-width imgrightsec">
                <div class="col-sm-6 imgrightsecinnertext">
                    <h3>Exotic And Romantic Andaman Tour</h3>
                    <p>Andaman Island is a paradise for beach and nature lovers.
                        Every year, thousands of tourists visit the island to explore its abundant natural beauty and
                        unspoiled beaches.
    
                        <br>
                        <p style="color: red;">Port Blair (4N) |
                            Havelock Island (1N) |
                            Neil Island (1N) <br> </p>
                    </p>
                    <a href="/itineary/honeymoon/Itineraries-Exotic-And-Romantic-Andaman-Tour"><input type="submit" value="Book This Trip"
                            class="formbuttonbt"></a>
    
                </div>
                <div class="col-sm-6 imgrightsecinner">
                    <img src="https://image.freepik.com/free-photo/water-beach-background-andaman-tropical_1203-3901.jpg"
                        alt="">
                    <h3 class="daytextright">6 Nights | 1 Country | 3 Islands</h3>
                </div>
    
            </div>
            <div class="row full-width imgleftsec">
                <div class="col-sm-6 imgleftsecinner">
                    <img src="/CSS/img/jetsave/Australia/header_aus.jpg" alt="">
                    <h3 class="daytextleft">11 Nights | 2 Countries | 2 Cities 1 Island</h3>
                </div>
                <div class="col-sm-6 imgleftsecinnertext">
                    <h3>Romantic Getaway Vacation to Fiji and Australia</h3>
                    <p>If you are planning your honeymoon, you can think of cruising. If you start thinking so, you
                        can't resist the
                        urge to think about a puff of wind caught by the sails as a pontoon coasts along the skyline in
                        untamed
                        water.
                        <br>
                        <p style="color: red;"><br>
                            Davui Island (7N) | Sydney (4N) </p>
                    </p>
                    <a href="/itineary/honeymoon/Itineraries-Romantic-Getaway-Vacation-to-Fiji-and-Australia"><input type="submit"
                            value="Book This Trip" class="formbuttonbt"></a>
    
                </div>
    
            </div>
            <div class="row full-width imgrightsec">
                <div class="col-sm-6 imgrightsecinnertext">
                    <h3>Romantic and Soothing Munnar and Alleppey Honeymoon Package</h3>
                    <p>Gift your partner this amazing and elegant 5 nights and 6 days Kerala honeymoon tour package,
                        crafted exclusively
                        for newlyweds.
    
                        <br>
                        <p style="color: red;">Kochi (1N) |
                            Munnar (1N) |
                            Thekkady (1N) |
                            Alleppey (1N) |
                            <br> </p>
                    </p>
                    <a href="/itineary/honeymoon/Soothing-Munnar-and-Alleppey-Honeymoon"><input type="submit" value="Book This Trip"
                            class="formbuttonbt"></a>
    
                </div>
                <div class="col-sm-6 imgrightsecinner">
                    <img src="/CSS/img/jetsave/Munnar/banner.jpg" alt="">
                    <h3 class="daytextright">4
                        Nights | 1 Country | 4 Cities</h3>
                </div>
    
            </div>
            <div class="row full-width imgleftsec">
                <div class="col-sm-6 imgleftsecinner">
                    <img src="/CSS/img/jetsave/Italy/banner.jpg" alt="">
                    <h3 class="daytextleft">9 Nights | 1 Country | 2 Cities 1 Island</h3>
                </div>
                <div class="col-sm-6 imgleftsecinnertext">
                    <h3>The Most Exquisite Italy Honeymoon Tour</h3>
                    <p>Italy is definitely known as the queen of the honeymoon destinations in the world. The place is
                        stuffed with
                        romantic cities and beautiful regions, which can be discovered throughout the most important
                        trip of your life.
                        <br>
                        <p style="color: red;"><br>
                            Rome (2N) |
                            Naples (2N) |
                            Amalfi Coast (1N) |
                            Florence (2N) |
                            Venice (2N) </p>
                    </p>
                    <a href="/itineary/honeymoon/The-Most-Exquisite-Italy"><input type="submit" value="Book This Trip"
                            class="formbuttonbt"></a>
    
                </div>
    
            </div>
            <div class="row full-width imgrightsec">
                <div class="col-sm-6 imgrightsecinnertext">
                    <h3>Tropical Honeymoon in Rio de Janeiro</h3>
                    <p>Honeymooners after a vacation of fun in the sun will experience passionate feelings for Rio de
                        Janeiro. Rio's
                        shorelines are dreams and picturesque white sand flawlessness, and Rio's evolved shoreline
                        culture commends
                        cheerful pleasure.
                        <br>
                        <p style="color: red;">Rio (5N)
    
                            <br> </p>
                    </p>
                    <a href="/itineary/honeymoon/Tropical-Honeymoon-in-Rio"><input type="submit" value="Book This Trip"
                            class="formbuttonbt"></a>
    
                </div>
                <div class="col-sm-6 imgrightsecinner">
                    <img src="/CSS/img/jetsave/Rio/banner.jpg" alt="">
                    <h3 class="daytextright">5 Nights | 1 Country | 1 City</h3>
                </div>
    
            </div>
            <div class="row full-width imgleftsec">
                <div class="col-sm-6 imgleftsecinner">
                    <img src="/CSS/img/jetsave/Maldives/banner.jpg" alt="">
                    <h3 class="daytextleft">4 Nights | 1 Country | 2 Cities | 1 Island</h3>
                </div>
                <div class="col-sm-6 imgleftsecinnertext">
                    <h3>Idyllic Honeymoon Package For Maldives</h3>
                    <p>The Maldives, a tropical paradise of impeccable shorelines, is an archipelago of more than
                        thousand coral islands
                        assembled into regular atolls, out of which just a couple are occupied.
                        <br>
                        <p style="color: red;"><br>
                            Maldives (4N) </p>
                    </p>
                    <a href="/itineary/honeymoon/Idyllic-Honeymoon-Package-For-Maldives"><input type="submit" value="Book This Trip"
                            class="formbuttonbt"></a>
    
                </div>
    
            </div>
            <div class="row full-width imgrightsec">
                <div class="col-sm-6 imgrightsecinnertext">
                    <h3>Krabi Phuket Honeymoon Package</h3>
                    <p>Planning a honeymoon is a lot fun compared to planning a marriage. You merely have one honeymoon,
                        well a minimum of
                        that is what you hope for, thus build it epic! Plan a Kingdom of Thailand honeymoon!
                        <br>
                        <p style="color: red;">
                            Phuket (3N) |
                            Krabi (2N)
                            <br></p>
                    </p>
                    <a href="/itineary/honeymoon/Krabi-Phuket-Honeymoon-Package"><input type="submit" value="Book This Trip"
                            class="formbuttonbt"></a>
                </div>
                <div class="col-sm-6 imgrightsecinner">
                    <img src="/CSS/img/jetsave/Thai/4.jpg" alt="">
                    <h3 class="daytextright">5 Nights | 1 Country | 1 Cities | 1 Island</h3>
                </div>
    
            </div>
        </div>
    
    
    
    </section>

<!-- mobile view -->
    <section id="hiking-mobile">
        <div class="container-fluid full-width">
        </div>

        <div class="container full-width contmat">
            <div class="row headvity full-width">
                <h2 class="full-width" style="color: black;">Making You Stay Together Even Then You Are Far From Home
                </h2>
            </div>
            <div class="row full-width imgleftsec">
                <div class="col-sm-6 imgleftsecinner">
                    <img src="/CSS/img/jetsave/Kashmir/header_kashmir.jpg" alt="">
                    <h3 class="daytextleft">5 Nights | 1 Country | 3 Cities</h3>
                </div>
                <div class="col-sm-6 imgleftsecinnertext">
                    <h3>Jammu and Kashmir</h3>
                    <p>What could be a better way than to mark love and togetherness of two individuals than with Jammu
                        and
                        Kashmir
                        honeymoon itinerary? The romantically beautiful climate and delightful landscapes of this spot
                        will
                        flawlessly.
                        <br>
                        <p style="color: red">Srinagar (3N) |
                            Pahalgam (1N) |
                            Gulmarg (1N)<br></p>
                    </p>
                    <a href="/itineary/honeymoon/Itineraries-Jammu-and-Kashmir"><input type="submit" value="Book This Trip"
                            class="formbuttonbt"></a>
                </div>

            </div>

            <div class="row full-width imgleftsec">
                <div class="col-sm-6 imgleftsecinner">
                    <img src="/CSS/img/jetsave/Greece/head_greece.jpg" alt="">
                    <h3 class="daytextleft">7 Nights | 1 Country | 2 Cities | 1 Island</h3>
                </div>
                <div class="col-sm-6 imgleftsecinnertext">
                    <h3>Greece Honeymoon Package</h3>
                    <p>Greece is a beautiful place that has all possible elements to make a honeymoon unforgettable;
                        making it the top
                        most and the most popular choice among newlyweds. It is a place filled with history.
                        <br>
                        <p style="color: red;"> Athens (1N) | Mykonos (3N) | Santorini (3N)<br></p>
                    </p>
                    <a href="/itineary/honeymoon/Itineraries-Greece-Honeymoon-Packages"><input type="submit" value="Book This Trip"
                            class="formbuttonbt"></a>
                </div>
                

            </div>

            <div class="row full-width imgleftsec">
                <div class="col-sm-6 imgleftsecinner">
                    <img src="/CSS/img/jetsave/seychelles/header_sey.jpg" alt="">
                    <h3 class="daytextleft">6 Nights | 1 Country | 5 Islands</h3>
                </div>
                <div class="col-sm-6 imgleftsecinnertext">
                    <h3>Blissful Seychelles Honeymoon Package</h3>
                    <p>Seychelles is an archipelago of 155 islands, extended in a jeweled bow from the equator to the
                        tip of Madagascar.
                        Around 85 of the all out islands are simply loud seabird settlements and this archipelago.<br>
                        <p style="color: red;">Praslin (3N) |
                            Mahe (3N)<br> </p>
                    </p>
                    <a href="/itineary/honeymoon/Itineraries-Blissful-Seychelles-Honeymoon-Package"><input type="submit"
                            value="Book This Trip" class="formbuttonbt"></a>

                </div>

            </div>

            <div class="row full-width imgleftsec">
                <div class="col-sm-6 imgleftsecinner">
                    <img src="https://image.freepik.com/free-photo/water-beach-background-andaman-tropical_1203-3901.jpg"
                        alt="">
                    <h3 class="daytextleft">6 Nights | 1 Country | 3 Islands</h3>
                </div>
                <div class="col-sm-6 imgleftsecinnertext">
                    <h3>Exotic And Romantic Andaman Tour</h3>
                    <p>Andaman Island is a paradise for beach and nature lovers.
                        Every year, thousands of tourists visit the island to explore its abundant natural beauty and
                        unspoiled beaches.

                        <br>
                        <p style="color: red;">Port Blair (4N) |
                            Havelock Island (1N) |
                            Neil Island (1N) <br> </p>
                    </p>
                    <a href="/itineary/honeymoon/Itineraries-Exotic-And-Romantic-Andaman-Tour"><input type="submit" value="Book This Trip"
                            class="formbuttonbt"></a>

                </div>
                

            </div>
            <div class="row full-width imgleftsec">
                <div class="col-sm-6 imgleftsecinner">
                    <img src="/CSS/img/jetsave/Australia/header_aus.jpg" alt="">
                    <h3 class="daytextleft">11 Nights | 2 Countries | 2 Cities 1 Island</h3>
                </div>
                <div class="col-sm-6 imgleftsecinnertext">
                    <h3>Romantic Getaway Vacation to Fiji and Australia</h3>
                    <p>If you are planning your honeymoon, you can think of cruising. If you start thinking so, you
                        can't resist the
                        urge to think about a puff of wind caught by the sails as a pontoon coasts along the skyline in
                        untamed
                        water.
                        <br>
                        <p style="color: red;"><br>
                            Davui Island (7N) | Sydney (4N) </p>
                    </p>
                    <a href="/itineary/honeymoon/Itineraries-Romantic-Getaway-Vacation-to-Fiji-and-Australia"><input type="submit"
                            value="Book This Trip" class="formbuttonbt"></a>

                </div>

            </div>
            <div class="row full-width imgleftsec">
                <div class="col-sm-6 imgleftsecinner">
                    <img src="/CSS/img/jetsave/Munnar/banner.jpg" alt="">
                    <h3 class="daytextleft">4
                        Nights | 1 Country | 4 Cities</h3>
                </div>
                <div class="col-sm-6 imgleftsecinnertext">
                    <h3>Romantic and Soothing Munnar and Alleppey Honeymoon Package</h3>
                    <p>Gift your partner this amazing and elegant 5 nights and 6 days Kerala honeymoon tour package,
                        crafted exclusively
                        for newlyweds.

                        <br>
                        <p style="color: red;">Kochi (1N) |
                            Munnar (1N) |
                            Thekkady (1N) |
                            Alleppey (1N) |
                            <br> </p>
                    </p>
                    <a href="/itineary/honeymoon/Soothing-Munnar-and-Alleppey-Honeymoon"><input type="submit" value="Book This Trip"
                            class="formbuttonbt"></a>

                </div>
               

            </div>
            <div class="row full-width imgleftsec">
                <div class="col-sm-6 imgleftsecinner">
                    <img src="/CSS/img/jetsave/Italy/banner.jpg" alt="">
                    <h3 class="daytextleft">9 Nights | 1 Country | 2 Cities 1 Island</h3>
                </div>
                <div class="col-sm-6 imgleftsecinnertext">
                    <h3>The Most Exquisite Italy Honeymoon Tour</h3>
                    <p>Italy is definitely known as the queen of the honeymoon destinations in the world. The place is
                        stuffed with
                        romantic cities and beautiful regions, which can be discovered throughout the most important
                        trip of your life.
                        <br>
                        <p style="color: red;"><br>
                            Rome (2N) |
                            Naples (2N) |
                            Amalfi Coast (1N) |
                            Florence (2N) |
                            
                            Venice (2N) </p>
                    </p>
                    <a href="/itineary/honeymoon/The-Most-Exquisite-Italy"><input type="submit" value="Book This Trip"
                            class="formbuttonbt"></a>

                </div>

            </div>
            <div class="row full-width imgleftsec">
                <div class="col-sm-6 imgleftsecinner">
                    <img src="/CSS/img/jetsave/Rio/banner.jpg" alt="">
                    <h3 class="daytextleft">5 Nights | 1 Country | 1 City</h3>
                </div>
                <div class="col-sm-6 imgleftsecinnertext">
                    <h3>Tropical Honeymoon in Rio de Janeiro</h3>
                    <p>Honeymooners after a vacation of fun in the sun will experience passionate feelings for Rio de
                        Janeiro. Rio's
                        shorelines are dreams and picturesque white sand flawlessness, and Rio's evolved shoreline
                        culture commends
                        cheerful pleasure.
                        <br>
                        <p style="color: red;">Rio (5N)

                            <br> </p>
                    </p>
                    <a href="/itineary/honeymoon/Tropical-Honeymoon-in-Rio"><input type="submit" value="Book This Trip"
                            class="formbuttonbt"></a>

                </div>
                

            </div>
            <div class="row full-width imgleftsec">
                <div class="col-sm-6 imgleftsecinner">
                    <img src="/CSS/img/jetsave/Maldives/banner.jpg" alt="">
                    <h3 class="daytextleft">4 Nights | 1 Country | 2 Cities | 1 Island</h3>
                </div>
                <div class="col-sm-6 imgleftsecinnertext">
                    <h3>Idyllic Honeymoon Package For Maldives</h3>
                    <p>The Maldives, a tropical paradise of impeccable shorelines, is an archipelago of more than
                        thousand coral islands
                        assembled into regular atolls, out of which just a couple are occupied.
                        <br>
                        <p style="color: red;"><br>
                            Maldives (4N) </p>
                    </p>
                    <a href="/itineary/honeymoon/Idyllic-Honeymoon-Package-For-Maldives"><input type="submit" value="Book This Trip"
                            class="formbuttonbt"></a>

                </div>

            </div>
            <div class="row full-width imgleftsec">
                <div class="col-sm-6 imgleftsecinner">
                    <img src="/CSS/img/jetsave/Thai/4.jpg" alt="">
                    <h3 class="daytextleft">5 Nights | 1 Country | 1 Cities | 1 Island</h3>
                </div>
                <div class="col-sm-6 imgleftsecinnertext">
                    <h3>Krabi Phuket Honeymoon Package</h3>
                    <p>Planning a honeymoon is a lot fun compared to planning a marriage. You merely have one honeymoon,
                        well a minimum of
                        that is what you hope for, thus build it epic! Plan a Kingdom of Thailand honeymoon!
                        <br>
                        <p style="color: red;">
                            Phuket (3N) |
                            Krabi (2N)
                            <br></p>
                    </p>
                    <a href="/itineary/honeymoon/Krabi-Phuket-Honeymoon-Package"><input type="submit" value="Book This Trip"
                            class="formbuttonbt"></a>
                </div>
                

            </div>
        </div>



    </section>

 <!-- Footer Component -->
  
 <%- include('../partials/footer') %>


   
</html>