<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Jetsave Destinations: Dreams Become Reality When You Travel</title>
    <link rel="shortcut icon" type="image/png" href="/img/logo.png" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="../assets/css/packagecategory.css">

    <link rel="stylesheet" type="text/css" media="(max-width: 600px)" href="../assets/css/jetsave-tablet.css">

</head>
<body>

     <!-- Loading Component -->

	  <%- include('../partials/loading') %>

	  <!-- Header Component -->
  
	  <%- include('../partials/header') %>

       
        <!-- filter section -->

        <section>
            <div class="container-fluid mainactivbg1">
                <div class="row full-width filtercontainer">
                    <div class="container text-center toptext">
                        <h3 class="tophead text-center" style="margin-bottom: 0px !important">
                            Travel Solo And Discover
                        </h3>
                        <h1 class="bottomhead jetsaveblack" style="font-size: 2.5rem; font-size: 56px;">
                            How Capable You Are
                        </h1>
                    </div>
                </div>
        </section>

        <section id="hiking">
            <div class="container-fluid full-width">
            </div>
        
            <div class="container full-width contmat">
                <div class="row headvity full-width">
                    <h2 class="full-width" style="color: black;">Some Journeys in Life Can Only be Traveled Alone</h2>
                </div>
                <div class="row full-width imgleftsec">
                    <div class="col-sm-6 imgleftsecinner">
                        <img src="/CSS/img/jetsave/srilanka/banner.jpg" alt="">
                        <h3 class="daytextleft">7 Nights | 1 Country | 4 Cities</h3>
                    </div>
                    <div class="col-sm-6 imgleftsecinnertext">
                        <h3>Best 1 Week Sri Lanka Itinerary</h3>
                        <p>Sri Lanka the island country is the best place that offers an exciting mix of cultural
                            sights, wildlife, and sweeping
                            beaches washed by warm waters of the Indian Ocean. There are a lot of reasons that compels
                            one to visit Sri Lanka. The
                            place offers an interesting variety of activities and landscapes that are a joy to
                            discover.<br>
                            <p style="color: red">Colombo (1N) |
                                Kandy (2N) |
                                Nuwara Eliya (2N) |
                                Bentota (2N)
        
                                <br></p>
                        </p>
                        <a href="/itineary/solo/Best-1-Week-Sri-Lanka-Itinerary"><input type="submit" value="Book This Trip"
                                class="formbuttonbt"></a>
                    </div>
        
                </div>
        
                <div class="row full-width imgrightsec">
                    <div class="col-sm-6 imgrightsecinnertext">
                        <h3>Tour the Enchanting Settings of Portugal</h3>
                        <p>Portugal is a place that has landed squarely on the travel radar, attracting many visitors
                            from around the world. The
                            place is a graceful blend of old-world European charm, insightful landmarks, and scrumptious
                            food. The place has the
                            oldest known borders in Europe and captures an amalgamation of ancient architecture.<br>
                            <p style="color: red;">Lisbon (5N) <br></p>
                        </p>
                        <a href="/itineary/solo/Tour-the-Enchanting-Setting-of-Portuga"><input type="submit" value="Book This Trip"
                                class="formbuttonbt"></a>
                    </div>
                    <div class="col-sm-6 imgrightsecinner">
                        <img src="/CSS/img/jetsave/port/banner.jpg" alt="">
                        <h3 class="daytextright">5 Nights | 1 Country | 1 City</h3>
                    </div>
        
                </div>
        
                <div class="row full-width imgleftsec">
                    <div class="col-sm-6 imgleftsecinner">
                        <img src="/CSS/img/jetsave/austria/img1.jpg" alt="">
                        <h3 class="daytextleft">8 Nights | 1 Country | 3 Cities</h3>
                    </div>
                    <div class="col-sm-6 imgleftsecinnertext">
                        <h3>A Mesmerizing Trip to Central Europe</h3>
                        <p>Austria is one of the more beautiful yet underrated countries in Europe. The place has
                            beautiful quaint towns, epic
                            scenery and arguably the world’s best opera house! The country is filled with culture,
                            cuisine and countryside. Once in
                            this place, you will be blown down by the beauty and variety of this small but spectacular
                            country.<br>
                            <p style="color: red">Prague (2N) |
                                Vienna (3N) |
                                Budapest (3N) |
        
        
                                <br></p>
                        </p>
                        <a href="/itineary/solo/A-Memorable-Trip-to-Austria"><input type="submit" value="Book This Trip"
                                class="formbuttonbt"></a>
                    </div>
        
                </div>
        
        
        
                <div class="row full-width imgrightsec">
                    <div class="col-sm-6 imgrightsecinnertext">
                        <h3>Tour The Splendorous Turkey</h3>
                        <p> An interesting blend of ancient and modern, where East meets West, Turkey is one of the most
                            amazing countries on the
                            planet. It boasts and brags all different types of natural scenes: mountains, lakes, sea,
                            rivers and waterfalls along
                            with thermal hot springs and forests! It has the ideal blend of authentic and modern day
                            urban cities.<br>
                            <p style="color: red;">
                                Istanbul (2N) |
                                Cappadocia (2N) |
                                Antalya (2N) <br></p>
                        </p>
                        <a href="/itineary/solo/Tour-The-Splendorous-Turkey"><input type="submit" value="Book This Trip"
                                class="formbuttonbt"></a>
                    </div>
                    <div class="col-sm-6 imgrightsecinner">
                        <img src="/image/Turkey/s14.jpg" alt="">
                        <h3 class="daytextright">6 Nights | 1 Country | 3 Cities</h3>
                    </div>
        
                </div>
        
        
                <div class="row full-width imgleftsec">
                    <div class="col-sm-6 imgleftsecinner">
                        <img src="/image/Scan/s8.jpg" alt="">
                        <h3 class="daytextleft">7 Nights | 1 Country | 6 Cities</h3>
                    </div>
                    <div class="col-sm-6 imgleftsecinnertext">
                        <h3>A One-Week Scandinavian Itinerary</h3>
                        <p> Wanting to stay away from the midsummer warmth of the Mediterranean? Scandinavia is the spot
                            to go. You'll discover
                            dynamic urban communities, shocking scenes, and you'll get the chance to invest some energy
                            cruising the oceans if you
                            try and follow our suggested itinerary. Our Scandinavia map shows the itinerary route.
                            architecture.<br>
                            <p style="color: red">
                                Copenhagen (1N) |
                                Aarhus (1N) |
                                Stavanger (1N) |
                                Bergen (1N) |
                                Oslo (1N) |
                                Stockholm (2N)
        
                                <br></p>
                        </p>
                        <a href="/itineary/solo/A-One-Week-Scandinavian"><input type="submit" value="Book This Trip"
                                class="formbuttonbt"></a>
                    </div>
        
                </div>
        
        
                <div class="row full-width imgrightsec">
                    <div class="col-sm-6 imgrightsecinnertext">
                        <h3>A Trip To The Wildlife Hub, South Africa</h3>
                        <p> South Africa has raced to the top of many travelers' must-visit lists. The place is stuffed
                            with stunning
                            places, cool
                            cities, and the world famous African wildlife, the country without a doubt has it all. South
                            Africa is sure
                            to capture
                            <br>
                            <p style="color: red;">
                                Johannesburg (2N) |
                                Mossel Bay (2N) |
                                Cape Town (3N)
                                <br> </p>
                        </p>
                        <a href="/itineary/solo/A-Trip-To-The-Wildlife-Hub-South-Africa"><input type="submit" value="Book This Trip"
                                class="formbuttonbt"></a>
        
                    </div>
                    <div class="col-sm-6 imgrightsecinner">
                        <img src="/image/south/s4.jpg" alt="">
                        <h3 class="daytextright">7 Nights | 1 Country | 3 Cities</h3>
                    </div>
        
                </div>
        
            </div>
        
        
        </section>

        <!-- mobile view -->
        <section id="hiking-mobile">
            <div class="container-fluid full-width">
            </div>

            <div class="container full-width contmat">
                <div class="row headvity full-width">
                    <h2 class="full-width" style="color: black;">Some Journeys in Life Can Only be Traveled Alone</h2>
                </div>
                <div class="row full-width imgleftsec">
                    <div class="col-sm-6 imgleftsecinner">
                        <img src="/CSS/img/jetsave/srilanka/banner.jpg" alt="">
                        <h3 class="daytextleft">7 Nights | 1 Country | 4 Cities</h3>
                    </div>
                    <div class="col-sm-6 imgleftsecinnertext">
                        <h3>Best 1 Week Sri Lanka Itinerary</h3>
                        <p>Sri Lanka the island country is the best place that offers an exciting mix of cultural
                            sights, wildlife, and sweeping
                            beaches washed by warm waters of the Indian Ocean. There are a lot of reasons that compels
                            one to visit Sri Lanka. The
                            place offers an interesting variety of activities and landscapes that are a joy to
                            discover.<br>
                            <p style="color: red">Colombo (1N) |
                                Kandy (2N) |
                                Nuwara Eliya (2N) |
                                Bentota (2N)

                                <br></p>
                        </p>
                        <a href="/itineary/solo/Best-1-Week-Sri-Lanka-Itinerary"><input type="submit" value="Book This Trip"
                                class="formbuttonbt"></a>
                    </div>

                </div>

                <div class="row full-width imgleftsec">
                    <div class="col-sm-6 imgleftsecinner">
                        <img src="/CSS/img/jetsave/port/banner.jpg" alt="">
                        <h3 class="daytextleft">5 Nights | 1 Country | 1 City</h3>
                    </div>
                    <div class="col-sm-6 imgleftsecinnertext">
                        <h3>Tour the Enchanting Settings of Portugal</h3>
                        <p>Portugal is a place that has landed squarely on the travel radar, attracting many visitors
                            from around the world. The
                            place is a graceful blend of old-world European charm, insightful landmarks, and scrumptious
                            food. The place has the
                            oldest known borders in Europe and captures an amalgamation of ancient architecture.<br>
                            <p style="color: red;">Lisbon (5N) <br></p>
                        </p>
                        <a href="/itineary/solo/Tour-the-Enchanting-Setting-of-Portuga"><input type="submit" value="Book This Trip"
                                class="formbuttonbt"></a>
                    </div>
                    

                </div>

                <div class="row full-width imgleftsec">
                    <div class="col-sm-6 imgleftsecinner">
                        <img src="/CSS/img/jetsave/austria/img1.jpg" alt="">
                        <h3 class="daytextleft">8 Nights | 1 Country | 3 Cities</h3>
                    </div>
                    <div class="col-sm-6 imgleftsecinnertext">
                        <h3>A Mesmerizing Trip to Central Europe</h3>
                        <p>Austria is one of the more beautiful yet underrated countries in Europe. The place has
                            beautiful quaint towns, epic
                            scenery and arguably the world’s best opera house! The country is filled with culture,
                            cuisine and countryside. Once in
                            this place, you will be blown down by the beauty and variety of this small but spectacular
                            country.<br>
                            <p style="color: red">Prague (2N) |
                                Vienna (3N) |
                                Budapest (3N) |


                                <br></p>
                        </p>
                        <a href="/itineary/solo/A-Memorable-Trip-to-Austria"><input type="submit" value="Book This Trip"
                                class="formbuttonbt"></a>
                    </div>

                </div>



                <div class="row full-width imgleftsec">
                    <div class="col-sm-6 imgleftsecinner">
                        <img src="/image/Turkey/s14.jpg" alt="">
                        <h3 class="daytextleft">6 Nights | 1 Country | 3 Cities</h3>
                    </div>
                    <div class="col-sm-6 imgleftsecinnertext">
                        <h3>Tour The Splendorous Turkey</h3>
                        <p> An interesting blend of ancient and modern, where East meets West, Turkey is one of the most
                            amazing countries on the
                            planet. It boasts and brags all different types of natural scenes: mountains, lakes, sea,
                            rivers and waterfalls along
                            with thermal hot springs and forests! It has the ideal blend of authentic and modern day
                            urban cities.<br>
                            <p style="color: red;">
                                Istanbul (2N) |
                                Cappadocia (2N) |
                                Antalya (2N) <br></p>
                        </p>
                        <a href="/itineary/solo/Tour-The-Splendorous-Turkey"><input type="submit" value="Book This Trip"
                                class="formbuttonbt"></a>
                    </div>
                   

                </div>


                <div class="row full-width imgleftsec">
                    <div class="col-sm-6 imgleftsecinner">
                        <img src="/image/Scan/s8.jpg" alt="">
                        <h3 class="daytextleft">7 Nights | 1 Country | 6 Cities</h3>
                    </div>
                    <div class="col-sm-6 imgleftsecinnertext">
                        <h3>A One-Week Scandinavian Itinerary</h3>
                        <p> Wanting to stay away from the midsummer warmth of the Mediterranean? Scandinavia is the spot
                            to go. You'll discover
                            dynamic urban communities, shocking scenes, and you'll get the chance to invest some energy
                            cruising the oceans if you
                            try and follow our suggested itinerary. Our Scandinavia map shows the itinerary route.
                            architecture.<br>
                            <p style="color: red">
                                Copenhagen (1N) |
                                Aarhus (1N) |
                                Stavanger (1N) |
                                Bergen (1N) |
                                Oslo (1N) |
                                Stockholm (2N)

                                <br></p>
                        </p>
                        <a href="/itineary/solo/A-One-Week-Scandinavian"><input type="submit" value="Book This Trip"
                                class="formbuttonbt"></a>
                    </div>

                </div>


                <div class="row full-width imgleftsec">
                    <div class="col-sm-6 imgleftsecinner">
                        <img src="/image/south/s4.jpg" alt="">
                        <h3 class="daytextleft">7 Nights | 1 Country | 3 Cities</h3>
                    </div>
                    <div class="col-sm-6 imgleftsecinnertext">
                        <h3>A Trip To The Wildlife Hub, South Africa</h3>
                        <p> South Africa has raced to the top of many travelers' must-visit lists. The place is stuffed
                            with stunning
                            places, cool
                            cities, and the world famous African wildlife, the country without a doubt has it all. South
                            Africa is sure
                            to capture
                            <br>
                            <p style="color: red;">
                                Johannesburg (2N) |
                                Mossel Bay (2N) |
                                Cape Town (3N)
                                <br> </p>
                        </p>
                        <a href="/itineary/solo/A-Trip-To-The-Wildlife-Hub-South-Africa"><input type="submit" value="Book This Trip"
                                class="formbuttonbt"></a>

                    </div>
                   

                </div>

            </div>


        </section>
 <!-- Footer Component -->
  
 <%- include('../partials/footer') %>

    </body>
</html>