<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Jetsave Destinations: Dreams Become Reality When You Travel</title>
        <link rel="shortcut icon" type="image/png" href="/img/logo.png" />
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
        <link rel="stylesheet" type="text/css" href="../assets/css/jetsavecss.css">
    
        <link rel="stylesheet" type="text/css" media="(max-width: 600px)" href="../assets/css/jetsave-tablet.css">
            
    </head>

<body>

     <!-- Loading Component -->

	  <%- include('../partials/loading') %>

	  <!-- Header Component -->
  
	  <%- include('../partials/header') %>
       
        <!-- filter section -->

        <section>
            <div class="container-fluid mainactivbg1">
                <div class="row full-width filtercontainer">
                    <div class="container text-center toptext">
                        <h3 class="tophead text-center" style="margin-bottom: 0px !important">
                            Let your faith
                        </h3>
                        <h1 class="bottomhead jetsaveblack" style="font-size: 2.5rem; font-size: 56px;">
                            Be bigger than your fears
                        </h1>
                    </div>
                </div>
        </section>

        <section id="hiking">
            <div class="container-fluid full-width">
            </div>

            <div class="container full-width contmat">
                <div class="row headvity full-width">
                    <h2 class="full-width" style="color: black;">The journey from home to God is what life is all about. </h2>
                </div>
                <div class="row full-width imgleftsec">
                    <div class="col-sm-6 imgleftsecinner">
                        <img src="../buddha/banner.jpg" alt="">
                        <h3 class="daytextleft">9 Nights | 1 Country | 6 City</h3>
                    </div>
                    <div class="col-sm-6 imgleftsecinnertext">
                        <h3>The Enlightening Buddha Circuit Tour</h3>
                        <p>In the Mahaparinirvana sutra, the Buddha tells his supporters that they can achieve merit and
                            an honorable rebirth by going on a pilgrimage journey to the places where he was born
                            Lumbini, picked up enlightenment Bodhgaya , first instructed Sarnath, and accomplished
                            Nirvana Kushinagar .<br>
                            <p style="color: red">
                                Delhi (2N) |
                                Gaya (1N) |
                                Varanasi (2N) |
                                Kushinagar (2N) |
                                Lumbani (1N) |
                                Patna (1N)

                                <br></p>
                        </p>
                        <a href="/The-Enlightening-Buddha-Circuit-Tour"><input type="submit" value="Book This Trip"
                                class="formbuttonbt"></a>
                    </div>

                </div>

                <div class="row full-width imgrightsec">
                    <div class="col-sm-6 imgrightsecinnertext">
                        <h3>The Majestic Buddha Circuit Tour</h3>
                        <p>India is the biggest secular country in the World, in India each religion is respected and
                            reserved similarly and so with the citizens. Buddhism is the fourth biggest religion in the
                            World, with having followers something about 7% of worldwide populace. India is a lucky
                            nation because the origin of this loved religion lies in the middle of it. Buddhist Circuit
                            Tour is a major attractions of these tourist places to visit in India.<br>
                            <p style="color: red;">
                                Delhi (2N) |
                                Gaya (2N) |
                                Varanasi (2N)

                                <br></p>
                        </p>
                        <a href="/Itinerary-Buddhist-Circuit-2"><input type="submit" value="Book This Trip"
                                class="formbuttonbt"></a>
                    </div>
                    <div class="col-sm-6 imgrightsecinner">
                        <img src="../buddha/banner-1.jpg" alt="">
                        <h3 class="daytextright">6 Nights | 1 Country | 3 City </h3>
                    </div>

                </div>




            </div>
            </div>



        </section>
 <!-- Footer Component -->
  
 <%- include('../partials/footer') %>

</body>

</html>