<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Jetsave Destinations: Dreams Become Reality When You Travel</title>
	<link rel="shortcut icon" type="image/png" href="/img/logo.png" />
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

		<link rel="stylesheet" type="text/css" href="../assets/css/packagecategory.css">

	<link rel="stylesheet" type="text/css" media="(max-width: 600px)" href="../assets/css/jetsave-tablet.css">

</head>



<body>

	 <!-- Loading Component -->

	 <%- include('../partials/loading') %>

	 <!-- Header Component -->
 
	 <%- include('../partials/header') %>


	<!-- filter section -->

	<section>
		<div class="container-fluid mainactivbg1">
			<div class="row full-width filtercontainer">
				<div class="container text-center toptext">
					<h3 class="tophead text-center" style="margin-bottom: 0px !important">
						Life is Either a
					</h3>
					<h1 class="bottomhead jetsaveblack" style="font-size: 2.5rem; font-size: 56px;">
						Daring Adventure or Nothing
					</h1>
				</div>
			</div>
	</section>



	<section id="hiking">
		<div class="container-fluid full-width">
		</div>
	
		<div class="container full-width contmat">
			<div class="row headvity full-width">
				<h2 class="full-width" style="color: black;">Travel and Come Close to Natures Most Exquisite Handiwork,
					Wildlife!</h2>
			</div>
			<div class="row full-width imgleftsec">
				<div class="col-sm-6 imgleftsecinner">
					<img src="/CSS/img/jetsave/gir/banner.jpg" alt="">
					<h3 class="daytextleft">2 Nights | 1 Country | 1 City</h3>
				</div>
				<div class="col-sm-6 imgleftsecinnertext">
					<h3>Ahmedabad Gir Package</h3>
					<p>India is the only fortunate country in the world that claims both lion and tiger among its native
						fauna. Located in the
						Junagadh district of Gujarat.<br>
						<p style="color: red">
							Arrive Ahmedabad – Sasan Gir (1N) |
							Gir National Park (1N) |
							Sasan Gir – Junagadh – Ahmedabad (1D)
	
							<br></p>
					</p>
					<a href="/itineary/wildlife/Ahmedabad-Gir-Package"><input type="submit" value="Book This Trip"
							class="formbuttonbt"></a>
				</div>
	
			</div>
	
			<div class="row full-width imgrightsec">
				<div class="col-sm-6 imgrightsecinnertext">
					<h3>Explore Wildlife at Jim Corbett in a Jeep Safari</h3>
					<p>Having a glimpse of India’s most popular national park Corbett is no more a matter of hassle.
						Keeping in mind your
						classy taste of travelling and sighting wildlife from close proximity.<br>
						<p style="color: red;">Delhi – Corbett (1N) |
							Dhikala – Corbett (1N) |
							Dhikala – Corbett (1N) |
							Corbett – Delhi <br></p>
					</p>
					<a href="/itineary/wildlife/Explore-Wildlife-at-Jim-Corbett-in-a-Jeep-Safari"><input type="submit"
							value="Book This Trip" class="formbuttonbt"></a>
				</div>
				<div class="col-sm-6 imgrightsecinner">
					<img src="/CSS/img/jetsave/jim/banner2.jpg" alt="">
					<h3 class="daytextright">3 Nights | 1 Country | 1 City </h3>
				</div>
	
			</div>
	
			<div class="row full-width imgleftsec">
				<div class="col-sm-6 imgleftsecinner">
					<img src="/CSS/img/jetsave/ran/banner42.png" alt="">
					<h3 class="daytextleft">5 Nights | 1 Country | 3 Cities </h3>
				</div>
				<div class="col-sm-6 imgleftsecinnertext">
					<h3>Explore the Wilderness in Ranthambhore National Park</h3>
					<p>Glorious trees spread across beautifully along with a large number of blossoming flowers gracing
						the southwest coast.
						<br>
						<p style="color: red;">Delhi (1N) | Sawai Madhopur (1N) |
							Ranthambore (3N) <br> </p>
					</p>
					<a href="/itineary/wildlife/Explore-the-Wilderness-in-Ranthambhore-National-Park"><input type="submit"
							value="Book This Trip" class="formbuttonbt"></a>
	
				</div>
	
			</div>
	
			<div class="row full-width imgrightsec">
				<div class="col-sm-6 imgrightsecinnertext">
					<h3>Tour the nature's excellence and enchanting wildlife at Kanha and Pench National Park</h3>
					<p>Sal and bamboo backwoods, moving fields and twisted streams altogether captivate passionate
						wildlife and nature darlings
						alike at Kanha. <br>
						<p style="color: red;">
							Nagpur (1N) |
							Pench National Park (2N) |
							Khana National Park (2N)
							<br> </p>
					</p>
					<a href="/itineary/wildlife/Tour-the-natures-excellence-enchanting-wildlife-at-Kanha-and-Pench-National-Park"><input
							type="submit" value="Book This Trip" class="formbuttonbt"></a>
	
				</div>
				<div class="col-sm-6 imgrightsecinner">
					<img src="/CSS/img/jetsave/rep/baneer.jpg" alt="">
					<h3 class="daytextright">5 Nights | 1 Country | 2 Wildlide Sanctuaries</h3>
				</div>
	
			</div>
			<div class="row full-width imgleftsec">
				<div class="col-sm-6 imgleftsecinner">
					<img src="/CSS/img/jetsave/cochin/banner.jpg" alt="">
					<h3 class="daytextleft">5 Nights | 1 Country | 3 Cities</h3>
				</div>
				<div class="col-sm-6 imgleftsecinnertext">
					<h3>Fascinating Wildlife Experience of Kerala</h3>
					<p>IWhen ones think of Kerala, and the thought that strikes the mind involves, sun-kissed beaches,
						beautiful backwater, and rejuvenating Ayurvedic therapies.<br>
						<p style="color: red;"><br>
							Cochin (1N) | Thekkady (1N) | Kumarakom (2N) | Alleppey (1N)</p>
					</p>
					<a href="/itineary/wildlife/Fascinating-Wildlife-Experience-of-Kerala"><input type="submit" value="Book This Trip"
							class="formbuttonbt"></a>
	
				</div>
	
			</div>
		</div>
	
	
	
	</section>


<!-- mobile view -->
	<section id="hiking-mobile">
		<div class="container-fluid full-width">
		</div>

		<div class="container full-width contmat">
			<div class="row headvity full-width">
				<h2 class="full-width" style="color: black;">Travel and Come Close to Natures Most Exquisite Handiwork,
					Wildlife!</h2>
			</div>
			<div class="row full-width imgleftsec">
				<div class="col-sm-6 imgleftsecinner">
					<img src="/CSS/img/jetsave/gir/banner.jpg" alt="">
					<h3 class="daytextleft">2 Nights | 1 Country | 1 City</h3>
				</div>
				<div class="col-sm-6 imgleftsecinnertext">
					<h3>Ahmedabad Gir Package</h3>
					<p>India is the only fortunate country in the world that claims both lion and tiger among its native
						fauna. Located in the
						Junagadh district of Gujarat.<br>
						<p style="color: red">
							Arrive Ahmedabad – Sasan Gir (1N) |
							Gir National Park (1N) |
							Sasan Gir – Junagadh – Ahmedabad (1D)

							<br></p>
					</p>
					<a href="/itineary/wildlife/Ahmedabad-Gir-Package"><input type="submit" value="Book This Trip"
							class="formbuttonbt"></a>
				</div>

			</div>

			<div class="row full-width imgleftsec">
				<div class="col-sm-6 imgleftsecinner">
					<img src="/CSS/img/jetsave/jim/banner2.jpg" alt="">
					<h3 class="daytextleft">3 Nights | 1 Country | 1 City </h3>
				</div>
				<div class="col-sm-6 imgleftsecinnertext">
					<h3>Explore Wildlife at Jim Corbett in a Jeep Safari</h3>
					<p>Having a glimpse of India’s most popular national park Corbett is no more a matter of hassle.
						Keeping in mind your
						classy taste of travelling and sighting wildlife from close proximity.<br>
						<p style="color: red;">Delhi – Corbett (1N) |
							Dhikala – Corbett (1N) |
							Dhikala – Corbett (1N) |
							Corbett – Delhi <br></p>
					</p>
					<a href="/itineary/wildlife/Explore-Wildlife-at-Jim-Corbett-in-a-Jeep-Safari"><input type="submit"
							value="Book This Trip" class="formbuttonbt"></a>
				</div>
				

			</div>

			<div class="row full-width imgleftsec">
				<div class="col-sm-6 imgleftsecinner">
					<img src="/CSS/img/jetsave/ran/banner42.png" alt="">
					<h3 class="daytextleft">5 Nights | 1 Country | 3 Cities </h3>
				</div>
				<div class="col-sm-6 imgleftsecinnertext">
					<h3>Explore the Wilderness in Ranthambhore National Park</h3>
					<p>Glorious trees spread across beautifully along with a large number of blossoming flowers gracing
						the southwest coast.
						<br>
						<p style="color: red;">Delhi (1N) | Sawai Madhopur (1N) |
							Ranthambore (3N) <br> </p>
					</p>
					<a href="/itineary/wildlife/Explore-the-Wilderness-in-Ranthambhore-National-Park"><input type="submit"
							value="Book This Trip" class="formbuttonbt"></a>

				</div>

			</div>

			<div class="row full-width imgleftsec">
				<div class="col-sm-6 imgleftsecinner">
					<img src="/CSS/img/jetsave/rep/baneer.jpg" alt="">
					<h3 class="daytextleft">5 Nights | 1 Country | 2 Wildlide Sanctuaries</h3>
				</div>
				<div class="col-sm-6 imgleftsecinnertext">
					<h3>Tour the nature's excellence and enchanting wildlife at Kanha and Pench National Park</h3>
					<p>Sal and bamboo backwoods, moving fields and twisted streams altogether captivate passionate
						wildlife and nature darlings
						alike at Kanha. <br>
						<p style="color: red;">
							Nagpur (1N) |
							Pench National Park (2N) |
							Khana National Park (2N)
							<br> </p>
					</p>
					<a href="/itineary/wildlife/Tour-the-natures-excellence-enchanting-wildlife-at-Kanha-and-Pench-National-Park"><input
							type="submit" value="Book This Trip" class="formbuttonbt"></a>

				</div>
				

			</div>
			<div class="row full-width imgleftsec">
				<div class="col-sm-6 imgleftsecinner">
					<img src="/CSS/img/jetsave/cochin/banner.jpg" alt="">
					<h3 class="daytextleft">5 Nights | 1 Country | 3 Cities</h3>
				</div>
				<div class="col-sm-6 imgleftsecinnertext">
					<h3>Fascinating Wildlife Experience of Kerala</h3>
					<p>IWhen ones think of Kerala, and the thought that strikes the mind involves, sun-kissed beaches,
						beautiful backwater, and rejuvenating Ayurvedic therapies.<br>
						<p style="color: red;"><br>
							Cochin (1N) | Thekkady (1N) | Kumarakom (2N) | Alleppey (1N)</p>
					</p>
					<a href="/itineary/wildlife/Fascinating-Wildlife-Experience-of-Kerala"><input type="submit" value="Book This Trip"
							class="formbuttonbt"></a>

				</div>

			</div>
		</div>



	</section>

	 <!-- Footer Component -->
  
	 <%- include('../partials/footer') %>

</body>
</html>