<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Jetsave Destinations: Dreams Become Reality When You Travel</title>
        <link rel="shortcut icon" type="image/png" href="/img/logo.png" />
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
        <link rel="stylesheet" type="text/css" href="../../assets/css/packagecategory.css">
    
        <link rel="stylesheet" type="text/css" media="(max-width: 600px)" href="../../assets/css/jetsave-tablet.css">
            
    </head>

<body>

	  <!-- Loading Component -->

	  <%- include('../partials/loading') %>

	  <!-- Header Component -->
  
	  <%- include('../partials/header') %>
    <!-- filter section -->

    <section>
        <div class="container-fluid mainactivbg1">
            <div class="row full-width filtercontainer">
                <div class="container text-center toptext">
                    <h3 class="tophead text-center" style="margin-bottom: 0px !important">
                        Rajisthan Tours
                    </h3>
                    <h1 class="bottomhead jetsaveblack" style="font-size: 2.5rem; font-size: 56px;">
                         
                    </h1>
                </div>
            </div>
    </section>


    <section id="hiking">
        <div class="container-fluid full-width">
        </div>
    
        <div class="container full-width contmat">
            <div class="row headvity full-width">
                <h2 class="full-width" style="color: black;"></h2>
            </div>
            <div class="row full-width imgleftsec">
                <div class="col-sm-6 imgleftsecinner">
                    <img src="/CSS/img/jetsave/Golden/banner1.png" alt="">
                    <h3 class="daytextleft">6 Nights | 1 Country | 3 Cities</h3>
                </div>
                <div class="col-sm-6 imgleftsecinnertext">
                    <h3>Classic Golden Triangle
            
                    </h3>
                    <p>To visit the famous Golden Triangle of India is on every traveller enthusiasts bucket list. To cover and visit
                        places like New Delhi, Agra, Jaipur; exploring the princely states of Rajasthan, and the mythical cities of Jaipur
                        is an experience like non other. Tour the famous royal palaces, majestic forts, history filled museums, beautiful
                        houses<br>
                        <p style="color: red;">
                            Delhi (2N) |
                            Jaipur (2N) |
                            Agra (2N)
                            <br>
                        </p>
                    </p>
                    <a href="/itineary/family/Classic-Golden-Triangle"><input type="submit" value="Book This Trip" class="formbuttonbt"></a>
            
                </div>
            
            
            </div>
    
    
            <div class="row full-width imgrightsec">
                <div class="col-sm-6 imgrightsecinnertext">
                    <h3>Princely Rajasthan</h3>
                    <p>This Princely Rajasthan Tour will surely help you explore this princely state that is full of palatial splendour,
                        ancient forts and zestful culture. Every city in Rajasthan has its own charm that is sure to spellbound you. This trip encompasses all the elements of India that makes it unique in persona, to any other
                        country. Visit the spellbinding lakes and palaces of Udaipur and traverses through amazing.<br>
                    <p style="color: red;">Delhi(2N) |
                        Mandawa(1N) |
                        Bikaner(1N) |
                        Jaislamer(2N) |
                        Jodhpur(2N) |
                        Udaipur(2N) |
                        Jaipur(2N) |
                        Agra(1N)<br></p>
                    </p>
                    <a href="/itineary/family/Itineraries-Princely-Rajasthan"><input type="submit" value="Book This Trip" class="formbuttonbt"></a>
    
                </div>
                <div class="col-sm-6 imgrightsecinner">
                    <img src="/CSS/img/jetsave/Rajasthan/main.jpg" alt="">
                    <h3 class="daytextright">12 Nights | 1 Country | 11 Cities</h3>
                </div>
    
            </div>
    
            
    
    

    
    
        </div>
    
    
    
    </section>

    <section id="hiking-mobile">
        <div class="container-fluid full-width">
        </div>

        <div class="container full-width contmat">
            <div class="row headvity full-width">
                <h2 class="full-width" style="color: black;"></h2>
            </div>
            <div class="row full-width imgleftsec">
                <div class="col-sm-6 imgleftsecinner">
                    <img src="/CSS/img/jetsave/Golden/banner1.png" alt="">
                    <h3 class="daytextleft">6 Nights | 1 Country | 3 Cities</h3>
                </div>
                <div class="col-sm-6 imgleftsecinnertext">
                    <h3>Classic Golden Triangle
            
                    </h3>
                    <p>To visit the famous Golden Triangle of India is on every traveller enthusiasts bucket list. To cover and visit
                        places like New Delhi, Agra, Jaipur; exploring the princely states of Rajasthan, and the mythical cities of Jaipur
                        is an experience like non other. Tour the famous royal palaces, majestic forts, history filled museums, beautiful
                        houses<br>
                        <p style="color: red;">
                            Delhi (2N) |
                            Jaipur (2N) |
                            Agra (2N)
                            <br>
                        </p>
                    </p>
                    <a href="/itineary/family/Classic-Golden-Triangle"><input type="submit" value="Book This Trip" class="formbuttonbt"></a>
            
                </div>
            
            
            </div>


            <div class="row full-width imgrightsec">
                <div class="col-sm-6 imgrightsecinner">
                    <img src="/CSS/img/jetsave/Rajasthan/main.jpg" alt="">
                    <h3 class="daytextright">12 Nights | 1 Country | 11 Cities</h3>
                </div>
                <div class="col-sm-6 imgrightsecinnertext">
                    <h3>Princely Rajasthan</h3>
                    <p>This Princely Rajasthan Tour will surely help you explore this princely state that is full of palatial splendour,
                        ancient forts and zestful culture. Every city in Rajasthan has its own charm that is sure to spellbound you. This trip encompasses all the elements of India that makes it unique in persona, to any other
                        country. Visit the spellbinding lakes and palaces of Udaipur and traverses through amazing.<br>
                    <p style="color: red;">Delhi(2N) |
                        Mandawa(1N) |
                        Bikaner(1N) |
                        Jaislamer(2N) |
                        Jodhpur(2N) |
                        Udaipur(2N) |
                        Jaipur(2N) |
                        Agra(1N)<br></p>
                    </p>
                    <a href="/itineary/family/Itineraries-Princely-Rajasthan"><input type="submit" value="Book This Trip" class="formbuttonbt"></a>
    
                </div>
               
    
            </div>
        </div>



    </section>


    <!-- Footer section -->
  
 <%- include('../partials/footer') %>


</body>

</html>
