<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Jetsave Theme Packages: Dreams Become Reality When You Travel</title>
        <link rel="shortcut icon" type="image/png" href="/img/logo.png" />
        <!-- KJquery CDN -->
        <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    
        <link rel="stylesheet" type="text/css" href="../assets/css/jetsavecss.css">
        <link rel="stylesheet" type="text/css" href="../assets/css/mobile.css">
        <link rel="stylesheet" type="text/css" href="../assets/css/austrailadestination.css">
    
        <link rel="stylesheet" type="text/css" media="(max-width: 600px)" href="../assets/css/jetsave-tablet.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    </head>
    
    <body>
        
        <!-- Loading Component -->

	<%- include('../partials/loading') %>

	<!-- Header Component -->

	<%- include('../partials/header') %>

        <div class="conatiner indiabackgroundimage" style="height:80vh;">
            <h1>'The Magnificent Australia'</h1>
        </div>


        <div class="container-fluid">
            <div class="row">
                <div class="col-6 india-images" style="margin-bottom: 50px;">
                    <div class="image-thailand image">
                        <a href="/itineary/honeymoon/Itineraries-Romantic-Getaway-Vacation-to-Fiji-and-Australia"> <img
                                src="/image/collagess/Australia.png" alt="jetsave"></a>
                        <div class="itinaeary-detail">
                            <p>If you are planning your honeymoon, you can think of cruising. If you start thinking so,
                                you can't resist the urge to think about a puff of wind caught by the sails as a pontoon
                                coasts along the skyline in untamed water with islands that spots the skyline. Spend
                                your honeymoon in the most romantic manner and have a sentimental get-away to Fiji and
                                Australia. </p>
                        </div>
                    </div>

                </div>
                <div class="col-sm-12 col-lg-6">

                    <svg id="australia" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1130.32 1002.69">
                        <defs>
                            <style>
                                .cls-1 {
                                    fill: #e6e6e6;
                                }

                                .cls-2 {
                                    fill: #4d4d4d;
                                }
                            </style>
                        </defs>
                        <title>australia -01</title>
                        <a href="/itineary/honeymoon/Itineraries-Romantic-Getaway-Vacation-to-Fiji-and-Australia"><path class="cls-1 austraila"
                            d="M1099.65,507.84c4.75-3.56-2.37-22.52-6.53-19.56s-4.14-29.67-1.17-44.47,1.17-13.06-6.53-5.36-16-14.8-17.8-20.75-10.68-22.52-20.75-20.15-3.56-14.25-13-12.45-11.27-13.67-9.5-27.87-6.52-3-10.67-8.89-8.89-1.2-15.43,1.17-8.3-12.44-6.52-18.4-1.18-13-10.08-19.55-9.49-11.88-8.89-19.59-50.41-33.8-61.67-36.17-1.78-14.23-6.54-18.36S898,217.85,898,204.81s-16.6-17.2-16-27.88-4.74-20.75-3.56-32.63-17.2-14.8-17.78-21.3-10.69-.6-20.76.59-9.48-13.06-8.3-26.7-4.16-36.16-12.46-42.68-8.89-29.07-13-32.63-17.8,11.88-17.22,19.56-1.16,16.62-6.5,21.36,3.56,23.14-3.57,29.67-.58,32.6-2.36,47.43-1.2,30.84-8.31,40.91-8.29,26.11-22.54,31.44S712.4,206,713,198.28,697.56,185.82,689.26,187s-13-10.68-26.09-20.76-23.12,2.36-27.29-9.49-8.28-13.63-17.79-20.15-6.51-6.52,2.39-13,7.12-14.83,2.36-22.54,5.34-5.92,17.21-12.47,0-14.22,8.9-17.77,3.56-11.27-5.94-13-6.52,9.49-10.08,10.66-7.12-14.82-10.09-14.21-14.21,16-20.16,8.29-39.14-14.24-52.19-16S533.31,28.08,525.59,31s1.18,8.31,10.07,17.79S506,64.84,494.75,61.3s1.78,8.29-7.7,7.69-11.27,16-19,24.32-2.38,14.23-10.69,19.57-8.89,11.26,1.2,22.54-4.75,11.87-13.66,3-17.78-8.88-17.18,1.2-10.67,5.35-8.9-5.92-12.45-6-14.81-12.47-14.84-17.2-22.56-16.6-7.69,8.91-15.41,8.91-9.49,4.13-8.31,12.44-11.83-.6-20.76.6,0,11.25-4.73,11.84-4.74,8.91-12.46,8.91-6.51,17.17-5.32,26.08-11.88-4.15-19.58-1.76,1.79,10.07,4.14,20.16-4.14,9.48-8.3,13.64S280,194.17,280,185.28s-10.07-.59-20.74,10.66,3.56,28.48-1.19,31.43-26.1,23.15-38.55,38-39.14,5.94-47.44,13.07-17.2,1.76-25.51,8.28-23.71,19-25.49,11.27-23.13-1.76-32,7.72S66,323.41,55.9,324s-10.08,16-14.22,19.56-3-12.48-3-16.6-9.49,7.11-13.63,19.55,10.07,17.2,1.19,30.25S9.05,402.87,21.52,419.5s19.55,27.27,15.41,35.55-13-16.6-16-13.61,11.28,13.61,7.72,19-16.33-20.18-19-14.24c-2.38,5.36,26.68,45.67,27.29,60.48s23.71,29.07,22.54,50.42,20.16,55.76,23.72,61.08-8.31,19.57-6,35.58S71.87,675.7,61.8,675.7s-4.14,16.62,7.1,17.79S76,702.4,88.48,710.71,130.61,716,140.71,716s13-15.43,26.69-16,12.44-4.75,19-13.08,37.36-5.92,68.8-4.12,45-7.7,49.8-20.8c4.06-11.12,26.69-11.83,35.59-20.15s16.61-8.88,39.74-7.71S424.77,622.9,439.6,617s42.11-3.56,56.34-7.12,16.6,17.77,32.6,16S551.68,630.62,560,630s7.12,5.92,15.42,7.7,7.12,8.9,1.79,16.62,12.44,7.11,23.72,22.52.58,17.79,6.53,29.66,10.07,8.89,21.93-7.71,24.9-5.92,26.68-20.15,14.25-30.85,22.55-23.72-5.94,10.64-11.28,38-14.81,13-16.6,20.73,24.9,11.87,24.9-2.37,4.76-20.76,14.84-7.72-5.94,23.75-3.56,29.68,13.64-1.8,19.58-1.2C717,733.05,731.4,756.3,729,768.77s-5.92,24.29,14.23,34.41S755.68,815,770.51,815s45.67,11.87,54,19,29.65-5.35,33.79-19.59,19.58-.57,11.28,4.15,4.16,16,4.74,8.31,4.16-14.23,7.12-5.32,13.65,8.89,17.79,16,8.9,12.44,8.9,6.51S910.5,832.8,920,829.23s15.42-10.08,25.5-18.39,51.59-10.08,55.75-10.08,6.52-35.56,8.88-54,17.8-21.36,20.17-40.92,23.12-55.74,28.47-57.52,15.43-7.11,16-18.39,14.24-23.7,14.24-37.31,7.71-29.67,6.52-33.8-5.94-17.23,3-26.71S1094.89,511.4,1099.65,507.84ZM505.43,43.51C504.24,36.39,462,44.6,471,51.8,477,56.55,506.61,50.63,505.43,43.51ZM638.86,745.65c6.53,5.92,28.46,4.16,32-4.15S633,740.36,638.86,745.65Zm268,164.85c-16,1.8-40-14.56-45.67-13-6.53,1.76,20.77,42.68,12.47,53.35s24.3,39.75,35.58,41.51,7.1-11.27,14.81-10.67,4.76-7.72,6-13.65,8.89,6.53,15.41,3S943.63,942,953.12,942,955,911.13,952,901.05s-29.06,7.69-45.09,9.45Z" /></a>
                        <path class="cls-2"
                            d="M323.7,468.58H299.35l-4.73,15.91h-20l26.71-81.88h10.18v.06l.06-.06h10.18l26.77,81.88h-20ZM303.7,454h15.58l-7.65-25.42h-.33Z" />
                        <path class="cls-2"
                            d="M420.48,402.61V455.7q0,14.06-9.33,22t-24.35,7.95q-15.14,0-24.52-7.95t-9.39-22V402.61H372V455.7q0,7.59,3.94,11.47t10.91,3.88q6.91,0,10.77-3.85t3.85-11.5V402.61Z" />
                        <path class="cls-2"
                            d="M475.32,462.78a8.18,8.18,0,0,0-2.87-6.72q-2.86-2.32-10.41-5-15.24-4.95-22.63-10.55T432,424.43q0-10.29,8.61-16.65t21.87-6.35q14,0,22.56,6.55t8.26,18.47l-.11.34H474.75q0-5.79-3.15-8.41t-9.5-2.61q-5.18,0-8.15,2.53a7.87,7.87,0,0,0-3,6.24,6.75,6.75,0,0,0,3.07,5.77q3.06,2.16,11.44,5.42Q479.7,440,487,446t7.31,16.64q0,10.8-8.43,16.9t-22.38,6.1q-13.89,0-23.54-6.55t-9.36-20.61l.11-.34h18.5q0,7.14,3.52,10.15t10.77,3q6,0,8.88-2.36A7.57,7.57,0,0,0,475.32,462.78Z" />
                        <path class="cls-2" d="M561.64,417.23H540v67.26H521V417.23H499.72V402.61h61.92Z" />
                        <path class="cls-2"
                            d="M588.35,453.11v31.38h-19V402.61h28.51q14.22,0,22.55,6.58t8.32,18a18,18,0,0,1-3.34,10.91,23.74,23.74,0,0,1-9.87,7.42q7.53,2.13,10.82,7.11a22,22,0,0,1,3.29,12.4v5.18a32.75,32.75,0,0,0,1,7.31c.64,2.74,1.74,4.69,3.32,5.85v1.12H614.28q-2.25-1.74-2.92-6.13a54.35,54.35,0,0,1-.68-8.26v-5q0-5.85-3.09-9t-9.06-3.09Zm0-14.62H598q5.75,0,8.77-2.62t3-7.5a10.8,10.8,0,0,0-3.12-8.07q-3.12-3.07-8.8-3.07h-9.51Z" />
                        <path class="cls-2"
                            d="M685.65,468.58H661.3l-4.73,15.91h-20l26.71-81.88h10.18v.06l.06-.06H683.7l26.77,81.88h-20Zm-20-14.63h15.58l-7.65-25.42h-.34Z" />
                        <path class="cls-2" d="M735.31,469.87h35.14v14.62H716.3V402.61h19Z" />
                        <path class="cls-2" d="M800.77,484.49h-19V402.61h19Z" />
                        <path class="cls-2"
                            d="M858.86,468.58H834.51l-4.72,15.91h-20l26.71-81.88h10.18v.06l.05-.06h10.18l26.77,81.88h-20ZM838.9,454h15.57l-7.64-25.42h-.34Z" />
                    </svg>
                </div>
            </div>
        </div>


        <!-- <div class="container ftrditi1">
            <main>
                <h1>Featured Itineraries</h1>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="card-thai">
                            <div class="card-thai-body">
                                <h5 class="card-title">Krabi Phuket Honeymoon</h5>
                                <p class="card-text" style="color: white;">
                                    Planning a honeymoon is a lot fun compared to planning a marriage. You merely have
                                    one honeymoon, well a minimum of that is what you hope for, thus build it epic! Plan
                                    a Kingdom of Thailand honeymoon! Head to some of the best beaches in Kingdom of
                                    Thailand, or relax within the Thai jungle.</p>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card-sing">
                            <div class="card-sing-body">
                                <h5 class="card-title">Cultural Pot, Singapore</h5>
                                <p class="card-text" style="color: white;">
                                    The ideal town for people living with a continuing thirst for wanderlust, Singapore
                                    is known for its iconic attractions. This mini-nation on the tip of the Malay
                                    Peninsula defies the region’s usual stereotypes, and is, in many ways, the complete
                                    opposite of its popular neighbors. Be it the Wings of Time</p>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card-inside">
                            <div class="card-inside-body">
                                <h5 class="card-title">The Ultimate Vietnam</h5>
                                <p class="card-text" style="color: white;">
                                    Whether you want to explore the limestone islands,
                                    munch on Banh Mi in Hoi An or just leisurely stroll around
                                    the buzzy markets in Ho Cho Minh City, Vietnam is one of the
                                    most vibrant and culturally rich countries in Southeast Asia.</p>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card-central">
                            <div class="card-central-body">
                                <h5 class="card-title">Tour The Off Beat Paths Of Central Vietnam</h5>
                                <p class="card-text" style="color: white;">Central Vietnam is the nation's most
                                    extraordinary part: one that joins and has both world class beach and UNESCO world's
                                    legacy site; wilderness of east-meet-west old quarter and culturally unique facets,
                                    it also has profoundly protected national parks and modern food. The place is loaded
                                    up with majestic urban areas, regal tombs</p>

                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div> -->

<!-- Footer Component -->

<%- include('../partials/footer') %>
        
    </body>

</html>