<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Jetsave Theme Packages: Dreams Become Reality When You Travel</title>
        <link rel="shortcut icon" type="image/png" href="/img/logo.png" />
        <!-- KJquery CDN -->
        <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    
        <link rel="stylesheet" type="text/css" href="../assets/css/jetsavecss.css">
        <link rel="stylesheet" type="text/css" href="../assets/css/mobile.css">
        <link rel="stylesheet" type="text/css" href="../assets/css/middleeastdestination.css">
    
        <link rel="stylesheet" type="text/css" media="(max-width: 600px)" href="../assets/css/jetsave-tablet.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    </head>

    <body>

        <!-- Loading Component -->

	<%- include('../partials/loading') %>

	<!-- Header Component -->

	<%- include('../partials/header') %>
       
        <div class="conatiner indiabackgroundimage" style="height:80vh;">
            <h1>'The Futuristic Desert'</h1>
        </div>


        <div class="container-fluid">
            <div class="row">
                <div class="col-6 india-images">
                    <div class="image-america image">
                        <a href="/itineary/family/Itineraries-Astounding-Dubai-Honeymoon-Package"><img src="/image/collagess/Dubai.png"
                                alt="jetsave"></a>
                        <div class="itinaeary-detail">
                            <p> If you are planning to visit the charismatic city of Dubai, then a stay of about 6 days
                                is the best amount of time to squeeze all of the tourism juices out of this illustrious
                                middle eastern gem. Dubai is filled with luxury to breathtaking architecture.</p>
                        </div>
                    </div>

                </div>
                <div class="col-sm-12 col-lg-6">

                    <svg id="Middel_East_Asia" data-name="Middel East Asia" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 792.04 706.49">
                        <defs>
                            <style>
                                .cls-1,
                                .cls-2 {
                                    fill: #e6e6e6;
                                }

                                .cls-2 {
                                    stroke: #fff;
                                }

                                .cls-2,
                                .cls-5 {
                                    stroke-miterlimit: 10;
                                }

                                .cls-3 {
                                    fill: #4d4d4d;
                                }

                                .cls-4 {
                                    fill: #545353;
                                }

                                .cls-5 {
                                    fill: none;
                                    stroke: #545353;
                                }
                            </style>
                        </defs>
                        <title>middel east asia -01</title>
                        <polygon class="cls-1"
                            points="505.73 450.96 510.98 469.4 507.7 519.1 442.89 538.45 441.54 549.68 462.29 576.01 459.31 585.89 472.42 601.47 475.45 600.67 476.66 601.55 481.15 601.55 484.07 596.73 489.08 596.89 497.17 592.51 501.74 592.85 505.58 592.1 509.21 594.33 511.95 594.06 517.47 585.9 517.2 584.94 518.32 584.69 518.58 582.01 516.42 580.82 516.85 577.99 516.26 575.75 519.44 572.57 521.5 570.42 529.41 570.59 535.09 569.63 537.84 570.75 542.14 566.37 544.21 564.5 544.21 557.43 552.54 547.28 557.71 545.91 560.88 547.46 563.21 545.84 574.55 544.88 575.41 542.65 573.52 540.92 570.68 532.76 571.99 532.5 569.82 528.37 568.88 528.11 570.34 524.48 570.34 520.54 574.21 513.14 576.88 512.47 575.24 509.53 576.27 509.28 579.03 504.29 581.25 502.49 583.31 503.26 582.2 505.5 581.78 508 584.18 509.28 586.86 509.53 589.42 500.86 592.1 498.54 594.62 493.23 600.14 488.25 608.58 474.81 609.38 471.38 608.95 468.42 611.71 463.47 611.96 459.06 610.5 457.44 606.34 456.69 597.91 449.8 595.83 445.66 591.87 442.05 590.13 436.15 583.76 427.71 580.66 427.53 574.98 428.76 564.8 426.84 560.49 427.03 557.53 428.39 551.85 426.84 539.08 416.17 538.4 413.05 530.82 403.75 529.61 390.11 525.14 390.74 505.73 450.96" />
                        <polygon class="cls-1"
                            points="462.29 576.01 441.54 549.68 442.89 538.45 356.7 564.21 315.31 620.24 314.31 599.54 293.95 589.68 274.38 581.79 260.08 581.3 253.2 575.72 247.12 578.35 244.15 589.17 248.26 596.9 242.19 600.84 239.73 605.43 236.26 603.96 232.22 603.57 233.68 607.76 235.74 619.31 235.4 626.21 232.81 626.21 232.81 628.63 229.19 627.59 230.75 630.87 233.16 630.87 233.32 634.33 238.85 641.39 241.77 662.59 247.64 667.95 247.99 674.32 245.57 675.88 247.99 682.08 252.83 687.26 253.69 692.95 255.57 696.75 260.23 696.06 261.44 694.51 267.82 696.57 271.6 695.7 276.27 691.75 280.77 691.75 283.17 694.15 287.48 692.43 291.79 686.39 294.04 686.06 296.61 680.02 302.31 676.4 305.24 675.52 308.86 675.72 309.73 677.08 316.29 676.76 317.66 678.46 322.14 679.5 332.84 675.36 341.45 674.49 344.4 672.09 344.9 669.32 353.05 662.94 356.58 663.12 359.43 665.33 362.68 664.67 364.83 662.59 366.2 663.89 369.4 663.89 376.01 658.38 380.74 650.64 384.95 648.56 387.36 648.85 412.52 641.39 414.76 638.97 428.89 636.38 437.85 631.9 442.35 627.76 452.18 625.68 451.31 623.1 452 621.72 450.12 619.81 450.8 614.14 458.56 604.67 467.34 602.76 472.42 601.47 459.31 585.89 462.29 576.01" />
                        <a href="Itineraries-Astounding-Dubai-Honeymoon-Package"><polygon class="cls-2 dubai"
                            points="426.41 429.9 431.35 447.66 498.16 457.88 505.8 450.74 525.14 390.74 529.61 390.11 529.09 384.44 528.4 381.32 526.32 382.02 525.12 380.97 525.16 380.31 523.12 380.21 522.46 372.13 519.58 371.23 519.52 374.53 518.24 376.78 504.09 385.28 504.09 391.5 490.97 402.7 488.91 405.98 490.81 406.68 492 409.44 486.15 415.64 484.07 412.71 482.17 414.09 479.25 414.09 479.6 417.72 478.22 418.06 477.17 420.14 470.46 421.34 465.63 421.87 463.55 419.27 459.08 419.59 457.18 418.59 453.9 419.27 446.14 417.53 436.82 424.8 433.19 423.73 429.76 423.4 426.13 424.95 424.75 414.6 422.87 416.68 421.1 415.54 420.94 423.4 426.41 429.9" /></a>
                        <path class="cls-3"
                            d="M671.83,403.51v14.36a7.39,7.39,0,0,1-2.53,6,11.19,11.19,0,0,1-13.22,0,7.35,7.35,0,0,1-2.55-6V403.51h5.16v14.36a4.18,4.18,0,0,0,1.07,3.11,4.63,4.63,0,0,0,5.87,0,4.32,4.32,0,0,0,1-3.12V403.51Z" />
                        <path class="cls-3"
                            d="M693.72,425.67h-5.13l-8.12-13.94h-.09v13.91h-5.14V403.51h5.14l8.12,13.92h.09V403.51h5.13Z" />
                        <path class="cls-3" d="M702.7,425.67h-5.13V403.51h5.13Z" />
                        <path class="cls-3" d="M721.52,407.46h-5.86v18.21h-5.14V407.46h-5.75v-3.95h16.75Z" />
                        <path class="cls-3"
                            d="M736.56,416.18h-7.81v5.53h9.36v4h-14.5v-22.2h14.52v3.95h-9.38v4.77h7.81Z" />
                        <path class="cls-3"
                            d="M741,425.67V403.51h8.11a9,9,0,0,1,6.54,2.55,8.66,8.66,0,0,1,2.64,6.53v4a8.64,8.64,0,0,1-2.64,6.54,9,9,0,0,1-6.54,2.55Zm5.14-18.21v14.25h3a3.54,3.54,0,0,0,2.88-1.43,5.79,5.79,0,0,0,1.14-3.7v-4a5.76,5.76,0,0,0-1.14-3.67,3.54,3.54,0,0,0-2.88-1.43Z" />
                        <path class="cls-3"
                            d="M679.35,458.76h-6.59l-1.28,4.31h-5.42l7.23-22.16h5.52l7.24,22.16h-5.42Zm-5.41-3.95h4.22l-2.07-6.88H676Z" />
                        <path class="cls-3"
                            d="M692.79,454.58v8.49h-5.15V440.91h7.72a9.56,9.56,0,0,1,6.1,1.78,5.91,5.91,0,0,1,2.26,4.87,4.94,4.94,0,0,1-.91,3,6.3,6.3,0,0,1-2.67,2,5,5,0,0,1,2.93,1.93,6,6,0,0,1,.89,3.36v1.4a9,9,0,0,0,.26,2,2.62,2.62,0,0,0,.9,1.59v.3H699.8a2.51,2.51,0,0,1-.79-1.66,13.88,13.88,0,0,1-.18-2.23v-1.34a2.94,2.94,0,0,0-3.29-3.26Zm0-4h2.6a3.49,3.49,0,0,0,2.37-.71,2.53,2.53,0,0,0,.83-2,2.87,2.87,0,0,0-.85-2.18,3.3,3.3,0,0,0-2.38-.83h-2.57Z" />
                        <path class="cls-3"
                            d="M719.12,458.76h-6.59l-1.28,4.31h-5.42l7.23-22.16h5.52l7.24,22.16H720.4Zm-5.4-3.95h4.21l-2.07-6.88h-.09Z" />
                        <path class="cls-3"
                            d="M727.41,463.07V440.91h7.26a11.49,11.49,0,0,1,6.43,1.53,5.12,5.12,0,0,1,2.31,4.56,5.32,5.32,0,0,1-.73,2.81,4.61,4.61,0,0,1-2.28,1.85,4.62,4.62,0,0,1,2.93,1.76,5.25,5.25,0,0,1,.95,3.09,5.78,5.78,0,0,1-2.18,4.9,10.12,10.12,0,0,1-6.24,1.66Zm5.15-12.92h2a4.8,4.8,0,0,0,2.77-.65,2.2,2.2,0,0,0,.92-1.92,2.37,2.37,0,0,0-.89-2.06,4.52,4.52,0,0,0-2.71-.65h-2.11Zm0,3.41v5.55h3.3a4,4,0,0,0,2.47-.64,2.38,2.38,0,0,0,.82-2,2.9,2.9,0,0,0-.72-2.14,3.45,3.45,0,0,0-2.39-.78h-3.48Z" />
                        <path class="cls-3" d="M647.21,491H639.4v5.53h9.36v4h-14.5V478.32h14.52v3.95H639.4V487h7.81Z" />
                        <path class="cls-3"
                            d="M663.36,493.83h.09l5-15.51h6.8v22.16h-5.14V486.2H670l-4.89,14.29h-3.45l-4.8-14.08h-.09v14.07h-5.15V478.32h6.75Z" />
                        <path class="cls-3" d="M684.24,500.48h-5.13V478.32h5.13Z" />
                        <path class="cls-3"
                            d="M693.24,492v8.5h-5.15V478.32h7.72a9.56,9.56,0,0,1,6.1,1.78,5.87,5.87,0,0,1,2.25,4.87,4.87,4.87,0,0,1-.9,2.95,6.44,6.44,0,0,1-2.67,2,5,5,0,0,1,2.93,1.93,6,6,0,0,1,.89,3.35v1.4a8.44,8.44,0,0,0,.26,2,2.59,2.59,0,0,0,.9,1.58v.31h-5.32a2.56,2.56,0,0,1-.79-1.66,14,14,0,0,1-.18-2.24v-1.34a2.94,2.94,0,0,0-2.59-3.25,2.66,2.66,0,0,0-.69,0Zm0-4h2.6a3.54,3.54,0,0,0,2.37-.71,2.53,2.53,0,0,0,.83-2,3,3,0,0,0-.85-2.19,3.3,3.3,0,0,0-2.38-.83h-2.57Z" />
                        <path class="cls-3"
                            d="M719.57,496.17H713l-1.28,4.31H706.3l7.23-22.16H719l7.24,22.16h-5.42Zm-5.41-4h4.22l-2.07-6.88h-.09Z" />
                        <path class="cls-3" d="M741.93,482.27h-5.86v18.21h-5.15V482.27h-5.75v-3.95h16.76Z" />
                        <path class="cls-3" d="M757,491h-7.8v5.53h9.36v4H744V478.32h14.52v3.95h-9.37V487H757Z" />
                        <path class="cls-3"
                            d="M772.84,494.6a2.22,2.22,0,0,0-.78-1.82,9.82,9.82,0,0,0-2.81-1.34,21.44,21.44,0,0,1-6.13-2.86,5.14,5.14,0,0,1-2-4.36,5.32,5.32,0,0,1,2.33-4.5,11.21,11.21,0,0,1,12,0,5.77,5.77,0,0,1,2.24,5v.09h-5a2.8,2.8,0,0,0-.86-2.27,3.93,3.93,0,0,0-2.57-.71,3.35,3.35,0,0,0-2.2.68,2.11,2.11,0,0,0-.81,1.69,1.81,1.81,0,0,0,.83,1.56,16.28,16.28,0,0,0,3.1,1.47A16.25,16.25,0,0,1,776,490a5.49,5.49,0,0,1,2,4.5,5.34,5.34,0,0,1-2.28,4.58,10.09,10.09,0,0,1-6.06,1.65,11,11,0,0,1-6.37-1.78q-2.61-1.77-2.53-5.58v-.09h5a3.43,3.43,0,0,0,1,2.75,4.38,4.38,0,0,0,2.91.82,3.82,3.82,0,0,0,2.41-.64A2.06,2.06,0,0,0,772.84,494.6Z" />
                        <circle class="cls-4" cx="483.48" cy="435.02" r="3.8" />
                        <polygon class="cls-1"
                            points="411.75 406.81 415.53 406.81 415.45 406.68 418.02 406.16 419.74 394.95 417.35 390.46 415.78 390.46 414.92 382.7 415.96 382.7 417.52 375.28 416.65 373.73 414.76 373.73 414.41 371.34 410.45 368.23 408.71 368.23 408.02 370.29 406.3 370.46 406.3 372.36 404.76 373.56 405.61 377.2 404.57 377.2 405.78 384.08 404.57 383.21 402.69 383.21 402 390.12 403.03 393.4 404.57 395.3 404.57 399.97 403.41 400.7 404.36 402.88 411.75 406.81" />
                        <polygon class="cls-1"
                            points="650.97 378.72 648.83 373.14 652.29 368.37 651.12 364.42 653.43 359.98 660.33 357.19 662.64 354.73 673.65 351.44 679.55 353.74 682.84 350.62 682.18 341.75 676.27 337.8 670.68 338.13 669.52 334.04 669.21 327.79 667.57 322.53 667.39 314.81 661.15 314.14 660.49 311.68 656.23 310.04 648.66 309.38 646.69 307.09 640.94 303.96 635.02 297.71 632.38 292.46 620.57 276.67 637.65 253.35 639.46 250.56 637.15 241.53 637.65 235.28 634.04 227.4 614.16 227.08 613.51 218.69 611.21 214.59 612.84 211.46 609.57 200.78 603.48 188.96 604.64 183.04 611.7 174.33 609.74 174.33 602 172.53 602 168.08 600.52 159.86 599.39 158.89 603.65 152.81 599.88 149.84 597.89 146.72 602.83 145.42 608.74 141.47 608.41 138.52 609.57 137.37 606.6 133.4 608.25 129.98 607.76 126.86 608.07 120.44 607.82 119.92 605.94 116.35 606.11 112.88 604.15 107.29 605.79 103.84 602.17 97.45 596.42 94.97 586.4 94.14 577.19 81.34 568.65 79.37 563.88 80.51 561.75 78.88 560.43 72.13 555.68 71.32 546.47 67.54 542.85 69.99 539.25 70.17 525.95 61.78 518.86 59.82 510.65 53.24 505.56 53.41 501.14 51.61 496.52 52.74 494.87 58.18 486.35 56.36 476.63 58.18 467.12 66.22 463.34 66.55 460.38 70.33 458.4 76.41 447.24 77.07 442.51 79.79 444.72 85.73 448.17 90.82 446.53 96.74 441.44 95.75 428.29 94.61 416.95 96.08 401.84 100.36 395.11 100.36 381.31 96.4 376.22 95.91 364.71 91.32 361.26 87.04 359.79 82.11 356.51 81.95 351.23 78.5 345.81 80.47 342.05 79.16 336.63 79.16 332.19 74.4 328.74 73.9 327.26 71.76 328.24 66.51 327.57 61.09 324.31 56.32 324.32 54.94 322.37 56.2 318.58 55.37 317.11 52.74 313.33 50.95 305.74 42.6 313.14 37.59 307.88 34.29 306.64 31.99 309.44 29.67 306.39 26.62 304.42 23.24 302.28 22.73 301.86 21.42 299.48 21.34 295.19 24.56 291.9 25.22 289.02 29.09 286.3 30.23 282.43 35.69 280.06 35.78 278.49 37.99 277.75 40.64 273.73 42.4 270.52 41.31 265.5 42.25 265.46 42.2 264.2 45.85 257.81 42.25 251.83 42.03 245.9 38.99 245.15 34.62 235.19 29.18 235.54 25.89 233.91 21.79 231.05 22.04 227.84 18.29 226.91 18.24 226.91 18.25 224.44 20.39 222.15 26.47 215.74 26.96 215.91 29.26 218.37 33.69 220.5 42.25 219.84 46.51 220 52.74 225.27 53.41 226.75 56.2 223.79 63.1 224.11 69.67 223.62 72.31 229.69 74.59 234.63 83.46 236.77 88.73 235.59 92.66 236.1 92.52 240.38 92.84 242.53 98.58 242.35 102.7 244.49 107.13 247.94 107.96 250.24 111.74 252.38 116.99 256.5 119.29 259.82 119.77 267.55 124.23 270.94 125.06 275.88 124.55 279 126.13 280.96 127.44 279.57 128.43 275.14 129.92 272.42 130.46 272.92 136.38 274.72 137.53 274.72 145.57 271.93 147.38 268.96 146.72 268.14 153.79 265.69 155.93 265.52 164.31 264.2 167.44 265.69 169.74 263.87 172.2 263.87 175.32 266.99 175.64 269.46 178.76 274.38 179.76 275.38 183.04 280.47 187.31 278.33 192.06 279.65 193.72 278.83 196.5 283.61 200.12 285.9 198.48 289.83 198.16 306.76 209.33 309.21 208.34 312.01 210.3 316.3 218.35 320.57 220.66 325.33 230.86 320.57 235.12 320.24 241.86 322.05 247.94 329.27 247.94 330.75 262.07 334.7 264.86 339.62 266.83 341.3 268.21 343.35 267.33 343.19 268.71 346.63 273.2 349.39 273.02 351.98 270.78 352.15 266.47 348.7 263.71 351.47 264.06 354.56 263.88 355.77 262.5 354.91 265.09 354.22 267.68 359.39 270.1 361.46 269.24 363.7 273.37 365.94 273.54 373.03 267.68 375.43 268.87 380.26 275.28 380.78 279.58 389.04 289.58 389.75 296.65 392.17 298.2 395.61 297.69 398.03 301.83 396.31 301.83 394.75 300.81 393.71 302 397.84 305.45 399.91 304.75 400.77 308.37 407.68 323.72 412.33 326.48 420.61 325.62 426.48 327.52 428.89 330.1 436.13 330.45 437.17 332.01 441.48 332.35 442.18 334.42 439.41 336.82 446.14 343.91 451.48 345.11 455.11 347.53 458.9 348.05 466.82 355.11 469.07 353.91 474.59 353.03 482.17 354.95 491.14 360.97 499.07 354.42 508.58 348.56 508.74 345.98 509.25 348.05 513.9 347.88 519.97 343.39 524.61 342 532.36 343.04 532.36 344.59 534.43 344.44 534.96 346.84 539.08 352.69 541.51 360.97 546 369.58 546.33 375.64 548.93 377.35 549.79 379.79 561.85 379.59 566.85 379.42 571.17 382.7 576.52 378.22 578.42 378.39 584.46 384.08 597.04 383.21 604.11 386.33 614.1 386.68 618.09 388.07 620.15 387.36 623.41 390.12 624.79 389.94 625.83 385.99 628.77 385.48 631.01 389.41 636.69 391.5 644.29 394.27 647.73 392.36 648.76 390.46 650.08 390.46 649.98 386.78 650.97 378.72" />
                        <polygon class="cls-1"
                            points="329.01 275.24 321.11 272.27 310.91 276.89 305.97 288.07 300.9 297.67 303.97 297.71 324.83 304.12 326.15 312.51 340.06 306.02 337.67 303.03 338.54 302.5 339.39 302.5 336.79 299.57 336.64 295.79 335.09 292.34 334.03 294.42 325.07 288.55 338.18 285.96 335.94 275.79 336.5 274.53 334.27 273.6 329.01 275.24" />
                        <polygon class="cls-1"
                            points="46.68 198.16 49.14 193.4 51.42 193.27 51.67 193.27 52.26 193.23 55.54 187.97 57.34 181.72 61.79 179.42 64.25 179.42 66.56 177.95 64.91 174.5 65.23 168.25 61.28 166.29 59.16 161.35 49.52 160.93 49.44 162.14 46.34 162.83 45.31 179.08 41.51 184.94 37.35 190.81 37.35 197.03 36.69 197.76 39.46 198.32 46.68 198.16" />
                        <polygon class="cls-1"
                            points="40.86 285.73 43.07 283.44 43.07 278.23 44.81 272.55 44.64 265.86 46.12 264.95 46.12 260 47.17 254.84 47 251.39 47.88 241.47 46.18 242.01 43.4 242.01 39.61 243.99 37.47 241.86 38.47 234.78 38.47 224.11 37.13 221.8 38.29 215.58 43.72 215.58 44.22 219.19 46.51 219.52 49.25 217.06 49.14 214.43 49.73 214.47 48.68 212.44 47.76 208.47 49.08 201.71 50.17 195.96 51.42 193.27 49.14 193.4 46.68 198.16 39.46 198.32 36.69 197.76 31.83 203.25 30.1 219.82 23.55 232.95 16.49 242.46 19 243.59 23.48 250.2 25.84 258.63 32.3 268.37 37.29 280.25 35.33 285.79 38.29 293.54 40.94 289.37 41.09 288.7 40.86 285.73" />
                        <polygon class="cls-1"
                            points="324.83 304.12 303.97 297.71 300.9 297.67 257.93 296.96 151.3 222.91 129.91 220.28 121.69 228.82 87.79 239.37 113.47 267.34 103.91 278.86 103.26 285.44 85.83 288.07 69.36 304.18 46.33 297.6 39.25 297.9 38.63 306.3 38.97 315.96 36.57 322.51 37.07 324.92 40.36 323.72 41.4 325.44 44.33 323.38 49.49 326.31 48.1 327.18 58.12 338.4 59.16 343.21 61.38 344.24 62.25 348.9 67.26 353.39 69.66 353.55 76.23 364.78 76.4 368.39 78.12 372.36 81.74 373.04 82.78 378.74 85.01 381.84 90.18 384.08 94.34 394.95 97.61 397.2 98.99 404.1 97.61 407.02 97.61 410.3 102.43 413.74 102.6 417.53 105.72 419.44 109.16 415.97 113.99 419.95 121.24 423.25 126.94 429.1 128.65 434.09 130.36 434.44 131.07 440.13 133.29 442.05 135.2 449.8 139.69 453.75 141.09 461.71 142.47 464.21 140.74 471.7 139.04 473.25 140.74 476.87 142.98 485.13 143.93 493.8 148.06 497.41 148.74 500.59 160.35 512.99 164.22 514.6 168.82 514.98 171.93 519.46 174.18 519.46 180.9 525.16 181.07 528.6 186.77 529.62 186.07 532.92 189 534.12 194.36 553.79 199.18 556.72 199.53 562.59 216.78 579.98 219.36 579.98 220.91 589.82 228.16 591.88 232.22 603.57 236.26 603.96 239.73 605.43 242.19 600.84 248.26 596.9 244.15 589.17 247.12 578.35 253.2 575.72 260.08 581.3 274.38 581.79 293.95 589.68 314.31 599.54 315.31 620.24 356.7 564.21 442.89 538.45 507.7 519.1 510.98 469.4 505.73 450.96 505.8 450.74 498.16 457.88 431.35 447.66 426.41 429.9 420.94 423.4 421.1 415.54 420.95 415.48 419.74 415.97 417.69 412.39 417.86 410.12 419.93 407.54 416.13 407.89 415.53 406.81 411.75 406.81 404.36 402.88 403.41 400.7 402.17 401.5 398.36 396.15 397.33 390.29 385.78 375.81 382.84 370.29 385.43 370.98 385.43 368.39 381.29 357.35 381.29 354.79 378.37 350.29 376.29 350.29 368.88 339.59 366.11 339.43 362.84 335.79 363.19 334.23 364.57 333.9 366.47 335.12 364.57 332.35 360.77 331.66 353.02 329.77 348.7 318.21 346.29 312.7 343.35 311.13 343.35 307.33 341.79 308.21 340.06 306.02 326.15 312.51 324.83 304.12" />
                        <polygon class="cls-1"
                            points="61.28 166.29 65.23 168.25 64.91 174.5 66.56 177.95 64.25 179.42 61.79 179.42 57.34 181.72 55.54 187.97 52.26 193.23 51.67 193.27 52.84 194.88 56.13 198.06 56.66 206.18 55.45 209.83 57.51 209.98 65.08 213.26 69.68 216.88 71.33 216.88 74.45 218.85 119.43 190.62 119.51 190.44 160.03 161.53 162.17 158.06 165.79 152.81 165.94 146.56 164.81 142.94 168.75 134.9 168.59 127.66 164.32 119.14 164.81 111.74 168.9 104.18 177.78 102.36 182.56 98.27 184.69 98.27 187.64 93.33 186.67 92.54 184.85 91.02 178.44 91.19 169.41 94.32 157.9 93.65 153.46 94.49 147.71 94.49 139.66 96.94 136.22 100.72 130.3 102.53 129.31 104.5 118.96 104.18 111.58 102.7 109.27 100.57 105 99.41 93.17 100.57 89.9 102.53 87.25 102.87 76.24 107.13 72.31 106.16 65.74 104.5 64.42 108.12 64.25 116.66 61.28 118.47 61.79 123.56 57.34 125.19 52.58 126.03 48.09 125.18 47.97 125.62 44.86 126.85 45.88 133.75 49.7 141.33 51.2 147.29 50.15 152.12 49.52 160.93 59.16 161.35 61.28 166.29" />
                        <polygon class="cls-1"
                            points="334.7 264.86 330.75 262.07 329.27 247.94 322.05 247.94 320.24 241.86 320.57 235.12 325.33 230.86 320.57 220.66 316.3 218.35 312.01 210.3 309.21 208.34 306.76 209.33 289.83 198.16 285.9 198.48 283.61 200.12 278.83 196.5 279.65 193.72 278.33 192.06 280.47 187.31 275.38 183.04 274.38 179.76 269.46 178.76 266.99 175.64 263.87 175.32 263.87 172.2 265.69 169.74 264.2 167.44 265.52 164.31 265.69 155.93 268.14 153.79 268.96 146.72 271.93 147.38 274.72 145.57 274.72 137.53 272.92 136.38 272.42 130.46 275.14 129.92 279.57 128.43 280.96 127.44 279 126.13 275.88 124.55 270.94 125.06 267.55 124.23 259.82 119.77 256.5 119.29 252.38 116.99 250.24 111.74 247.94 107.96 244.49 107.13 242.35 102.7 242.53 98.58 240.38 92.84 236.1 92.52 230.53 94.14 226.75 92.35 226.91 87.91 223.79 85.93 217.87 87.57 209.98 85.61 200.61 85.61 198.33 87.43 192.9 87.43 186.67 92.54 187.64 93.33 184.69 98.27 182.56 98.27 177.78 102.36 168.9 104.18 164.81 111.74 164.32 119.14 168.59 127.66 168.75 134.9 164.81 142.94 165.94 146.56 165.79 152.81 162.17 158.06 160.03 161.53 119.51 190.44 119.43 190.62 119.45 190.6 131.08 220.42 151.3 222.91 257.93 296.96 300.9 297.67 305.97 288.07 310.91 276.89 321.11 272.27 329.01 275.24 334.27 273.6 336.5 274.53 338.87 269.24 341.3 268.21 339.62 266.83 334.7 264.86" />
                        <polygon class="cls-1"
                            points="69.3 304.44 85.85 288.28 103.37 285.63 104.02 279.04 113.63 267.48 87.82 239.43 121.89 228.85 130.15 220.29 131.32 220.43 119.64 190.52 119.62 190.54 74.42 218.86 71.28 216.88 69.63 216.88 65.01 213.25 57.4 209.96 55.09 209.8 52.28 212.28 50.79 214.58 48.98 214.42 49.09 217.06 49.14 218.53 49.65 221.32 48.81 223.47 48.32 229.57 48.48 233.05 46.84 251.49 47 254.95 45.95 260.13 45.95 265.09 44.46 266 44.64 272.71 42.89 278.41 42.89 283.63 40.67 285.93 40.9 288.91 40.75 289.58 40.9 289.3 41.08 291.54 39.12 297.23 39.05 298.14 46.16 297.84 69.3 304.44" />
                        <line class="cls-5" x1="484.1" y1="435.39" x2="647.35" y2="438.23" />
                    </svg>
                </div>
            </div>
        </div>


        <div class="container ftrditi1">
            <main>
                <!-- <h1>Featured Itineraries</h1> -->
                <div class="row">
                    
                </div>
                
        </div>
        </main>
        </div>

	<!-- Footer Component -->

	<%- include('../partials/footer') %>

	<!-- Custom JS file -->
    <script src="../assets/js/script.js"></script>
    

    </body>
    </html>